table.calendar {
  width: 355px;
  margin: 0;

  border-spacing: 0;
  border-collapse: collapse;

  th {
    text-align: left;
    font-weight: 600;
    border-bottom: 2px solid #f7f7f8;
    position: relative;

    &.active {
      &:after {
        display: block;
        clear: both;
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        max-width: 250px;
        //height  : 1px;
        width: 44px; /* or 100px */
        border-bottom: 2px solid #e9636c;
        margin: 0 auto;
        padding: 4px 0px;
      }
    }

    &.today {
        color: $red;
    }

    @include breakpoint(xs) {
      display: none;
    }
  }

  small {
    font-weight: 300;
    display: block;
    font-size: 12px;
  }

  // tbody {
  //     tr {
  //         &:last-child {
  //             td {
  //                 padding-bottom: 0;
  //             }
  //         }
  //     }
  // }

  @include breakpoint(xs) {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: calc(100vw - 20px);
    position: relative;
    margin-right: -20px;
    margin-top: 30px;
  }

  td {
    padding: 10px 10px 0 0;
    border-spacing: 0;

    &:nth-child(7n) {
      padding-right: 0;
    }

    .calendar__more-button {
      color: $orange;
    }

    @include breakpoint(xs) {
      padding-top: 0;
      display: none;
    }
  }

  .calendar__selected-day {
    @include breakpoint(xs) {
      display: block;
    }
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $darkblue;
    color: $white;
    font-size: 12px;
    margin: 0;
    border-radius: 2px;
    width: 44px;
    height: 28px;
    transition: color 0.3s ease;
    cursor: pointer;

    &:empty {
      background: #ecedef;

      &:hover {
        background: #ecedef;
        cursor: inherit;
      }

      @include breakpoint(xs) {
        display: none;
      }
    }

    &:hover {
      color: $darkblue;
      background: $orange;
    }

    @include breakpoint(xs) {
      width: 64px;
      font-weight: 600;
    }
  }

  .calendar__more-times--hidden {
    display: none;

    @include breakpoint(xs) {
      display: block;
    }
  }
}

.calendar__next-time {
  text-align: center;
  background-color: $darkgray;
  padding: 10px 0;
  border-radius: 5px;
  font-family: 'Sen', sans-serif;
  font-weight: 600;
  margin-right: 20px;
  margin-left: 10px;
  display: none;

  @include breakpoint(xs) {
    display: block;
  }
}
