table.calendar {
    width: 355px;
    margin: 0;

    border-spacing: 0;
    border-collapse: collapse;

    thead {}

    th {
        text-align: left;
        font-weight: 600;
        padding-bottom: 5px;
        border-bottom: 2px solid #f7f7f8;
        position: relative;

        &.active {
            //border-bottom-color: #e9636c;

            &:after {
                display:block;
                clear:both;
                content : "";
                position: absolute;
                left    : 0;
                bottom  : -2px;
                max-width:250px;
                //height  : 1px;
                width   : 44px;  /* or 100px */
                border-bottom:2px solid #e9636c;
                margin:0 auto;
                padding:4px 0px;
            }
        }
    }

    small {
        font-weight: 300;
        display: block;
        font-size: 12px;
    }

    tbody {
        tr {
            &:last-child {
                td {
                    padding-bottom: 0;
                }
            }
        }
    }

    td {
        padding: 6px 10px 6px 0;
        border-spacing: 0;

        &:nth-child(7n) {
            padding-right: 0;
        }

        .calendar__more-button {
            color: $orange;
        }
    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: $darkblue;
        color: $white;
        font-size: 12px;
        margin: 0;
        border-radius: 2px;
        width: 44px;
        height: 28px;
        transition: color .1s ease;
        cursor: pointer;

        &:empty {
            background: #ecedef;

            &:hover {
                background: #ecedef;
                cursor: inherit;
            }
        }

        &:hover {
            color: $darkblue;
            background: $orange;
        }
    }

    .hidden {
        display: none;
    }
}