.cart {
  padding: 10px 20px 0;
  border: 1px solid $lightgray;
  border-bottom: 0;
  border-radius: 5px;
  margin: 0 0 40px;
  position: relative;

  @include breakpoint(sm) {
    padding: 10px 10px 0;
  }
  .cart {
    &__header {
      display: flex;
      padding-bottom: 10px;
      border-bottom: 1px solid $lightgray;
      margin-bottom: 20px;

      @include breakpoint(sm) {
        flex-direction: column;
        margin-bottom: 10px;
      }

      &--reservations {
        align-items: flex-end;

        @include breakpoint(sm) {
          align-items: flex-start;
        }
      }
    }

    &__about {
      display: flex;
      align-items: center;

      h3 {
        font-weight: 900;
        margin: 0 20px 0 0;
      }

      h4 {
        font-weight: 400;
        margin: 0;
      }

      &--time {
        flex-basis: 35.5%;
        // flex-basis: auto;
        // width: 380px;

        @include breakpoint(sm) {
          flex-basis: 100%;
          margin-bottom: 5px;
        }
      }

      &--time-reservations {
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 10px;

        .cart__time {
          display: flex;
          align-items: center;

          &--old {
            color: $gray;
          }
        }
      }

      &--company {
        @include breakpoint(sm) {
          flex-basis: 100%;
          display: block;
          h3 {
            padding-bottom: 5px;
          }
        }
      }
    }

    &__info {
      display: flex;
      align-items: flex-start;

      h3,
      h4 {
        margin: 0;
      }

      @include breakpoint(sm) {
        flex-direction: column;
      }
    }

    &__specialist {
      display: flex;
      align-items: center;
      width: 390px;
      flex-basis: 37%;
      // flex-basis: 33%;
      // flex-basis: 33%;

      @include breakpoint(sm) {
        flex-basis: 100%;
        margin-bottom: 10px;
        width: 100%;
      }
    }

    &__photo {
      background-image: url(img/profile.svg);
      width: 72px;
      height: 72px;
      border-radius: 50%;
      margin-right: 20px;
      margin-bottom: 10px;
      box-shadow: 0px 12px 29px 0px rgba(0, 0, 0, 0.08);
    }

    &__name {
      top: -10px;
      position: relative;
    }

    &__products {
      flex-basis: 67%;

      @include breakpoint(sm) {
        flex-basis: 100%;
        display: block;
        width: 100%;
      }

      .product-action {
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 8px;
        height: 60px;

        @include breakpoint(sm) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &__status {
      margin-left: auto;

      &.cyan-text {
        color: $cyan;
      }

      &.orange-text {
        color: $orange;
      }

      &.red-text {
        color: $red;
      }

      &.black-text {
        color: $black;
      }
    }

    .product-action__duration,
    .product-action__price,
    .product-action__periodicity {
      margin-top: 8px;
    }

    &__buttons.company__button-container {
      margin-top: 10px;
      button {
        border-radius: 0;
      }
      .cart__trash,
      .cart__reserve,
      .cart__cancel {
        flex-basis: 35.5%;
        height: 36px;

        @include breakpoint(sm) {
          height: 26px;
          flex-basis: 26%;
        }
      }

      .cart__trash {
        &::before {
          height: 20px;
          width: 20px;
          margin-right: 20px;
          content: url("img/icons/trash-cyan.svg");
          @include breakpoint(sm) {
            height: 15px;
            width: 15px;
            margin-right: 10px;
          }
        }
      }

      .cart__cancel {
        &::before {
          width: 16px;
          margin-right: 20px;
          content: url(img/icons/restore-cyan.svg);
          @include breakpoint(sm) {
            width: 12px;
            margin-right: 10px;
          }
        }
      }

      .cart__change-time {
        flex-basis: 27%;
        height: 36px;

        @include breakpoint(sm) {
          height: 26px;
        }

        &::before {
          height: 20px;
          width: 20px;
          margin-right: 20px;
          content: url("img/icons/clock-white.svg");
          @include breakpoint(sm) {
            height: 15px;
            width: 15px;
            margin-right: 10px;
          }
        }
      }

      .cart__change-time-register {
        flex-basis: 64%;
        height: 36px;
        &::before {
          margin-right: 20px;
          @include breakpoint(sm) {
            margin-right: 10px;
            height: 15px;
            width: 15px;
          }
        }
        @include breakpoint(sm) {
          height: 26px;
          flex-basis: 26%;
        }
      }

      .history__button {
        flex-basis: 35.5%;
        height: 36px;
        &::before {
          content: none;
        }
        @include breakpoint(sm) {
          height: 26px;
        }

        &--register {
          &::before {
            width: 16px;
            margin-right: 20px;
            content: url(img/icons/restore-white.svg);
            @include breakpoint(sm) {
              width: 12px;
            }
          }
          @include breakpoint(sm) {
            flex-basis: 35.5%;
          }
        }
      }

      .recommendations {
        &::before {
          width: 20px;
          content: url(img/icons/checkmark-white.svg);
          @include breakpoint(sm) {
            width: 15px;
          }
        }
        height: 36px;
        @include breakpoint(sm) {
          height: 26px;
        }
      }

      button {
        margin: 0;
        flex: auto;
        border-radius: 0;

        @include breakpoint(sm) {
          height: 35px;

          &::before {
            margin-right: 10px;
          }
        }

        &:nth-of-type(2) {
          border-radius: 0;
        }

        &:first-of-type {
          border-bottom-left-radius: 5px;
        }

        &:last-of-type {
          // border-radius: 0;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }

  &--login {
    border: none;

    .cart__header {
      flex-wrap: wrap;
    }

    .cart__about {
      flex-basis: 100%;
    }
  }
}

.cart-container {
  margin-top: 40px;
  flex-basis: 58%;
  border: 1px solid $lightgray;
  padding: 20px 20px 0;
  border-radius: 5px;

  .cart__buttons {
    @extend .company__button-container;

    button {
      border-radius: 0;
    }
  }
}
