.pagination {
    width: 100%;
    padding-top: 32px;
    border-top: 1px solid $lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .pagination {
        &__list {
            display: flex;
            align-items: center;
            margin: 0 auto 0 -15px;

            @include breakpoint(xs) {
                margin: 0 auto;
                width: 100%;
            }
        }

        &__button {
            margin: 0 15px;

            @include breakpoint(xs) {
                margin: 0 auto;
            }

            &--active {
                font-weight: 600;
                border-bottom: 1px solid $darkblue;
            }

            &:before {
                content: '';
                display: inline-block;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }

            &--first {
                &:before {
                    background-image: url('img/icons/angle-left-double.svg');
                    width: 13.5px;
                    height: 12px;
                    transform: scale(-1, 1);
                }

                @include breakpoint(xs) {
                    margin-left: 0;
                }
            }

            &--prev {
                &:before {
                    background-image: url('img/icons/angle-left-thin.svg');
                    width: 9px;
                    height: 12px;
                    transform: scale(-1, 1);
                }
            }

            &--next {
                &:before {
                    background-image: url('img/icons/angle-left-thin.svg');
                    width: 9px;
                    height: 12px;
                    
                }
            }

            &--last {
                &:before {
                    background-image: url('img/icons/angle-left-double.svg');
                    width: 13.5px;
                    height: 12px;
                    
                }
                @include breakpoint(xs) {
                    margin-right: 0;
                }
            }
        }

        &__info {
            margin-left: 10px;
            position: relative;

            @include breakpoint(xs) {
                font-size: .875rem;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -5px;
                width: 1px;
                height: 70%;
                top: 15%;
                background: $darkblue;
                display: inline-block;
              }

              &:last-of-type {
                  &:after {
                      display: none;
                  }

                  @include breakpoint(xs) {
                      width: 100%;
                      text-align: center;
                      margin: 0 auto;
                  }
              }

            @include breakpoint(xs) {
                margin: 20px auto;

                &:after {
                    display: none;
                }
            }
        }
    }
}