.pagination {
    width: 100%;
    padding-top: 32px;
    border-top: 1px solid $lightgray;
    display: flex;
    flex-wrap: wrap;

    .pagination {
        &__list {
            display: flex;
            align-items: center;
            margin: 0 -15px;
        }

        &__button {
            margin: 0 15px;

            &--active {
                font-weight: 600;
                border-bottom: 1px solid $darkblue;
            }

            &:before {
                content: '';
                display: inline-block;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }

            &--first {
                &:before {
                    background-image: url('img/icons/angle-left-double.svg');
                    width: 13.5px;
                    height: 12px;
                    transform: scale(-1, 1);
                }
            }

            &--prev {
                &:before {
                    background-image: url('img/icons/angle-left-thin.svg');
                    width: 9px;
                    height: 12px;
                    transform: scale(-1, 1);
                }
            }

            &--next {
                &:before {
                    background-image: url('img/icons/angle-left-thin.svg');
                    width: 9px;
                    height: 12px;
                    
                }
            }

            &--last {
                &:before {
                    background-image: url('img/icons/angle-left-double.svg');
                    width: 13.5px;
                    height: 12px;
                    
                }
            }
        }

        &__info {
            margin-left: auto;

            @include breakpoint(sm) {
                margin-left: 0;
            }
        }
    }
}