.warning-popup-container {
    background-color: rgba(0,0,0, .43);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    top: 0;

  .warning-popup {
    width: 670px;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;

    @include breakpoint(sm) {
      width: 90%;
      margin-top: 45vh;
    }

    &__header {
      display: flex;
      padding-bottom: 30px;
      justify-content: space-between;
      background-color: $darkblue;
      padding: 30px 40px;
      align-items: center;

      @include breakpoint(sm) {
        padding: 10px 20px;
      }

      h4 {
        margin: 0;
        color: $white;
        font-weight: 400;
        font-size: 1.5rem;

        @include breakpoint(sm) {
          font-size: 1.125rem;
        }
      }

      button {
        background-color: transparent;
        padding: 0;

        &:before {
          content: url("img/icons/search-close-white.svg");
          width: 30px;
          display: inline-block;

          @include breakpoint(sm) {
            width: 17px;
          }
        }
      }
    }

    &__content {
      padding: 40px;
      background-color: $white;

      @include breakpoint(sm) {
        padding: 30px;
      }

      p {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        text-align: left;
        font-family: "Sen", sans-serif;

        @include breakpoint(sm) {
          font-size: 1rem;
        }
      }

      &--delete {
        padding-bottom: 0;
      }
    }

    &__button-container {
      display: flex;
      margin-top: 40px;
      width: calc(100% + 80px);
      margin-left: -40px;

      @include breakpoint(sm) {
        margin-top: 30px;
        width: calc(100% + 60px);
        margin-left: -30px;
      }

      .warning-popup__button {
        flex: 1 0 50%;

        &:first-of-type {
          border-radius: 0 0 0 5px;
        }

        &:last-of-type {
          border-radius: 0 0 5px 0;
        }

        &--delete {
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: url("img/icons/trash-white.svg");
            display: inline-block;
            width: 16px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
