.warning-popup-container {
  background-color: rgba(16, 27, 81, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;

  .warning-popup {
    width: 670px;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;

    @include breakpoint(sm) {
      width: 90%;
      margin-top: 45vh;
    }

    &__header {
      display: flex;
      padding-bottom: 30px;
      justify-content: space-between;
      background-color: $darkblue;
      padding: 30px 40px;
      align-items: center;

      @include breakpoint(sm) {
        padding: 10px 20px;
      }

      h4 {
        margin: 0;
        color: $white;
        font-weight: 400;
        font-size: 1.5rem;

        @include breakpoint(sm) {
          font-size: 1.125rem;
        }
      }

      button {
        background-color: transparent;
        padding: 0;

        &:before {
          content: url("img/icons/search-close-white.svg");
          width: 30px;
          display: inline-block;

          @include breakpoint(sm) {
            width: 17px;
          }
        }
      }
    }

    &__content {
      padding: 20px 30px;
      background-color: $white;

      @include breakpoint(sm) {
        padding: 30px;
      }

      p {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        text-align: left;
        font-family: "Sen", sans-serif;

        @include breakpoint(sm) {
          font-size: 1rem;
        }
      }

      &--delete {
        padding-bottom: 0;
      }

      &--message {
        padding-top: 30px;
        padding-bottom: 0;

        @include breakpoint(sm) {
          padding-top: 20px;
          padding-right: 10px;
          padding-left: 10px;
        }

        .warning-popup__inputs-container .select2-container {
          width: 230px !important;
          margin-bottom: 10px;

          @include breakpoint(sm) {
            width: auto;
          }

          .select2-selection--single {
            border-color: $darkblue;
          }

          .select2-selection__rendered {
            background-image: url(img/icons/message.svg);
            background-repeat: no-repeat;
            background-position: 9px;
            background-size: 10%;
            display: block;
            padding-left: 40px;

            @include breakpoint(sm) {
              // background-size: 7%;
              background-position: 9px 7px;
            }
          }
        }
      }

      &--new-message {
        padding-bottom: 0;
      }
    }

    &__button-container {
      display: flex;
      margin-top: 40px;
      width: calc(100% + 80px);
      margin-left: -40px;

      @include breakpoint(sm) {
        margin-top: 30px;
        width: calc(100% + 60px);
        margin-left: -30px;
      }

      .warning-popup__button {
        flex: 1 0 50%;

        &:first-of-type {
          border-radius: 0 0 0 5px;
        }

        &:last-of-type {
          border-radius: 0 0 5px 0;
        }

        &--delete {
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: url("img/icons/trash-white.svg");
            display: inline-block;
            width: 16px;
            margin-right: 10px;
          }
        }

        &.warning-popup__button--send {
          &:before {
            content: url("img/icons/send-white.svg");
          }
        }
      }
    }

    &__inputs-container {
      .select2-container {
        width: 100% !important;
        margin-bottom: 20px;
      }

      .select2-selection--single {
        border-color: $lightgray;
      }
    }

    &__textarea {
      width: calc(100% + 80px);
      margin-left: -40px;
      border-top: 1px solid $gray;

      @include breakpoint(sm) {
        width: calc(100% + 60px);
        margin-left: -30px;
      }

      textarea {
        border: none;
        padding: 20px 40px;
        height: 200px;

        @include breakpoint(sm) {
          padding: 20px 30px;
        }
      }
    }

    &__button-container {
      width: calc(100% + 80px);
      margin-left: -40px;

      @include breakpoint(sm) {
        width: calc(100% + 60px);
        margin-left: -30px;
      }

      button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(890px) {
          font-size: 0.875rem;
          padding: 5px 5px;
          height: 35px;
        }

        &::before {
          display: inline-block;
          height: 20px;
          margin-right: 20px;

          @include breakpoint(890px) {
            margin-right: 5px;
            height: 16px;
          }
        }

        &:first-of-type {
          border-radius: 0 0 0 5px;
          margin-top: 10px;

          @include breakpoint(sm) {
            margin-top: 0px;
          }

          &::before {
            width: 15px;
            content: url("img/icons/restore-orange.svg");

            @include breakpoint(890px) {
              width: 12px;
            }
          }
        }

        &:last-of-type {
          border-radius: 0 0 5px 0;
          margin-top: 10px;

          @include breakpoint(sm) {
            margin-top: 0px;
          }

          &::before {
            width: 20px;
            content: url("img/icons/checkmark-white.svg");

            @include breakpoint(890px) {
              width: 16px;
            }
          }
        }
      }
    }
  }

  .controls.warning-popup {
    .controls__table-container {
      @include breakpoint(1180px) {
        width: 100%;
      }
    }

    table {
      thead tr {
        height: 32px;
      }

      th {
        // padding-top: 0;
        // padding-bottom: 0;
        height: 100%;
        font-weight: 400;
        font-size: 0.75rem;
        width: auto;
      }

      tr.active {
        background-color: $darkgray;
      }

      tbody tr {
        border-collapse: separate;
      }

      th {
        &:nth-of-type(2) {
          min-width: 287px;
        }
      }
      th,
      td {
        vertical-align: middle;
        &:first-of-type {
          width: 118px;
          min-width: 118px;
        }
        &:nth-of-type(2) {
          width: 287px;
        }
        &:nth-of-type(3) {
          width: 110px;
          min-width: 110px;
        }
        &:last-of-type {
          width: 85px;
          min-width: 85px;
          text-align: center;
        }
      }

      td {
        border-left: 1px solid $lightgray;
        border-top: 1px solid $lightgray;
        border-bottom: none;
        font-size: 0.75rem;
        padding: 10px;

        &:first-of-type {
          font-weight: bold;
        }
      }

      tbody {
        max-height: 200px;
      }

      .top-arrow::before {
        bottom: 18px;
      }

      p {
        font-size: 0.75rem;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        height: 2.5em;
        overflow: hidden;
      }
    }

    .warning-popup__text-message {
      h3 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 400;
      }
      textarea {
        border-color: $lightgray;
        height: 160px;

        &::-webkit-scrollbar {
          width: 8px !important;
          border-width: 2px;
        }

        &::-webkit-scrollbar-thumb {
          border-width: 2px;
        }
      }
    }
    .warning-popup__button-container {
      margin-top: 16px;
    }
  }

  &--login {
    .warning-popup__content{
      padding-bottom: 0;

      p {
        margin: 20px 0;
        text-align: center;
      }

      .code-inputs-container {
        text-align: center;
      }

      .code-input {
        width: 2rem;
        border-radius: 10px;
        text-align: center;
      }

      .warning-popup__button-container {
        button:before {
          content: none;
        }
      }
    }
  }
}

.select2-container--warning .select2-results__option--selectable {
  font-weight: bold;
  font-family: "Sen", sans-serif;
}
