.product-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  background: #f4f4f6;
  padding: 14px 20px;
  flex-wrap: wrap;

  &__info {
    @include breakpoint(xs) {
      display: flex;
      // justify-content: space-between;
      align-content: center;
      flex-wrap: wrap;
    }

    h4 {
      font-size: 1em;
      margin: 0;
      width: 100%;
      font-family: 'Roboto', sans-serif;

      @include breakpoint(xs) {
          margin-bottom: 10px;
      }
    }

    p {
      font-size: 0.875em;
      margin: 0;
      max-width: 90%;
    }
  }

  &__duration,
  &__price {
    display: inline-flex;
    align-items: center;
    font-weight: 500;

    @include breakpoint(xs) {
      font-size: 0.875rem;
      margin: 0 5px 0 0;
    }

    &:before {
      content: "";
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 10px;
      display: block;
      top: 2px;
    }
  }

  &__duration {
    margin: 10px 20px 0 0;

    &:before {
      width: 15px;
      height: 15px;
      background-image: url("img/icons/clock.svg");
    }
  }

  &__price {
    margin-top: 10px;
    color: $cyan;

    strike {
      display: inline-block;
      color: $orange;
      margin-left: 10px;
    }

    &:before {
      width: 14px;
      height: 15px;
      background-image: url("img/icons/price.svg");
    }
  }

  button.cyan.transparent {
    background-color: white;
    padding: 5px 12px;
    align-self: flex-end;
  }

  button.product-action__order {
    @include breakpoint(xs) {
      padding: 4px 10px;
      margin-left: auto;
    }

    @include breakpoint(xxs) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
