.search-container {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.49);
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  margin-top: -72.8px;
  display: flex;
  width: 100%;
  min-height: 0;
  height: 72.8px;
  position: relative;
  z-index: 1001;

  @include breakpoint(l) {
    height: 112.2px;
    flex-direction: column;
  }

  @include breakpoint(xs) {
    height: 107.4px;
  }

  .search-panel {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 101;
    display: flex;
    justify-content: center;

    @include breakpoint(l) {
      height: calc(112.2px / 2);
      width: 100%;
    }

    @include breakpoint(xs) {
      height: calc(109.8px / 2);
    }

    &--wide {
      width: 100%;
      padding-right: 200px;
      z-index: 0;
      border-left: 1px solid $lightgray;
      // border-bottom: 1px solid $lightgray;

      @include breakpoint(l) {
        border-top: 1px solid $lightgray;
        border-left: 0;
        padding-right: 50px;

        & ~ .search-container__submit {
          top: 80px;
        }
      }
    }

    input[name="search"] {
      padding: 44px 20px 0 20px;
      font-size: 1.7vw;
      border: 0;
      border-radius: 0;
      outline: none;
      transition: padding 0.3s ease-in-out;

      @media screen and (min-width: 1220px) {
        font-size: 1.5rem;
      }

      @include breakpoint(sm) {
        padding: 44px 50px 0 20px;
        font-size: 1.5rem;
      }

      @include breakpoint(xs) {
        font-size: 1rem;
      }
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotate(-90deg);
    padding: 0;
    border: 0;
    background: transparent;
    transition: transform 0.3s ease-in-out;
    z-index: 102;

    @include breakpoint(xs) {
      right: 20px;
    }

    &:before {
      content: "";
      width: 22px;
      height: 22px;
      background-image: url("img/icons/search-close.svg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
    }

    @include breakpoint(l) {
      top: 30px;
    }
  }

  &__submit {
    position: absolute;
    top: 50%;
    right: 30px;
    padding: 0;
    border: 0;
    background: $darkblue;
    transform: translate(-50%, -50%);
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    padding-left: 34px;
    border-radius: 15px;

    @include breakpoint(xl) {
      padding: 18px;
      border-radius: 50%;
      right: 45px;
    }

    @include breakpoint(l) {
      padding: 15px;
      right: 12px;
    }

    @include breakpoint(xs) {
      right: 2px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 8px;
      background-image: url("img/icons/search-white.svg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      display: block;

      @include breakpoint(xl) {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      @include breakpoint(sm) {
        width: 17px;
        height: 17px;
      }
    }

    span {
      @include breakpoint(xl) {
        display: none;
      }
    }
  }

  .change-search-icon:before {
    background-image: url("img/icons/search-crossed-white.svg");
  }

  &.search-container--toggled {
    visibility: visible;
    opacity: 1;
    min-height: 72.8px;
    height: auto;

    .search-container {
      &__close {
        transform: translateY(-50%) rotate(0deg);
      }
    }

    input[name="search"] {
      padding: 22px 20px;

      @include breakpoint(l) {
        padding: 0 80px 0 20px;
      }

      @include breakpoint(sm) {
        padding: 0 60px 0 20px;
      }
    }
  }

  .search-product {
    width: 50%;
    z-index: 101;
    position: relative;
    background-color: $white;
    min-height: 72.8px;
    top: 0;

    @include breakpoint(l) {
      min-height: calc(112.2px / 2);
      width: 100%;
    }
    @include breakpoint(xs) {
      min-height: calc(107.4px / 2);
    }
  }

  .ui-autocomplete.ui-widget {
    border-radius: 0;
    box-shadow: 22px 28px 28px 0px rgba(16, 27, 81, 0.43);
    border-top: 1px solid $lightgray;
  }

  .ui-autocomplete {
    width: calc(100vw - (100vw - 100%)) !important;
    left: 0 !important;
    height: calc(50vh + 1px);
    overflow-y: auto;
    top: calc(100% - 1px) !important;

    .ui-autocomplete-wrapper {
      max-height: 50vh;
      width: 50%;
      float: right;
      border-left: 1px solid $lightgray;
      padding-bottom: 20px;

      @include breakpoint(l) {
        width: 100%;
      }

      .autocomplete-subcategory {
        margin: 20px 20px 10px;
      }

      .ui-menu-item {
        padding: 0 20px;

        &-wrapper {
          padding: 10px 20px 5px;
          margin-bottom: 10px;
        }
      }

      .autocomplete-product {
        &-button {
          margin-bottom: 0;
        }

        &--choices {
          padding: 10px 0 0;
          overflow: auto;

          .autocomplete-product-title--main {
            padding-right: 40px;
            padding-left: 20px;
            margin-bottom: 10px;
          }

          .autocomplete-product-desc {
            padding-left: 20px;
          }
        }

        &--choice {
          padding-left: 20px;
          padding-right: 20px;
          margin: 0;
          background-color: $search-background-light;
          border-radius: 0;

          .autocomplete-product-title {
            font-weight: 400;
          }

          &:nth-of-type(2n) {
            background-color: $search-background-dark;
          }
        }
      }
    }
  }

  &__select {
    width: 40%;
    min-height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(l) {
      width: 100%;
      min-height: calc(112.2px / 2);
    }
  }

  .select2-container {
    width: 100% !important;
    height: 100%;
    min-height: 100%;
    position: relative !important;
    top: 0 !important;

    @include breakpoint(l) {
      min-height: calc(112.2px / 2);
      width: 100% !important;

      & + .select2-container {
        top: 111.2px !important;
        position: absolute !important;
      }
    }
  }
}

.search-container .ui-autocomplete#ui-id-2 {
  z-index: 101 !important;
  width: calc(50vw - (50vw - 50%)) !important;
  box-shadow: 1px 0px 0px 0px $lightgray !important;

  .ui-menu-item-wrapper {
    margin-bottom: 0;
    background: transparent;
    font-family: "Sen", sans-serif;
    font-size: 1.125rem;
    padding: 15px;
    color: $darkblue;

    &:hover {
      background-color: $search-hover;
    }
  }

  @include breakpoint(l) {
    width: calc(100vw - (100vw - 100%)) !important;
    box-shadow: 22px 28px 28px 0px rgba(16, 27, 81, 0.43) !important;
    border: 0;
    border-top: 1px solid $lightgray;
  }
}

.search-clean {
  position: absolute;
  z-index: 1000;
  left: calc(50% - 8px);
  transform: translateX(-50%);
  bottom: 40px;
  margin: 0 auto;
  background-color: $darkblue;
  color: $white;
  display: none;
  padding: 8px 15px;
  border-radius: 25px;

  &:before {
    content: "";
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("img/icons/filter-crossed-white.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }
}

.search-container--controls {
  .select2-container {
    background-color: $white;

    .select2-selection {
      height: 100%;
      display: flex;
      border: none;
      padding-left: 20px;

      @include breakpoint(l) {
        min-height: calc(112.2px / 2);
      }

      .select2-selection__arrow {
        height: 33px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1px;
        width: 20px;

        @include breakpoint(l) {
          right: 40px;
        }

        b {
          top: 50%;
          right: 20px;
          position: absolute;
          transform: translateY(-50%);
          width: 14px;
          height: 16px;
          background-image: url("img/icons/angle-down-bold.svg");
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          transition: transform 0.3s ease-in-out;

          &.rotate {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }

      ul {
        margin: 0 0 0 20px;
        display: flex;
        align-items: center;
        white-space: nowrap;

        button {
          display: none;
        }
      }

      .select2-selection__rendered {
        line-height: 72px;
        font-size: 1.7vw;
        padding-left: 0;

        @media screen and (min-width: 1220px) {
          font-size: 1.5rem;
        }

        @include breakpoint(l) {
          line-height: 56px;
        }

        @include breakpoint(sm) {
          font-size: 1.5rem;
        }

        @include breakpoint(xs) {
          font-size: 1rem;
        }
      }
    }

    &:last-of-type {
      min-height: 0;
      height: auto;
    }

    &:first-of-type {
      height: 100%;
    }
  }

  .search-panel {
    @include breakpoint(xs) {
      height: calc(111px / 2);
    }
  }
}

.select2-dropdown--controls {
  border-left: none !important;
  border-radius: 0 !important;
  border-right: none !important;
  border-top: 1px solid $lightgray !important;
  box-shadow: 22px 28px 28px 0px rgba(16, 27, 81, 0.43);
  width: 100vw !important;

  @include breakpoint(l) {
    border-top: none;
  }

  .select2-results {
    border-right: 1px solid $lightgray;

    @include breakpoint(l) {
      border-right: none;
    }

    &__options {
      overflow: auto;
    }
  }

  li[role="alert"] {
    display: none;
  }

  li {
    font-family: "Sen", sans-serif;
    font-weight: 600;
    margin: 10px;

    &:hover {
      background-color: #d7d7d9;
    }
  }
}
