.timetable {
  display: flex;
  flex-direction: column;

  @include breakpoint(1200px) {
    width: calc(100vw - 80px);
  }

  @include breakpoint(sm) {
    width: calc(100vw - 10px);
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @include breakpoint(890px) {
      order: 1;
      margin-top: 30px;
    }

    h2 {
      margin: 0;

      @include breakpoint(890px) {
        display: none;
      }
    }

    .arrow {
      @include breakpoint(890px) {
        display: none;
      }
    }

    .select2-container--default {
      width: 343px !important;
    }

    .checkbox {
      label {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  .company__container {
    margin-top: 20px;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @include breakpoint(890px) {
      border: none;
    }
  }

  .company__button-container {
    width: 100%;
    margin: 0;

    @include breakpoint(890px) {
      order: 2;
    }

    @include breakpoint(sm) {
      width: calc(100% - 10px);
    }

    button:first-of-type, button:last-of-type {
      margin-top: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    @include breakpoint(890px) {
      padding: 0;
    }
  }

  &__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: auto;

    @include breakpoint(890px) {
      display: none;
    }

    &.selected-week {
      @include breakpoint(890px) {
        display: grid;
        width: calc(100vw - 40px);
      }
    }

    &::-webkit-scrollbar {
      height: 8px;
    }
  }

  &__day {

    &:nth-of-type(7n + 6),
    &:nth-of-type(7n) {
      tbody {
        background-color: $lightgray;
      }
    }

    &.active-from {
      tbody {
        background-color: $darkblue;
      }
    }

    &.active-to {
      tbody {
        background-color: $orange;
      }
    }

    &.inactive {
      h4 {
        color: $lightgray;
      }
    }

    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    table {
      margin-bottom: 5px;
    }

    .time-inputs input[name="hour"] {
      text-align: right;
      margin-left: 0;
    }
  }

  &__table {
    border-collapse: separate;

    tbody {
      background-color: #f6f6f7;
    }

    tbody {
      border-radius: 5px;
      display: block;
      background-color: $darkgray;
      padding: 1px;
    }
  }

  .time-inputs {
    border-radius: 5px;
    border: 0px;
    p {
      color: #dedfe0;
    }
    ::-webkit-input-placeholder {
      /* Chrome */
      color: #dedfe0;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #dedfe0;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #dedfe0;
      opacity: 1;
    }
    :-moz-placeholder {
      /* Firefox 4 - 18 */
      color: #dedfe0;
      opacity: 1;
    }
  }

  &__datepicker-container {
    display: flex;
  }

  &__datepicker {
    .ui-datepicker.ui-widget {
      position: relative;
      box-shadow: none;

      .ui-datepicker-buttonpane {
        padding: 0;
        margin: 0;

        .ui-datepicker-current {
          margin: 0;
          float: right;
          border: none;
          text-decoration: underline;
          padding: 0;
          width: auto;
        }
      }
      .ui-datepicker-close {
        display: none;
      }

      .ui-datepicker-today a {
        border: none;
        color: $red;
        font-weight: 600;
      }
    }

    &--until {
      .ui-datepicker.ui-widget {
        .ui-state-active {
          background-color: $orange;
        }

        .ui-datepicker-current {
          display: none;
        }
      }
    }
  }
}
