.timetable {
  display: flex;
  flex-direction: column;

  @include breakpoint(1200px) {
    width: calc(100vw - 80px);
  }

  @include breakpoint(sm) {
    width: 100%;
  }

  @include breakpoint(xs) {
    width: 100%;
  }

  div::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  div::-webkit-scrollbar-thumb {
    border-width: 2px;
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @include breakpoint(l) {
      flex-wrap: wrap;
    }

    .timetable__title {
      display: flex;
    }

    h2 {
      margin: 0;
      margin-right: 10px;

      @include breakpoint(l) {
        display: none;
      }
    }

    .arrow {
      @include breakpoint(l) {
        display: none;
      }
    }

    .select2-container--default {
      width: 100% !important;
      margin-bottom: 10px;

      @include breakpoint(l) {
        flex-basis: 90%;
        margin: 0 auto 10px;
      }
    }

    .checkbox {
      @include breakpoint(l) {
        flex-basis: 50%;
        margin-top: 20px;
      }
      label {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        @include breakpoint(xs) {
          font-size: 0.875rem;
        }
      }
    }
  }

  .company__container {
    margin-top: 20px;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  
    @include breakpoint(l) {
      border: none;
      margin-top: 0;
    }

    @include breakpoint(890px) {
      border-bottom: 1px solid $lightgray !important;
    }

    @include breakpoint(sm) {
      margin-top: 0;
    }
  }

  .company__button-container {
    width: 100%;
    margin: 0;

    @include breakpoint(l) {
      order: 2;
    }

    @include breakpoint(l) {
      margin-top: 20px;
    }

    button:first-of-type,
    button:last-of-type {
      margin-top: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow: auto;
    height: 370px;

    @include breakpoint(l) {
      padding: 0;
      height: 450px;
    }

    @include breakpoint(sm) {
      height: 380px;
    }
  }

  &__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;

    @include breakpoint(l) {
      padding: 5px 0;
      margin-bottom: 20px;
    }

    @include breakpoint(sm) {
      margin-bottom: 0;
    }

    &.selected-week {
      @include breakpoint(l) {
        display: grid;
        width: calc(100vw - 40px);
      }
    }

    &::-webkit-scrollbar {
      height: 8px;
    }
  }

  &__day {
    &:nth-of-type(7n + 6),
    &:nth-of-type(7n) {
      tbody {
        background-color: $lightgray;
      }
    }

    &.active-from {
      tbody {
        background-color: $darkblue;
      }
    }

    &.active-to {
      tbody {
        background-color: $orange;
      }
    }

    &.inactive {
      h4 {
        color: $lightgray;
      }
    }

    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    table {
      margin-bottom: 5px;
    }

    .time-inputs input[name="hour"] {
      text-align: right;
      margin-left: 0;
    }
  }

  &__copy {
    font-size: 0.75rem;
    text-decoration: underline;
    margin: 5px 5px 0 0;
    float: right;
    cursor: pointer;
  }

  &__table {
    border-collapse: separate;

    tbody {
      background-color: #f6f6f7;

      &.active {
        border: 1px solid $darkblue;
      }
    }

    tbody {
      border-radius: 5px;
      display: block;
      background-color: $darkgray;
      padding: 1px;
    }
  }

  .time-inputs {
    border-radius: 5px;
    border: 0px;

    input {
      font-weight: 600;
    }
    p {
      color: #dedfe0;

      &.active {
        color: $darkblue;
      }
    }
    ::-webkit-input-placeholder {
      /* Chrome */
      color: #dedfe0;
      font-weight: 400;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #dedfe0;
      font-weight: 400;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #dedfe0;
      opacity: 1;
      font-weight: 400;
    }
    :-moz-placeholder {
      /* Firefox 4 - 18 */
      color: #dedfe0;
      opacity: 1;
      font-weight: 400;
    }
  }

  &__datepicker-container {
    display: flex;
    justify-content: space-between;

    @include breakpoint(l) {
      flex-direction: column;
    }
  }

  &__date-input {
    display: none;

    @include breakpoint(l) {
      display: block;
    }
  }

  &__datepicker {
    position: relative;
    display: flex;

    @include breakpoint(l) {
      margin-bottom: 20px;
    }

    .ui-datepicker {
      @include breakpoint(l) {
        display: none !important;
      }
    }

    h3 {
      font-weight: 900;
      @include breakpoint(l) {
        top: 0;
        left: 15px;
        z-index: 1000;
        font-size: 1.5rem;
      }
    }
    .ui-datepicker.ui-widget {
      position: relative;
      box-shadow: none;
      padding: 0;
      font-size: 0.875rem;
      max-width: 250px;

      @include breakpoint(l) {
        max-width: none;
      }

      td a,
      td span {
        width: 25px;
        height: 25px;
        padding: 3.5px 0;
      }

      .ui-datepicker-header {
        @include breakpoint(l) {
          width: 60%;
          float: right;
        }
      }

      .ui-datepicker-buttonpane {
        padding: 0;
        margin: 0;

        .ui-datepicker-current {
          margin: 0;
          float: right;
          border: none;
          text-decoration: underline;
          padding: 0;
          width: auto;
          margin-left: auto;
        }
      }
      .ui-datepicker-close {
        display: none;
      }

      .ui-datepicker-today a {
        border: none;
        color: $red;
        font-weight: 600;
      }
    }

    &--until {
      .ui-datepicker.ui-widget {
        .ui-datepicker-current {
          display: none;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__choices {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    h3 {
      width: 100%;
      font-weight: 900;
    }
  }

  &__choice {
    h4 {
      margin: 0;
    }

    &--time {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  &__choice--periodicity {
    flex: 1 0 auto;
  }

  &__time-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px; 

    .time-inputs {
      border: 1px solid $darkblue;
    }
  }

  &__buttons-container {
    margin-top: auto;
    align-self: flex-end;
  }

  .timetable__datepicker {
    margin-right: 60px;
    flex-direction: column;

    .phone {
      display: none;
    }

    @include breakpoint(l) {
      flex-direction: initial;

      #timetable-from,
      #timetable-until {
        background-image: url(img/icons/calendar.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 22px 22px;
        border: none;
        padding-left: 30px;
        font-weight: 700;
      }

      #timetable-from {
        margin-left: 30px;
      }
      
      #timetable-until {
        margin-left: 38px;
      }

      .timetable__date-input {
        background: white url(img/icons/calendar.svg) left no-repeat;
        padding-left: 27px;
        padding-left: 40px;
      }
      h3 {
        margin-bottom: 0;
      }
      margin-right: 0;

      .phone {
        display: block;
        position: absolute;
        left: 335px;
        &--back {
          position: absolute;
          left: 250px;
        }
      }
    }

    .ui-datepicker-title {
      text-align: left;
      margin-left: 0;
    }
    .ui-datepicker-calendar {
      left: -5px;
      position: relative;
    }
    .ui-datepicker-prev {
      left: 162px;
    }
    .ui-datepicker-next {
      left: 220px;
    }
    .ui-datepicker td a {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .timetable__top {
    .timetable__right {
      margin-left: 30px;

      @include breakpoint(l) {
        margin-left: 0;
        h3 {
          margin-bottom: 20px;
        }
      }
      .timetable__time-grid {
        margin-top: 10px;
        .time-inputs {
          width: 62px;
          input[name="minute"] {
            padding-right: 10px;
          }
          input[name="hour"] {
            padding-left: 10px;
            margin-left: 0;
          }
        }
      }
      .timetable__choice--periodicity {
        @include breakpoint(l) {
          margin-left: 0px;
          margin-top: 20px;
          width: 100%;
        }
        .select2-selection--single {
          margin-top: 10px;
          margin-bottom: 20px;
          height: 51px;

          @include breakpoint(l) {
            height: 32px;
            margin-bottom: 0;
          }
          .select2-selection__rendered {
            height: 51px;
            top: 15%;
            position: relative;

            @include breakpoint(l) {
              height: 32px;
              top: 0;
            }
          }
          .select2-selection__arrow b {
            right: 15px;
            top: 105%;

            @include breakpoint(l) {
              top: 78%;
            }
          }
        }
      }
      .checkbox label {
        margin-bottom: 10px;
      }
      .timetable__buttons-container {
        margin-top: 0;
        @include breakpoint(l) {
          display: flex;
          justify-content: space-between;
          align-self: normal;
          margin-bottom: 20px;
        }
        .delete {
          padding: 9px;
          display: inline-flex;
          align-items: center;
          height: 36px;

          @include breakpoint(l) {
            flex-basis: 49%;
            height: 32px;
          }
          &::before {
            content: url(img/icons/trash-orange.svg);
            width: 18px;
            height: 18px;
            display: inline-block;
            margin-right: 10px;
          }
        }
        .generate {
          padding: 9px;
          display: inline-flex;
          align-items: center;
          height: 36px;

          @include breakpoint(l) {
            flex-basis: 49%;
            height: 32px;
          }
          &::before {
            content: url(img/icons/checkmark-white.svg);
            width: 20px;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: -2px;

            @include breakpoint(l) {
              height: 18px;
              width: 18px;
            }
          }
        }
      }
    }
  }
}
