.vert-slider {
  // max-height: 525px;
  max-height: 615px;
  max-width: 1720px;
  margin-left: auto;
  display: flex;

  &__items {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    min-width: 17.4%;
    padding-right: 30px;
    border-right: 1px solid #d9d9d9;

    li {
      width: 100%;
      padding: 20px 15px;
      box-shadow: 0 0 10px rgba(15, 29, 91, 0.1);
      margin-bottom: 10px;
      border-radius: 0 25px 25px 0;
      font-family: "Sen", sans-serif;
      font-weight: 600;
      border-left: 5px solid $white;
      transition: border-left 0.3s ease-in-out, font-weight 0.3s ease-in-out;
      white-space: nowrap;
      min-width: 230px;

      &.active {
        border-left: 5px solid $orange;
        font-weight: 900;
      }
    }
  }

  &__slides {
    overflow: hidden;
    position: relative;
  }

  &__slide {
    display: flex;
    height: 100%;

    &-content {
      margin-left: 30px;
    }

    h3 {
      font-size: 2rem;
      font-weight: 900;
      margin-top: 0;
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0 60px 0 0;

      li {
        display: flex;
        font-size: 1.25rem;
        margin-bottom: 30px;

        &::before {
          content: "⬤";
          color: $orange;
          margin-right: 20px;
        }
      }
    }

    &-image {
      max-width: 800px;
      width: 100%;
      border-radius: 15px 0 0 15px;
      overflow: hidden;
      max-height: 100%;
      align-self: center;
      overflow: hidden;
      display: flex;
    justify-content: center;
    align-items: center;
    width: 57.5%;
    flex: 1 0 auto;

      img {
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
}
