.parallax {
  height: calc(100vh - 70px);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  perspective-origin: 0 0;
  backface-visibility: hidden;

  @include breakpoint(xl) {
    perspective: 0;
    overflow: visible;
  }

  @include breakpoint(xs) {
    height: 100%;
  }
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 0 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-0.5px) scale(1.5);

  @include breakpoint(1280px) {
    transform: unset !important;
  }
}

.parallax__layer--deep {
  transform: translateZ(-1.5px) scale(2.5);

  @include breakpoint(xl) {
    transform: unset !important;
  }
}

.parallax__layer--deeper {
  transform: translateZ(-3px) scale(4.1) !important;

  @include breakpoint(xl) {
    transform: unset !important;
  }
}

.parallax__group {
  // position: relative;
  // // height: 100vh;
  // transform-style: preserve-3d;
  overflow: hidden;
}

.about-us {
  @include breakpoint(xs) {
    height: 100%;
  }
  
  &__button {
    // font-size: 1.375rem;
    font-size: 1.25rem;
    border-radius: 35px;
    padding-left: 50px;
    padding-right: 50px;

    @include breakpoint(xs) {
      font-size: 1rem;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__section {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 19;
    background-color: $white;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 0;

    @include breakpoint(xs) {
      font-size: 1.75rem;
    }
  }

  p {
    // font-size: 1.5rem;
    font-size: 1.25rem;

    @include breakpoint(xs) {
      font-size: 1rem;
    }
  }

  .background {
    position: absolute;
    width: 100%;
    height: 110%;
    // top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    top: -30%;
    pointer-events: none;
    background-attachment: fixed;
    background-position: top;

    .backdrop-bg {
      background-color: $white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .backdrop {
      background-color: rgba(16, 27, 81, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @mixin animation-mixin(
      $name,
      $fromX,
      $toX,
      $fromY,
      $toY,
      $opacityFrom,
      $opacityTo
    ) {
      // @keyframes #{$name} {
      //   0% {
      //     transform: translate($fromX + px, $fromY + px) scale(1);
      //     opacity: $opacityFrom;
      //   }
      //   100% {
      //     transform: translate($toX + px, $toY + px) scale(1.2);
      //     opacity: $opacityTo;
      //   }
      // }
    }

    .circle {
      border-radius: 50%;
      position: absolute;
      box-shadow: 0 0 75px 75px;
      // filter: brightness(115%);
      // -ms-filter: blur(75px) brightness(115%);
      // filter: blur(75px) brightness(115%);
      // backface-visibility: hidden;
      // @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
      //   filter: none;
      // }

      &--1 {
        width: 1380px;
        height: 1380px;
        top: -100%;
        left: -35%;
        background-color: #f0f0f0;
        color: #f0f0f0;
      }

      &--2 {
        width: 375px;
        height: 375px;
        top: -20%;
        right: -10%;
        background-color: $orange;
        color: $orange;

        @include breakpoint(xs) {
          top: -30%;
        }
      }

      &--3 {
        background-color: #cc14aa;
        color: #cc14aa;
        width: 300px;
        height: 300px;
        left: 45%;
        bottom: 0;
        opacity: 0.2;
        transform: translateX(-50%);
      }

      &--static {
        background-color: $orange;
        box-shadow: none;
        opacity: 0.1;
        width: 500px;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: none;

        @include breakpoint(xs) {
          width: 300px;
          height: 300px;
        }
      }

      &--4 {
        background-color: #7fd6da;
        color: #7fd6da;
        opacity: 0.2;
        width: 604px;
        height: 604px;
        left: -15%;
        bottom: -50%;
      }

      &--5 {
        background-color: $white;
        color: $white;
        opacity: 0.2;
        width: 802px;
        height: 802px;
        left: 20%;
        top: -10%;
      }

      &--6 {
        background-color: $orange;
        color: $orange;
        opacity: 0.2;
        width: 1257px;
        height: 1257px;
        top: 0;
        right: -50%;

        @include breakpoint(900px) {
          width: 500px;
          height: 500px;
          right: -100%;
        }
      }

      // @for $i from 1 through 6 {
      //   @if $i == 3 {
      //     @include animation-mixin(
      //       circle-#{$i},
      //       random(50),
      //       random(100) - 150,
      //       random(50),
      //       random(100) + 50,
      //       random(50) / 100 + 0.2,
      //       random(50) / 100 + 0.5
      //     );
      //   } @else {
      //     @include animation-mixin(
      //       circle-#{$i},
      //       random(50),
      //       random(100) - 50,
      //       random(50),
      //       random(100) + 50,
      //       random(50) / 100 + 0.3,
      //       random(50) / 100 + 0.5
      //     );
      //   }
      //   &--#{$i} {
      //     animation: circle-#{$i}
      //       #{random(12) /
      //       2 +
      //       4}s
      //       ease-in-out
      //       infinite
      //       alternate;
      //   }
      // }
    }

    // @supports (-moz-appearance:none) {
    //   .circle {
    //     display: none;
    //   }
    //  }

    .overlay {
      background-color: rgba(255, 255, 255, 0.5);
      // @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
      //   backdrop-filter: blur(75px) brightness(115%);
      //   background-color: transparent;
      // }
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      // background-color: $white;
    }
  }
}

// .parallax {
//   position: relative;
//   height: 750px;
//   transform-style: preserve-3d;
//   // background-color: rgba(255, 0, 0, 0.5);
//   width: 100%;
// }

.opportunities {
  $_photo-width: 900px;
  $_photo-width-1440: 800px;

  height: 750px;
  padding: 0;
  position: relative;
  display: flex;
  z-index: 2;

  @include breakpoint(1280px) {
    flex-direction: column;
    height: auto;
  }

  @include breakpoint(xs) {
    height: calc(100vh - calc(100vh - 100%));
  }

  .background {
    // position: fixed;
    // height: 750px;
    // top: auto;
    // transform: translateZ(-1px) scale(2.1) translateX(25%) translateY(25%);
    top: 0;
    padding-bottom: 70px;
    position: fixed;
    height: inherit;
    box-sizing: content-box;

    @include breakpoint(1280px) {
      position: static;
      padding: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      & > * {
        position: absolute;
      }
      
    }

    @include breakpoint(xl) {
      top: 0;
    }

    @include breakpoint(xs) {
      display: flex;
    }
  }

  &__content {
    max-width: calc(100vw - #{$_photo-width});
    padding: 185px 0 185px calc(max(10vw, 40px));
    margin: 0;
    z-index: 1;
    position: relative;

    @media screen and (min-width: 1800px) {
      max-width: calc(100vw - #{$_photo-width} - 200px);
    }

    @include breakpoint(1440px) {
      max-width: calc(100vw - #{$_photo-width-1440});
    }

    @include breakpoint(1280px) {
      max-width: 100%;
      padding: 60px 40px 0;
      text-align: center;
    }

    @include breakpoint(xs) {
      padding-left: 20px;
      padding-right: 20px;
    }

    h1 {
      // font-size: 4.5rem;
      font-size: 3.5rem;
      margin-top: 0px;
      margin-bottom: 40px;
      font-weight: 800;
      // width: 90vw;

      @include breakpoint(xs) {
        font-size: 2.5rem;
      }

      @include breakpoint(xxs) {
        font-size: 2.25rem;
      }
    }

    h3 {
      font-family: "Roboto", sans-serif;
      // font-size: 1.75rem;
      font-size: 1.5rem;
      color: $orange;
      margin: 20px 0;

      @include breakpoint(xs) {
        font-size: 1.25rem;
      }
    }
    p {
      // font-size: 1.5rem;
      margin-top: 0;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 80px;

        @include breakpoint(1280px) {
          margin-bottom: 50px;
        }
      }
    }

    // &-name {
    //   font-weight: 400;
    //   font-family: 'hero-new', sans-serif;
    // }

    // ul {
    //   li {
    //     font-weight: 700;
    //     font-size: 1.5rem;

    //     @include breakpoint(xs) {
    //       font-size: 1rem;
    //     }
    //   }
    // }
  }

  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
    margin-bottom: 27px;
  }

  & .opportunities__photo {
    z-index: 10;
    display: flex;
    align-items: flex-end;
    min-width: $_photo-width;
    width: $_photo-width;
    // max-width: 50%;
    padding-top: 55px;
    // position: fixed;
    margin-left: auto;
    z-index: 9;
    position: absolute;
    bottom: 0;
    right: 0;

    @include breakpoint(1440px) {
      min-width: $_photo-width-1440;
      width: $_photo-width-1440;
    }

    @include breakpoint(1280px) {
      min-width: 700px;
      width: 800px;
      margin: 0 auto;
      // width: 50%;
      min-width: 0;
      position: relative;
      right: 0;
      padding: 20px 0 0 0;
    }

    // @include breakpoint(xl) {
    //   margin: 0 auto;
    //   // width: 50%;
    //   min-width: 0;
    //   position: relative;
    //   right: 0;
    //   padding: 20px 0 0 0;
    // }

    @include breakpoint(l) {
      width: 100%;
    }

    @include breakpoint(xs) {
      width: 100%;
      max-height: 100%;
      flex-basis: 100%;
      flex-shrink: 1;
      min-height: 0;
      margin: 0 auto;
      flex-direction: column;
      
      img {
        max-height: 100%;
        margin: 0 auto;
      }
    }
  }
}

.solutions {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  z-index: 19;

  @include breakpoint(sm) {
    padding: 60px 0;
  }

  .background {
    .backdrop {
      background-color: $white;
    }
  }

  .background {
    top: 0;
  }

  &__content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    position: relative;

    p {
      padding: 0 20px;
    }
  }
}

.features {
  height: auto;
  min-height: 750px;
  z-index: 10;
  position: relative;
  display: flex;

  @include breakpoint(xl) {
    flex-direction: column;
  }

  .background {
    // position: fixed;
    // height: 750px;
    // top: auto;
    // z-index: 10;
    // transform: translateZ(-);
    top: 0;
  }

  &__content {
    // position: relative;
    padding: 100px 40px;
    z-index: 1;

    @include breakpoint(xs) {
      padding: 60px 20px;
    }

    h3 {
      margin-top: 0;
      // font-size: 1.875rem;
      font-size: 1.75rem;
      font-weight: 900;

      @include breakpoint(xs) {
        font-size: 1.375rem;
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 1.125rem;

      @include breakpoint(xs) {
        font-size: 1rem;
        margin: 0;
      }
    }

    &--left {
      flex-shrink: 0;
      padding-left: calc(max(10vw, 40px));

      @include breakpoint(xl) {
        padding-bottom: 0;
        text-align: center;
        padding-left: 40px;
      }

      @include breakpoint(xs) {
        padding-left: 20px;
      }
    }

    &--right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      // left: 35%;
      padding-right: calc(max(10vw, 40px));

      @include breakpoint(xl) {
        padding-right: 40px;
      }

      @include breakpoint(xs) {
        grid-template-columns: 1fr;
        padding-right: 20px;
      }
    }
  }

  &__item {
    border-radius: 10px;
    border-left: 10px solid $darkblue;
    overflow: hidden;
    padding: 20px;
    background-color: $white;

    @include breakpoint(l) {
      border-left-width: 5px;
      border-radius: 5px;
    }

    @include breakpoint(xs) {
      padding: 15px 10px;
    }

    &--clients {
      border-left-color: $orange;
    }

    &--timetable {
      border-left-color: #e589d4;
    }

    &--tools {
      border-left-color: $cyan;
    }

    &--reputation {
      border-left-color: #e5cdbf;
    }
  }

  &__icon {
    height: 55px;
    margin-bottom: 15px;

    @include breakpoint(l) {
      height: 40px;
    }

    @include breakpoint(xs) {
      margin-bottom: 10px;
      height: 35px;
    }

    @include breakpoint(xxs) {
      height: 30px;
    }

    &--main {
      height: 120px;

      @include breakpoint(l) {
        height: 100px;
      }

      @include breakpoint(sm) {
        height: 80px;
      }
    }
  }
}

.tools {
  background-image: url(./img/tools.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  min-height: 855px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include breakpoint(l) {
    min-height: 1000px;
    align-items: flex-end;
    background-color: $white;
  }

  @include breakpoint(sm) {
    min-height: 650px;
    background-position: left top;
    background-size: auto 50%;
    background-attachment: initial;
  }

  @include breakpoint(xs) {
    min-height: 550px;
  }

  @include breakpoint(xxs) {
    background-size: auto 40%;
    min-height: 650px;
  }

  &__content {
    padding: 40px;
    border-radius: 10px 0 0 10px;
    background-color: $darkblue;
    width: 45%;

    @include breakpoint(l) {
      width: 100%;
      border-radius: 15px;
    }

    @include breakpoint(sm) {
      width: 80%;
      margin: 0 auto 1px;
      padding: 20px;
    }

    @include breakpoint(xs) {
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      color: $white;
    }

    p {
      color: $white;
      font-size: 1.125rem;

      @include breakpoint(sm) {
        margin-bottom: 0;
      }

      @include breakpoint(xs) {
        font-size: 1rem;
      }

      a {
        color: inherit;
        display: block;
        text-decoration: underline;
        margin: 30px 0;
        font-weight: 700;
      }
    }
  }
}

.professionals {
  padding: 100px 0;
  position: relative;

  @include breakpoint(xl) {
    padding-bottom: 40px;
  }

  @include breakpoint(xs) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  p {
    font-size: 1.25rem;

    @include breakpoint(xs) {
      font-size: inherit;
    }
  }

  .background {
    z-index: -1;
  }

  h2,
  p {
    text-align: center;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }

  h2 {
    margin-bottom: 25px;
  }

  .background {
    top: -50%;
  }

  &__slider {
    padding: 90px 0 0 calc(max(10vw, 40px));
    z-index: 1;

    @include breakpoint(1280px) {
      padding-left: 40px;
    }

    @include breakpoint(xl) {
      padding-left: 40px;
    }

    @include breakpoint(xs) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 50px;
    }
  }
}

.calc {
  display: flex;
  padding: 100px calc(max(10vw, 40px));
  align-items: flex-start;
  position: relative;
  // overflow: hidden;

  @include breakpoint(xl) {
    padding: 60px 40px;
  }

  @include breakpoint(l) {
    flex-direction: column-reverse;
  }

  @include breakpoint(xs) {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 30px;

    @include breakpoint(xs) {
      margin-bottom: 8px;
    }
  }

  .background {
    width: 100%;
    height: 100%;
    top: 0;
  }

  &__desc {
    z-index: 1;
    flex-basis: 50%;
    padding-left: 115px;
    flex-shrink: 0;

    @include breakpoint(l) {
      padding-left: 0;
      margin-bottom: 30px;
      text-align: center;
      width: 100%;
    }
  }

  &__areas {
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    // display: flex;
    // grid-gap: 25px;
    // margin-bottom: 45px;
    // flex-wrap: wrap;
    margin-bottom: 25px;
    // justify-content: flex-start;
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 100px); /* 2 */
    column-gap: 25px; /* 3 */
    justify-content: space-between; /* 4 */

    @include breakpoint(sm) {
      grid-template-columns: repeat(auto-fill, 70px);
      column-gap: 15px;
    }

    // @include breakpoint(1500px) {
    //   justify-content: flex-start;
    // }
  }

  &__area {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 25px 25px 0;

    @include breakpoint(sm) {
      margin: 0 15px 15px 0;
      width: 70px;
      height: 70px;
    }

    &-img {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out, transform 0.4s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      &:not(:focus) {
        background-color: $white !important;
      }

      &:hover ~ .calc__area-desc {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
      height: 50%;
    }

    &-desc {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      // width: 100%;
      white-space: nowrap;
      padding: 5px 20px;
      border-radius: 15px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      background-color: $darkblue;
      color: $white;
      transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $darkblue transparent;
      }

      p {
        font-size: 0.6875rem;
        margin: 0;
      }
    }
  }

  &__input {
    @include calc-input;
    height: auto;
    padding: 5px 20px;
    width: 100%;
    border: none;
    white-space: initial;
    // width: 3em;
    font-size: 1rem;

    input {
      text-align: right;
      margin-left: auto;
      width: 2em;

      @include breakpoint(xs) {
        margin-right: 15px;
      }
    }
  }

  &__plan {
    z-index: 1;
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    // overflow: hidden;
    box-shadow: 0 0 30px rgba(15, 29, 91, 0.2);

    h2 {
      text-align: center;
    }

    & .calc__plan-title {
      background-color: $orange;
      color: $white;
      margin: 0;
      position: relative;
      border-radius: 10px 10px 0 0;

      @include breakpoint(xs) {
        margin-bottom: 15px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: $orange transparent transparent transparent;
      }
    }

    &-price {
      font-size: 4.375rem;
      color: $orange;

      @include breakpoint(xs) {
        margin-bottom: 25px;
      }

      span {
        font-size: 1.75rem;
        font-weight: 400;

        @include breakpoint(xs) {
          font-size: 1.25rem;
        }
      }
    }

    &-content {
      padding: 20px 0;

      @include breakpoint(xs) {
        padding: 0;
      }

      .checkbox {
        margin-bottom: 20px;
        padding-left: 35px;
        font-weight: 600;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        // margin-bottom: 10px;
        padding: 3px 40px 3px 65px;
        font-weight: 400;
        position: relative;

        @include breakpoint(xs) {
          padding-left: 40px;
          padding-right: 20px;
          padding-top: 7px;
          padding-bottom: 7px;
          line-height: 1.1;
        }

        &:hover {
          background-color: #f7f6f7;
        }

        p.calc__plan-def {
          font-size: 1rem;
          margin: 0;
          width: fit-content;
          position: relative;
          font-weight: 500;

          @include breakpoint(xs) {
            font-size: 0.875rem;
          }

          &::before {
            content: "●";
            color: $orange;
            display: inline-block;
            margin-right: 10px;
            position: absolute;
            left: -20px;
          }
        }

        &.expandable {
          position: relative;

          p {
            position: relative;

            &::after {
              content: url("./img/icons/angle-left-bold.svg");
              display: inline-block;
              // position: absolute;
              transform: rotate(-90deg);
              width: 8px;
              margin-left: 10px;
              // right: -25px;
              transition: transform 0.3s ease-in-out;

              @include breakpoint(sm) {
                right: -15px;
              }
            }

            &.rotate-arr {
              &::after {
                transform: rotate(90deg);
              }
            }
          }
        }

        .question-mark {
          border: 1px solid #cfd0d8;
          color: #cfd0d8;
          border-radius: 50%;
          font-size: 0.6875rem;
          width: 1rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-left: 5px;
          font-style: normal;
          display: none; //paskui pakeisti
        }
      }

      ul {
        max-height: 0;
        transition: max-height 0.3s ease-in-out, margin 0.3s ease-in-out;
        overflow: hidden;

        li {
          padding: 3px 40px 3px 80px;
          font-style: italic;
          font-weight: 400;

          @include breakpoint(xs) {
            padding-left: 55px;
            padding-right: 20px;
          }

          p.calc__plan-def {
            font-weight: 400;

            &::before {
              content: "";
              display: none;
            }
          }
        }

        &.expanded {
          max-height: 300px;
          margin: 17px 0;
        }

        .plan-desc {
          font-style: normal;
          padding-top: 5px;
        }
      }
    }

    &-order {
      width: calc(100% - 100px);
      margin: 47px 50px 30px;
      font-size: 1.375rem;
      border-radius: 25px;

      @include breakpoint(xs) {
        margin: 8px 50px 15px;
      }
    }
  }
}

.plan-desc {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  top: 0;
  margin-top: -0.625rem;
  padding-top: 5px;
  z-index: 10;
  background-color: $white;
  border-radius: 5px;
  border: 2px solid $darkblue;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

  h3 {
    margin: 0;
    white-space: nowrap;
    background-color: $darkblue;
    color: $white;
    font-size: 0.6875rem;
    width: fit-content;
    padding: 5px 40px 5px 10px;
    position: relative;

    @include breakpoint(xs) {
      padding-right: 20px;
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1rem;
      border-radius: 50% 0 0 50%;
      width: 1rem;
      height: 100%;
      background-color: $darkblue;
      background-image: url(./img/icons/angle-left-thin-white.svg);
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  p.plan-desc__desc {
    font-size: 0.6875rem;
    margin-bottom: 30px;
    padding: 0 10px;
  }

  &__more {
    // margin-bottom: 10px;
    border-radius: 20px;
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
    font-size: 0.75rem;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.join-and-try-container {
  position: absolute;
  z-index: 21;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.ui-widget-overlay {
  z-index: 20;
}

.join-and-try {
  // position: absolute;
  z-index: 21;
  width: 100%;
  // bottom: -3708px;

  .try {
    background-color: #f7f6f7;
    width: 927px;
    margin: auto;
    border-radius: 10px;
    padding: 40px;
    @include breakpoint(l) {
      width: 90%;
      padding: 80px 65px 65px;
    }
    @include breakpoint(sm) {
      padding: 30px;
      // width: 90%;
    }
    @include breakpoint(435px) {
      padding: 30px 15px 15px;
    }
    .input-container {
      position: relative;
      input {
        @-webkit-keyframes autofill {
          to {
            color: inherit;
            background: transparent;
          }
        }
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 50px white inset;
        }
        &:-webkit-autofill:focus {
          -webkit-box-shadow: 0 0 0 50px white inset;
        }

        &::placeholder {
          color: #b2b4c9;
        }
      }

      .input-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        height: 100%;
        background-size: 25%;
        background-position: center;

        @include breakpoint(sm) {
          width: 50px;
        }
      }

      &--company {
        // margin-top: 20px;
        .input-icon {
          background-image: url(./img/icons/imone-gray.svg);
          background-repeat: no-repeat;
          background-size: 20px;
          @include breakpoint(sm) {
            background-image: url(./img/icons/imone-gray.svg);
            background-size: 15px;
          }
        }
      }
      &--name {
        .input-icon {
          background-image: url(./img/icons/person-gray.svg);
          background-repeat: no-repeat;
          background-size: 25px;
          @include breakpoint(sm) {
            background-image: url(./img/icons/person-gray.svg);
            background-size: 20px;
          }
        }
      }
      &--phone {
        .input-icon {
          background-image: url(./img/icons/phone-gray.svg);
          background-repeat: no-repeat;
          background-size: 18px;
          @include breakpoint(sm) {
            background-image: url(./img/icons/phone-gray.svg);
            background-size: 13px;
          }
        }
      }
      &--email {
        .input-icon {
          background-image: url(./img/icons/envelope-gray.svg);
          background-repeat: no-repeat;
          background-size: 25px;
          @include breakpoint(sm) {
            background-image: url(./img/icons/envelope-gray.svg);
            background-size: 22px;
          }
        }
      }
    }
    .calc {
      &__areas {
        grid-template-columns: repeat(auto-fit, 70px);
        justify-content: space-between;
        margin: 0;

        @include breakpoint(xs) {
          grid-template-columns: repeat(auto-fit, 50px);
        }
      }

      &__area {
        width: 65px;
        height: 65px;

        @include breakpoint(xs) {
          width: 50px;
          height: 50px;
        }
      }

      &__area-img {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
      }
      &__input {
        // height: 70px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        // @include breakpoint(sm) {
        //   // height: 50px;
        // }

        input {
          font-size: 2rem;

          @include breakpoint(xs) {
            font-size: 1.75rem;
          }
        }
      }
      &__plan-order {
        margin: 40px 0 0;
        width: 100%;
        height: 50px;

        @include breakpoint(sm) {
          font-size: 1.25rem;
          height: 35px;
          padding: 0;
          margin-top: 20px;
        }
      }
    }
    h2 {
      margin-bottom: 30px;
      margin-top: 0;
      // font-size: 2.5rem;
      font-weight: 900;

      @include breakpoint(sm) {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }
    input[type="text"] {
      padding: 12px;
      height: auto;
      padding-left: 90px;
      width: 100%;
      // height: 70px;
      border-radius: 40px;
      border: none;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
      background-color: white;

      @include breakpoint(sm) {
        // height: 50px;
        padding: 8px;
        padding-left: 50px;
      }
    }
    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .input-container {
      margin-bottom: 20px;

      &--other {
        input[type="text"] {
          padding-left: 20px !important;
        }
      }
    }
    .radio {
      display: inline-block;
      width: auto;
      margin-right: 20px;
      margin-bottom: 20px;

      @include breakpoint(xs) {
        margin-bottom: 5px;
      }

      input ~ label {
        color: #b2b4b9;
        &:before {
          border: 1px solid #b2b4b9;
        }
      }

      input:checked ~ label {
        color: $darkblue;
        &::before {
          background-image: url(img/icons/check.svg);
          border: none;
          background-size: 70%;
        }
      }
      label {
        font-family: 'hero-new', sans-serif;
        font-size: 1.25rem;
        font-weight: 800;
        // margin-bottom: 15px;
        padding-left: 35px;

        @include breakpoint(sm) {
          font-size: 1rem;
          margin-bottom: 10px;
        }
        &:before {
          content: "";
          position: absolute;
          top: 2px;
          left: 0;
          border: 1px solid #0f1d5b;
          // background-image: url(img/icons/check.svg);
          background-size: 22px 17px;
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
          border-radius: 50%;
          z-index: 1;
          @include breakpoint(sm) {
            top: 2px;
            width: 20px;
            height: 20px;
            background-size: 16px 14px;
          }
        }
        &:after {
          content: "";
          position: absolute;
          top: 9px;
          left: 5px;
          display: inline-block;
          width: 11px;
          height: 12px;
          // background-image: url(img/icons/check.svg);
          background-color: inherit;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          z-index: 2;
          @include breakpoint(sm) {
            width: 14px;
            height: 13px;
            top: 6px;
            left: 3px;
          }
        }
      }
    }
  }
}
