.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  .backdrop {
    background-color: rgba(16, 27, 81, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .circle {
    border-radius: 50%;
    position: absolute;
    filter: blur(75px);
    // @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    //   filter: none;
    // }

    &--1 {
      width: 1380px;
      height: 1380px;
      top: -100%;
      left: -35%;
      background-color: #F0F0F0;
    }

    &--2 {
      width: 375px;
      height: 375px;
      top: -20%;
      right: -10%;
      background-color: $orange;
    }

    &--3 {
      background-color: #CC14AA;
      width: 300px;
      height: 300px;
      left: 50%;
      bottom: 0;
      opacity: 0.1;
      transform: translateX(-50%);
    }

    &--4 {
      background-color: $orange;
      opacity: 0.1;
      width: 500px;
      height: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: none;
    }
  }

  .overlay {
    background-color: rgba(255, 255, 255, 0.15);
    // @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    //   backdrop-filter: blur(75px) brightness(115%);
    //   background-color: transparent;
    // }
    width: 100%;
    height: 100%;
    position: absolute;
    // background-color: $white;
  }
}

.opportunities {
  // height: 750px;
  padding:  0;
  position: relative;
  display: flex;
  z-index: 1;

  @include breakpoint(xl) {
    flex-direction: column;
    height: auto;
  }

  &__content {
    max-width: 1500px;
    padding: 185px 0 185px 40px;
    margin: 0 auto;
    z-index: 1;
    position: relative;

    @include breakpoint(1250px) {
      padding-top: 50px;
    }

    @include breakpoint(xl) {
      padding: 50px 0 0 0;
    }

    h1{
      font-size: 4.5rem;
      margin-top: 0px;
      margin-bottom: 37px;
      font-weight: 800;
    }

    h3{
      font-family: 'Roboto', sans-serif;
      font-size: 1.75rem;
      color: $orange;
    }
    p{
      font-size: 1.5rem;
      margin-bottom: 0px;
    }
   ul{
      li{
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
    button.darkblue{
      font-size: 1.375rem;
    }
  }

  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
    margin-bottom: 27px;
  }

  button {
    border-radius: 35px;
    padding-left: 50px;
    padding-right: 50px;
  }

  &__photo {
    z-index: 1;
    display: flex;
    align-items: flex-end;
    min-width: 800px;
    width: 900px;
    padding-top: 50px;
    // width: 60%;

    @include breakpoint(1250px) {
      min-width: 700px;
      width: 800px;
    }

    @include breakpoint(xl) {
      margin: 0 auto;
      width: 50%;
      min-width: 0;
    }
  }
}

.solutions {
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  &__content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;

    h2{
      font-size: 3rem;
    }
    p{
      font-size: 1.5rem;
    }
  }
}
