.parallax {
  height: calc(100vh - 70px);
  // font-size: 200%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax__layer {
  position: absolute;
  // padding: calc(100vh - 70px) 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-.5px) scale(1.5);
}

.parallax__layer--deep {
  transform: translateZ(-1.5px) scale(2.5);
}

.parallax__layer--deeper {
  transform: translateZ(-3px) scale(4.8);
}

.parallax__group {
  position: relative;
  // height: 100vh;
  transform-style: preserve-3d;
  overflow: hidden;
}


.about-us {
  
  &__button{
    font-size: 1.375rem;
    border-radius: 35px;
    padding-left: 50px;
    padding-right: 50px;
  }

  h2{
    font-size: 3rem;
  }

  p{
    font-size: 1.5rem;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;

  .backdrop-bg {
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .backdrop {
    background-color: rgba(16, 27, 81, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @mixin animation-mixin($name, $fromX, $toX, $fromY, $toY, $opacityFrom, $opacityTo) {
    @keyframes #{$name} {
      0% {transform: translate($fromX + px, $fromY + px) scale(1); opacity: $opacityFrom;}
      100% {transform: translate($toX + px, $toY + px) scale(1.2); opacity: $opacityTo;}
    }
  }

  .circle {
    border-radius: 50%;
    position: absolute;
    filter: blur(75px) brightness(115%);
    // @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    //   filter: none;
    // }

    &--1 {
      width: 1380px;
      height: 1380px;
      top: -100%;
      left: -35%;
      background-color: #F0F0F0;
    }

    &--2 {
      width: 375px;
      height: 375px;
      top: -20%;
      right: -10%;
      background-color: $orange;
    }

    &--3 {
      background-color: #CC14AA;
      width: 300px;
      height: 300px;
      left: 50%;
      bottom: 0;
      opacity: 0.1;
      transform: translateX(-50%);
    }

    &--static {
      background-color: $orange;
      opacity: 0.1;
      width: 500px;
      height: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: none;
    }

    &--4 {
      background-color: #7FD6DA;
      opacity: .2;
      width: 604px;
      height: 604px;
      left: -20%;
      bottom: -60%;
    }

    &--5 {
      background-color: $white;
      opacity: .1;
      width: 802px;
      height: 802px;
      left: 20%;
      top: -10%;
    }

    &--6 {
      background-color: $orange;
      opacity: .1;
      width: 1257px;
      height: 1257px;
      top: 0;
      right: -50%;
    }

    @for $i from 1 through 6 {
      @if $i == 3 {
        @include animation-mixin(circle-#{$i}, random(50), random(100) - 150, random(50), random(100) + 50, random(50)/100 + 0.2, random(50)/100 + 0.5);
      } @else {
        @include animation-mixin(circle-#{$i}, random(50), random(100) - 50, random(50), random(100) + 50, random(50)/100 + 0.3, random(50)/100 + 0.5);
      }
      &--#{$i} {
        animation: circle-#{$i} #{random(12)/2 + 4}s ease-in-out infinite alternate;
      }
    }
  }

  .overlay {
    background-color: rgba(255, 255, 255, 0.5);
    // @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    //   backdrop-filter: blur(75px) brightness(115%);
    //   background-color: transparent;
    // }
    width: 100%;
    height: 100%;
    position: absolute;
    // background-color: $white;
  }
}

// .parallax {
//   position: relative;
//   height: 750px;
//   transform-style: preserve-3d;
//   // background-color: rgba(255, 0, 0, 0.5);
//   width: 100%;
// }

.opportunities {
  $_photo-width: 900px;
  $_photo-width-1440: 800px;

  height: 750px;
  padding:  0;
  position: relative;
  display: flex;
  z-index: 2;

  @include breakpoint(xl) {
    flex-direction: column;
    height: auto;
  }

  .background {
    // position: fixed;
    height: 750px;
    top: auto;
  }

  &__content {
    max-width: calc(100vw - #{$_photo-width});
    padding: 185px 0 185px 40px;
    margin: 0;
    z-index: 1;
    position: relative;

    @include breakpoint(1440px) {
      max-width: calc(100vw - #{$_photo-width-1440});
    }

    @include breakpoint(1250px) {
      padding-top: 50px;
    }

    @include breakpoint(xl) {
      padding: 50px 0 0 0;
    }

    h1{
      font-size: 4.5rem;
      margin-top: 0px;
      margin-bottom: 37px;
      font-weight: 800;
    }

    h3{
      font-family: 'Roboto', sans-serif;
      font-size: 1.75rem;
      color: $orange;
    }
    p{
      font-size: 1.5rem;
      margin-bottom: 0px;
    }
   ul{
      li{
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
    margin-bottom: 27px;
  }

  & .opportunities__photo {
    z-index: 1;
    display: flex;
    align-items: flex-end;
    min-width: $_photo-width;
    width: $_photo-width;
    // max-width: 50%;
    padding-top: 55px;
    // position: fixed;
    right: 0;
    // bottom: calc(100vh - 750px - 70px);
    // bottom: 0;
    // width: 60%;
    left: auto;
    
    @include breakpoint(1440px) {
      min-width: $_photo-width-1440;
      width: $_photo-width-1440;
    }

    @include breakpoint(1250px) {
      min-width: 700px;
      width: 800px;
    }

    @include breakpoint(xl) {
      margin: 0 auto;
      width: 50%;
      min-width: 0;
    }
  }
}

.solutions {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  z-index: 20;

  .backdrop {
    background-color: $white;
  }

  &__content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    position: relative;
  }
}

.features {
  height: 750px;
  z-index: 10;
  position: relative;
  display: flex;

  .background {
    // position: fixed;
    height: 750px;
    top: auto;
    // z-index: 10;
  }

  &__content {
    // position: relative;
    padding: 100px 40px;

    h3 {
      margin-top: 0;
      font-size: 1.875rem;
    }

    p {
      font-size: 1.125rem;
    }

    &--right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      left: 35%;
    }
  }

  &__item {
    border-radius: 10px;
    border-left: 10px solid $darkblue;
    overflow: hidden;
    padding: 20px;
    background-color: $white;

    &--clients {
      border-left-color: $orange;
    }

    &--timetable {
      border-left-color: #E589D4;
    }

    &--tools {
      border-left-color: $cyan;
    }

    &--reputation {
      border-left-color: #E5CDBF;
    }
  }

  &__icon {
    height: 55px;
    
    &--main {
      height: 120px;
    }
  }
}

.tools {
  background-image: url(./img/tools.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  height: 855px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__content {
    padding: 40px;
    border-radius: 10px 0 0 10px;
    background-color: $darkblue;
    width: 45%;

    h2 {
      color: $white;
      font-size: 3rem;
      font-weight: 900;
    }

    p {
      color: $white;
      a {
        display: block;
      }
    }
  }
}