.areas {

  width: 100%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      position: relative;
      margin: 0 20px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        width: 1px;
        height: 100%;
        background: $darkblue;
        display: inline-block;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  &__table {
    border-spacing:0;
    margin-top: 20px;
    border-collapse: collapse;
    max-height: 500px;
    overflow-y: scroll;

    tr:first-child th:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    tr:first-child th:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    th {
      border: 1px solid $white;
      background-color: $darkblue;
      color: $white;
      height: 60px;
      font-family: "Sen", sans-serif;

      &:first-child {
        width: 45%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 16%;
      }
    }

    td {
      padding: 0 5px 0 5px;
      vertical-align: top;
      height: 45px;

      &:first-of-type {
        padding-left: 20px;
      }

      button {
        width: 35px;
        height: 35px;
        margin: 10px 10px 10px 0;
      }

      .areas__item {
        background-color: transparent;
        margin: 0;
        height: 35px;
        padding: 7.5px 20px;
        border-radius: 5px;
        width: 100%;
        border: 1px solid $darkblue;
        display: inline-block;
        overflow: hidden;
      }

      label {
        cursor: pointer;
        color: $gray;

        img {
          height: 20px;
        }
      }

      .areas__color {
        text-align: center;
      }

      input {
        width: 100%;

        &::placeholder {
          color: $gray;
        }
      }

      .color-input,
      .icon-label {
        text-align: center;
      }
    }
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Pasirinkite paveikslėlį";
    display: inline-block;
    background: $white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
}
