.company-profile {
  .company__header-top {
    flex-wrap: wrap;

    @include breakpoint(880px) {
      flex-direction: column;
    }
  }

  .social-media {
    position: absolute;
    bottom: 10px;
    right: 30px;
    display: flex;

    @include breakpoint(880px) {
      flex-direction: column;
      bottom: 60px;
    }

    &__icon {
      width: 20px;
      height: 20px;
      display: block;
      margin-right: 10px;

      @include breakpoint(880px) {
        margin-bottom: 10px;
        margin-right: 0;
      }

      &--facebook {
        background-image: url(img/icons/facebook.svg);
      }

      &--instagram {
        background-image: url(img/icons/instagram.svg);
      }

      &--linkedin {
        background-image: url(img/icons/linkedin.svg);
      }

      &--youtube {
        background-image: url(img/icons/youtube.svg);
      }
    }
  }

  .product {
    input {
      padding: 0;
    }
  }

  &__about {
    display: flex;
    justify-content: space-between;
  }

  &__place-info {
    display: flex;

    h4 {
      margin-right: 20px;
    }
  }



  &__work-hours {
    .day {
      &::before {
        content: "●";
        display: inline-block;
      }
    }
    .hours {
      text-align: right;

      &--today {
        color: $red;
        font-weight: 600;
      }
    }
  }
}

.photo-slider {
  // height: 200px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;

  &__slide {
  }
}
