.page-content__wrapper--register {
  padding-top: 50px;
  margin-left: 100px;

  @include breakpoint(880px) {
    margin-left: 0;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .product__header {
    margin-bottom: 55px;

    @include breakpoint(880px) {
      margin-bottom: 25px;
    }
    h1 {
      @include breakpoint(880px) {
        font-size: 1.5rem;
      }
    }
    .product__nav {
      width: 335px;

      @include breakpoint(880px) {
        width: 277px;
      }
    }
  }

  .product__block--company {
    @include breakpoint(880px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .product__block-top {
    width: 100%;

    @include breakpoint(880px) {
      flex-direction: column;
    }

    .product__block-photo {
      height: 200px;
      @include breakpoint(880px) {
        width: 100%;
        margin-bottom: 20px;
      }

      @include breakpoint(900px){
        padding-bottom: unset;
      }

      .product__block-like-status{
        left: 10px;
        top: 10px;
        @include breakpoint(880px){
          left: 5px;
          top: 5px;
        }
      }
    }

    .product__block-info {
      h2 {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 50px;
        height: unset;

        @include breakpoint(880px) {
          margin-bottom: 15px;
        }
      }
      .product__block-address {
        justify-content: space-between;
        &:before {
          width: 0;
          height: 0;
          background-image: none;
        }
        a {
          position: relative;
          font-family: 'hero-new', sans-serif;
          font-weight: bold;
          font-size: 1.125rem;
          flex-basis: 70%;

          @include breakpoint(880px) {
            left: 0;
            font-size: 1rem;
          }
        }
        .product__block-distance {
          font-size: 1rem;
          &::before {
            background-image: url(img/icons/veliavos-kelias-2.svg);
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
            left: 2px;
            position: relative;

            @include breakpoint(880px) {
              width: 15px;
              height: 16px;
            }
          }
        }

        @include breakpoint(880px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      .product__block-bottom {
        .product__block-info-phone {
          @include breakpoint(880px) {
            font-size: 0.875rem;
            font-weight: 500;
          }

          &:before {
            content: url(img/icons/telefonas-2.svg);
            width: 19px;
            height: 19px;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 15px;
            top: 4px;
            position: relative;

            @include breakpoint(880px) {
              width: 17px;
              height: 18px;
              margin-right: 10px;
              margin-bottom: 10px;
            }
          }
        }
        .product__block-info-hours {
          @include breakpoint(880px) {
            font-size: 0.875rem;
            font-weight: 500;
          }

          &:before {
            content: url(img/icons/laikrodis-2.svg);
            width: 19px;
            height: 19px;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 15px;
            top: 4px;
            position: relative;

            @include breakpoint(880px) {
              width: 17px;
              height: 17px;
              margin-right: 10px;
            }
          }
        }
        .product__block-last-hour {
          color: $red;
          font-weight: 400;

          @include breakpoint(880px) {
            font-size: 0.875rem;
          }

          .time-left {
            color: white;
            background-color: #e54651;
            padding: 0px 8px;
            border-radius: 20px;
            font-size: 1rem;
          }
        }
        .product__block-info-actions {
          .product__block-like--active {
            height: 35px;
            width: 95px;
            margin-bottom: 18px;

            @include breakpoint(880px) {
              margin-bottom: 0;
              margin-left: 0;
              margin-right: 20px;
              height: 28px;
              width: 78px;
              font-size: 0.875rem;
              padding-left: 30px;
              padding-left: 30px;
              &:before{
                left: 7px;
              }
            }
          }
          .product__block-like--greyed-out {
            height: 35px;
            width: 95px;
            margin-bottom: 18px;

            @include breakpoint(880px) {
              margin-bottom: 0;
              margin-left: 0;
              margin-right: 20px;
              height: 28px;
              width: 78px;
              font-size: 0.875rem;
              padding-left: 30px;
              &:before{
                left: 7px;
              }
            }
          }
          .product__block-more {
            height: 35px;
            width: 95px;
            transition: background-color .3s ease-in-out;
            
            @include breakpoint(880px){
              height: 28px;
              width: 70px;
              font-size: 0.875rem;
            }

            &:hover {
              background-color: $orange;
            }
          }

          @include breakpoint(880px) {
            margin-top: 20px;
            flex-direction: unset;
          }
        }

        @include breakpoint(880px) {
          flex-direction: column;
          align-items: baseline;
        }
      }

      @include breakpoint(880px) {
        width: 100%;
      }
    }

    .product__block-info.product__block-info {
      @include breakpoint(880px) {
        width: 100%;
      }
    }
  }
}
