.controls {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title {
    @include breakpoint(xs) {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  &__top {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;

    @include breakpoint(sm) {
      margin-bottom: 10px;
    }
  }

  button.controls__restore,
  button.controls__save,
  button.controls__print,
  button.controls__new,
  button.controls__delete,
  button.controls__cancel {
    display: flex;
    align-items: center;

    @include breakpoint(sm) {
      padding: 5px 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    &:before {
      content: "";
      width: 18px;
      height: 18px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      margin-right: 10px;
    }

    @include breakpoint(sm) {
      max-width: 220px;
    }

    @include breakpoint(xs) {
      max-width: 174px;
    }
  }

  &__restore {
    //margin-left: auto;
    margin-right: 10px;

    &:before {
      background-image: url("img/icons/restore-orange.svg");
    }
  }

  &__save {
    &:before {
      background-image: url("img/icons/checkmark-white.svg");
    }
  }

  &__print {
    margin-right: 10px;

    &:before {
      background-image: url("img/icons/printer.svg");
    }
  }

  &__new {
    margin-right: 10px;

    &:before {
      background-image: url("img/icons/plus.svg");
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__delete {
    margin-left: auto;

    &:before {
      background-image: url("img/icons/trash.svg");
    }
  }

  &__cancel {
    margin-left: 10px;
    &:before {
      background-image: url("img/icons/message.svg");
    }
  }

  &__languages {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-end;
    margin-right: auto;

    @include breakpoint(sm) {
      flex: 1 0 100%;
      margin-bottom: 10px;
    }

    li {
      position: relative;
      margin: 0 20px 0 0;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -10px;
        width: 1px;
        height: 100%;
        background: $darkblue;
        display: inline-block;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    .active {
      font-weight: 600;
    }
  }

  &__table-container {
    display: flex;
    border: 1px solid #eee;
    border-top: none;
    //width: calc(100vw - #{"min(54px, 5.1vw)"} - #{"min(100px, 6.9vw)"} - 300px);
    overflow-x: auto;
    width: 100%;

    @include breakpoint(xl) {
      width: calc(100vw - #{"min(54px, 5.1vw)"} - #{"min(100px, 6.9vw)"});
    }

    @include breakpoint(880px) {
      width: auto;
    }
  }

  &__table {
    border-spacing: 0;
    border-collapse: collapse;
    height: 1px;
    margin-bottom: 0;

    tr:first-child th:first-child {
      border-top-left-radius: 5px;
      border-left: none;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 5px;
    }

    th {
      border: 1px solid $white;
      background-color: $darkblue;
      color: $white;
      height: 60px;
      font-family: "Sen", sans-serif;
      padding: 10px;

      @include breakpoint(xs) {
        height: 54px;
      }
    }

    tr {
      height: 100%;
      width: 100%;
    }

    td {
      padding: 5px;
      vertical-align: top;
      height: 100%;

      &:first-of-type {
        padding-left: 20px;
      }

      &:last-of-type {
        padding-right: 20px;
      }

      button {
        width: 35px;
        height: 35px;
        margin: 10px 10px 10px 0;
      }
    }

    td .changed-bg {
      background-color: $darkblue !important;
      color: $white !important;

      path {
        fill: $white !important;
      }
    }
  }

  &__item {
    background-color: transparent;
    margin: 0;
    min-height: 35px;
    height: 100%;
    padding: 7.5px 15px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid $darkblue;
    display: flex;
    align-items: center;
    margin: auto 0;

    &--title {
      font-weight: 600;
    }

    &--image {
      padding: 7.5px 5px;
    }

    img,
    svg {
      height: 20px;
      margin: 0 auto;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
  }

  &__add,
  &__trash,
  &__edit {
    position: relative;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      position: absolute;
    }
  }

  &__add:before {
    background-image: url("img/icons/plus-thin-white.svg");
  }

  &__trash:before {
    background-image: url("img/icons/trash-white.svg");
  }

  &__edit {
    margin-right: 0;

    &:before {
      background-image: url("img/icons/edit-white.svg");
    }
  }
}

.areas {
  &__table {
    width: 60%;
    min-width: 420px;

    tr:first-child th:last-child {
      border-right: none;
      border-top-right-radius: 0;
    }

    th {
      &:first-child {
        width: 42%;
      }

      &:nth-child(2) {
        width: 10%;
      }

      &:nth-child(3) {
        width: 8.14%;
      }
    }

    tr {
      height: auto;
    }

    label {
      cursor: pointer;
      color: $gray;

      img {
        height: 20px;
      }
    }

    .areas__color {
      text-align: center;
    }

    input {
      width: 100%;

      &::placeholder {
        color: $gray;
      }
    }
    .white-text::placeholder {
      color: $white;
    }

    .color-input,
    .icon-label {
      text-align: center;
    }

    .icon-label {
      padding: 7.5px 0;
    }

    &--menu {
      width: 40%;
      table-layout: fixed;
      min-width: 380px;

      tr:first-child th:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px;
        border-left: 1px solid $white;
      }

      tr:first-child th:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid $white;
        width: 40%;
      }

      tr:first-child th:nth-child(2) {
        width: 60%;
      }

      td .controls__item {
        background-color: $darkblue;
        color: $white;

        &--profession {
          background-color: $lightorange;
          color: $darkblue;
        }
      }

      td p:empty {
        background-color: transparent;
        border: none;
      }
    }
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Pasirinkite paveikslėlį";
    display: inline-block;
    background: $white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
}

.services {
  &__areas-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(xs) {
      grid-template-columns: repeat(3, 1fr);
    }

    .services__area-div {
      min-width: 80px;
      //max-width: 120px;

      .services__area-img {
        max-width: 100px;
        position: relative;
        border-radius: 50%;
        margin: 0 auto;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        img {
          position: absolute;
          height: 50%;
          max-width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      h4 {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        text-align: center;
        font-weight: 400;

        @include breakpoint(xs) {
          font-size: 1rem;
        }
      }
    }

    .active {
      .services__area-img {
        border: 1px solid $darkblue;
      }

      h4 {
        font-weight: 600;
      }
    }
  }

  &__table {
    thead {
      display: block;
      position: relative;

      tr {
        min-width: 100%;
        display: block;

        th {
          min-width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    tbody {
      max-height: 400px;
      overflow-y: auto;
      display: block;
    }

    .controls__item {
      display: none;
    }

    &:first-of-type {
      max-width: 16.4%;
      .controls__item {
        display: block;
      }
    }

    &:nth-of-type(2) {
      max-width: 16.4%;
    }

    &:nth-of-type(3) {
      max-width: 37.5%;
    }

    &:last-of-type {
      max-width: calc(100% - 2 * 16.4% - 37.5%);
    }
  }

  .controls__item-content {
    // max-height: 0;
    // visibility: hidden;
    font-size: 0.875rem;
    background-color: $white;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid $darkblue;
    padding: 10px;
  }

  label {
    padding: 0 30px 0 0;
    &:before {
      border: 1px solid $orange;
      top: 50%;
      transform: translate(-50%, -50%);
      left: auto;
      right: 0;
      margin-right: 0;
    }

    &:after {
      top: 50%;
      transform: translate(-50%, -50%);
      left: auto;
      right: 6px;
    }
  }

  .checkbox input:checked ~ label:before {
    background-color: $orange;
  }
}

.messages {
  .controls__table-container {
    border-left: none;
    border-right: none;
  }
  &__table {
    td {
      padding: 10px;
      border: 1px solid $lightgray;
    }

    tr td:first-child {
      border-left: none;
    }

    tr td:last-child {
      border-right: none;
    }

    tbody {
      tr:nth-of-type(2n) {
        background-color: $darkgray;
      }
    }
  }

  &__text {
    p {
      margin: 0;
      float: left;
      width: calc(100% - 45px);
    }
    button.controls__edit {
      margin: 0;
      float: left;
    }
  }
}

.messages-settings {
  .messages__table {
    .controls__trash {
      margin: 0 10px 0 0;
      float: left;
    }
    p {
      width: calc(100% - 90px);
      margin-right: 10px;
    }
  }
}