.controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  &__header {
    position: relative;
    max-height: 300px;

    &--hidden {
      overflow: hidden;
    }
  }

  .title {
    margin-bottom: 25px;
    transition: max-height 0.3s ease-in-out, margin-top 0.3s ease-in-out;

    @include breakpoint(xs) {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  &__top {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: -10px;
    transition: max-height 0.3s ease-in-out, margin-top 0.3s ease-in-out;

    @include breakpoint(880px) {
      justify-content: center;
      margin-right: 0;
    }

    @include breakpoint(sm) {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    &.controls__top--services {
      @include breakpoint(520px) {
        justify-content: flex-end;
        flex-wrap: wrap;
      }

      .controls__print {
        @include breakpoint(sm) {
          grid-column-start: 2;
        }
      }

      .controls__save,
      .controls__restore {
        @include breakpoint(520px) {
          width: 100%;
        }
      }
    }

    &--profiles {
      justify-content: space-between;
    }
  }

  &__buttons-cancel-save {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include breakpoint(375px) {
      flex-wrap: nowrap;
    }
  }

  &__group-btn {
    height: 35px;

    @include breakpoint(xs) {
      height: 30px;
    }
  }

  button.controls__restore,
  button.controls__save,
  button.controls__print,
  button.controls__new,
  button.controls__delete,
  button.controls__cancel {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 50px;
    height: 35px;
    margin-right: 10px;

    @include breakpoint(sm) {
      padding: 5px 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      padding-left: 40px;
      height: 32px;
    }

    @include breakpoint(xs) {
      margin: 0;
      max-width: none;
      width: 100%;
    }

    &:before {
      content: "";
      width: 50px;
      height: 18px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 0;

      @include breakpoint(sm) {
        width: 40px;
      }
    }
  }

  &__restore {
    margin-right: 10px;

    &:before {
      background-image: url("img/icons/restore-orange.svg");
    }
  }

  button.controls__save {
    @include breakpoint(sm) {
      padding-right: 18px;
    }

    &:before {
      background-image: url("img/icons/checkmark-white.svg");
    }
  }

  &__print {
    margin-right: 10px;

    &:before {
      background-image: url("img/icons/printer.svg");
    }
  }

  &__new {
    margin-right: 10px;

    &:before {
      background-image: url("img/icons/plus.svg");
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__delete {
    margin-left: auto;

    &:before {
      background-image: url("img/icons/trash.svg");
    }
  }

  &__cancel {
    margin-left: 10px;
    &:before {
      background-image: url("img/icons/message.svg");
    }
  }

  &__table-container-wrapper {
    position: relative;
  }

  &__table-container {
    display: flex;
    border: 1px solid #eee;
    border-top: none;
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;
    border-radius: 5px;

    @include breakpoint(xl) {
      width: calc(100vw - #{"min(40px, 2.8vw)"} - #{"min(40px, 2.8vw)"});
    }

    @include breakpoint(xs) {
      width: 100%;
    }

    &.rotate-arr:after {
      transform: translate(-50%, -50%) rotate(0);
    }
  }

  &__table-container::-webkit-scrollbar {
    height: 8px;
    border-radius: 5px;
  }

  &__table-container::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  &__table-container::-webkit-scrollbar-thumb {
    border-width: 2px;
    border-radius: 5px;
  }

  &__table {
    border-spacing: 0;
    border-collapse: separate;
    margin-bottom: 0;
    word-break: break-word;

    tr:first-child th:first-child {
      border-top-left-radius: 5px;
      border-left: none;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 5px;
    }

    thead {
      background-color: $darkblue;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    thead tr {
      position: relative;
      width: 100%;
      display: table;

      // th[colspan] {
      //   cursor: initial;
      // }
    }

    th {
      border-left: 1px solid $washedblue;
      background-color: $darkblue;
      color: $white;
      height: 60px;
      font-family: "Sen", sans-serif;
      padding: 10px;
      // cursor: col-resize;

      @include breakpoint(xs) {
        height: 54px;
      }
    }

    th[colspan], th[rowspan] {
      height: 100%;
    }

    tr {
      width: 100%;
    }

    td {
      padding: 5px;
      vertical-align: top;
      height: 100%;

      &:first-of-type {
        padding-left: 10px;
      }

      button {
        width: 35px;
        height: 35px;
        margin: 10px 10px 10px 0;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    td .changed-bg {
      background-color: $darkblue !important;
      color: $white !important;

      path {
        fill: $white !important;
      }
    }

    tfoot {
      z-index: 2;
      background-color: $darkblue;

      tr {
        display: table;
        table-layout: fixed;
      }

      td {
        background-color: $darkblue;
        color: $white;
        text-align: center;
        padding: 5px;
        border-left: 1px solid $washedblue;
        word-break: break-all;
      }
    }

    tbody tr:hover,
    tbody tr:focus {
      background-color: #e3e3e8 !important;

      &.fixed-row {
        background-color: inherit !important;
      }
    }

    tfoot tr:hover,
    tfoot tr:focus {
      background-color: inherit !important;
    }
  }

  thead,
  tbody tr,
  tfoot {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody {
    display: block;
    overflow-y: auto;
    min-height: 150px;
    overflow-x: hidden;
  }

  table,
  tr,
  th,
  td {
    border-collapse: separate;
  }

  tbody::-webkit-scrollbar {
    width: 8px;
    bottom: 1px;
  }

  tbody::-webkit-scrollbar-thumb {
    border-width: 2px;
  }

  &__area {
    &:last-of-type > td {
      padding-bottom: 30px;
    }
  }

  tfoot {
    box-shadow: $washedblue 1px 0;
  }

  &__item {
    background-color: transparent;
    margin: 0;
    min-height: 35px;
    height: 100%;
    padding: 7.5px 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid $darkblue;
    display: flex;
    align-items: center;
    margin: auto 0;
    background-color: $white;

    p {
      margin: 0;
    }

    &--image {
      padding: 7.5px 5px;
    }

    img,
    svg {
      height: 20px;
      margin: 0 auto;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;

    button:last-of-type {
      margin-right: 0;
    }
  }

  &__add,
  &__trash,
  &__edit,
  &__switch {
    position: relative;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      position: absolute;
    }

    &:disabled {
      filter: grayscale(1) invert(1);
      background: transparent;
      border: 1px solid $white;
      opacity: 0.15;
    }
  }

  &__add:before {
    background-image: url("img/icons/plus-thin-white.svg");
  }

  &__trash:before {
    background-image: url("img/icons/trash-white.svg");
  }

  &__edit {
    &:before {
      background-image: url("img/icons/edit-white.svg");
    }
  }

  &__switch {
    margin-right: 0;

    &:before {
      background-image: url("img/icons/switch-white.svg");
    }

    &:active,
    &:focus {
      border: 1px solid $orange;
    }

    &--active {
      border: 1px solid $orange;
      background-color: transparent;

      &:before {
        background-image: url("img/icons/switch-orange.svg");
      }
    }
  }

  .fixed-row {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $white;
  }

  thead th,
  td {
    position: relative;
    &::after,
    &::before {
      content: "";
      position: absolute;
      bottom: 12px;
      right: 5px;
      width: 8px;
      height: 7px;
      transition: transform 0.3s ease-in-out;
      opacity: 0.5;
      cursor: pointer;
    }

    &.bottom-arrow:after {
      content: url("img/icons/list-bottom-white.svg");
    }

    &.top-arrow::before {
      background-image: url("img/icons/list-white.svg");
      bottom: 15px;
    }

    &.filter-arrow::before {
      content: url("img/icons/angle-down-white.svg");
      width: 12px;
      height: 10px;
    }

    &.left-arrow::before {
      content: url("img/icons/angle-down.svg");
      transform: translate(-50%, -50%) rotate(-90deg);
      opacity: 1;
      right: 0;
      bottom: auto;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
    }
  }

  .controls__button {
    padding-left: 40px;
    position: relative;

    @include breakpoint(sm) {
      padding-left: 40px;
    }

    @include breakpoint(xs) {
      text-align: left;
    }

    &::before {
      content: "";
      width: 40px;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 1px;

      // @include breakpoint(sm) {
      //   width: 40px;
      // }
    }

    &--trash {
      &::before {
        background: url("img/icons/trash.svg") no-repeat center;
        background-size: 50%;
      }
    }

    &--new {
      &::before {
        background: url("img/icons/new-company-group.svg") no-repeat center;
        background-size: 70%;
      }
    }

    &--activate {
      &::before {
        background: url("img/icons/active.svg") no-repeat center;
        background-size: 55%;
      }
    }

    &--deactivate {
      &::before {
        background: url("img/icons/deactive.svg") no-repeat center;
        background-size: 55%;
      }
    }

    &--send {
      &::before {
        background: url("img/icons/message.svg") no-repeat center;
        background-size: 48%;
      }
    }

    &--print {
      &::before {
        background: url("img/icons/printer.svg") no-repeat center;
        background-size: 47%;
      }
    }
  }
}

.areas {
  &__table {
    width: 84%;

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tbody {
      display: block;
      overflow-y: auto;
      min-height: 150px;
    }

    table,
    tr,
    th,
    td {
      border-collapse: collapse;
    }

    tbody tr {
      height: 35px;

      &:hover, &:focus {
        background-color: inherit;
      }
    }

    tr:first-child th:last-child {
      border-right: none;
      border-top-right-radius: 0;
    }

    th,
    td {
      &:first-child {
        width: 27.5%;
      }

      &:nth-child(2) {
        width: 12.5%;
        min-width: 100px;
      }

      &:nth-child(3) {
        width: 6.5%;
        min-width: 40px;
      }

      &:nth-child(4) {
        width: 23%;
      }

      &:nth-child(5) {
        min-width: 100px;
      }
    }

    th:last-child {
      width: calc(100% - 28% - 12% - 6.5% - 23%);
    }

    td:last-child,
    td:nth-last-child(2) {
      width: calc((100% - 28% - 12% - 6.5% - 23%) / 2);
    }

    tr {
      height: auto;
    }

    label {
      cursor: pointer;
      color: $gray;

      img {
        height: 20px;
      }
    }

    .areas__color {
      text-align: center;
    }

    input {
      width: 100%;

      &::placeholder {
        color: $gray;
      }
    }
    .white-text::placeholder {
      color: $white;
    }

    .color-input,
    .icon-label {
      text-align: center;
    }

    .icon-label {
      padding: 7.5px 0;
    }

    &--main {
      min-width: 800px;

      thead {
        border-top-right-radius: 0;
      }

      tbody {
        border-right: 1px solid #eee;
      }
    }

    &--menu {
      width: 16%;
      table-layout: fixed;
      min-width: 200px;

      thead {
        border-top-left-radius: 0;
      }

      tbody {
        position: relative;
      }

      tr:first-child th:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px;
        border-left: 1px solid $washedblue;
      }

      tr:first-child th:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid $washedblue;
        width: 40%;
      }

      td:first-child {
        width: 40%;
      }

      tr:first-child th:nth-child(2),
      td:nth-child(2) {
        width: 60%;
      }

      td .controls__item {
        background-color: $darkblue;
        color: $white;

        &--profession {
          background-color: $lightorange;
          color: $darkblue;
        }
      }

      td p:empty {
        background-color: transparent;
        border: none;
      }
    }
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Pasirinkite paveikslėlį";
    display: inline-block;
    background: $white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
}

.services {
  position: relative;

  .title {
    line-height: 1;
  }
  &__areas-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: -20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: max-height 0.3s ease-in-out, margin-top 0.3s ease-in-out;

    @include breakpoint(880px) {
      position: relative;
      margin-bottom: 10px;
      justify-content: space-between;
    }

    @include breakpoint(sm) {
      margin-right: -10px;
    }

    .services__area-div {
      min-width: 43px;
      margin-bottom: 10px;
      margin-right: 20px;

      @include breakpoint(xs) {
        margin-right: 10px;
      }

      .services__area-img {
        max-width: 100px;
        position: relative;
        border-radius: 50%;
        margin: 0 auto;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        img {
          position: absolute;
          height: 50%;
          max-width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      h4 {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        text-align: center;
        font-weight: 400;

        @include breakpoint(xs) {
          font-size: 1rem;
        }
      }
    }

    .active {
      .services__area-img {
        border: 2px solid $darkblue;
      }

      h4 {
        font-weight: 600;
      }
    }
  }

  .controls__table-container {
    overflow-x: hidden;
    border-bottom: none;

    @include breakpoint(880px) {
      overflow-x: auto;
    }
  }

  &__table {
    min-width: 185px;
    display: inline-block;
    justify-content: flex-start;

    &:first-of-type {
      border-left: none;
      border-right: none;
    }

    thead {
      border-radius: 0;
      box-shadow: $washedblue 1px 0;
    }

    &:first-of-type {
      thead {
        border-top-left-radius: 5px;
      }

      tbody {
        border-left: none;
      }

      tfoot td {
        border-bottom-left-radius: 5px;
      }
    }

    &:last-of-type {
      thead {
        border-top-right-radius: 5px;
      }

      tfoot td {
        border-bottom-right-radius: 5px;
      }
    }

    thead,
    tbody tr,
    tfoot {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tbody {
      display: block;
      overflow-y: auto;
      min-height: 150px;

      border-left: 1px solid #eee;
    }

    table,
    tr,
    th,
    td {
      border-collapse: collapse;
    }

    tr {
      height: auto;

      &:hover, &:focus {
        background-color: inherit;
      }
    }

    td {
      height: auto;
    }

    &:first-of-type {
      flex: 0 0 17%;
      max-width: 17%;
      z-index: 3;
    }

    &:nth-of-type(2) {
      flex: 0 0 17%;
      max-width: 17%;
      z-index: 2;
    }

    &:nth-of-type(3) {
      min-width: 270px;
      z-index: 1;
    }

    &:last-of-type {
      max-width: calc(100% - 16.4% - 17% - 39%);
      min-width: 270px;
      flex: 0 1 auto;
    }

    h4 {
      font-size: 0.875rem;
      margin: auto 0 auto auto;
      text-align: right;
    }

    &--service-title,
    &--service-detail {
      thead {
        th {
          position: relative;
        }

        span {
          display: block;
          font-weight: 400;
          font-size: 0.875rem;

          @include breakpoint(sm) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }

  input[name="product-title"],
  textarea[name="product-description"] {
    background-color: transparent;
    padding: 0;
    border: none;
    color: inherit;
    resize: none;
    height: 100%;
    font-size: inherit;
    font-weight: inherit;
  }

  input[name="product-title"] {
    @include breakpoint(xs) {
      font-size: 0.75rem;
    }
  }

  .controls__item {
    position: relative;

    &--service-title {
      border-radius: 5px 5px 0 0;
      font-weight: 600;
    }
  }

  .checkbox.controls__item {
    background-color: $darkgray;
  }

  .controls__item-content {
    font-size: 0.875rem;
    background-color: $white;
    font-weight: 400;
    border-radius: 0 0 5px 5px;
    background-color: $darkgray;
    padding: 10px;
  }

  label {
    padding: 0 30px 0 0;
    position: static;

    &:before {
      border: 1px solid $orange;
      top: 50%;
      transform: translate(-50%, -50%);
      left: auto;
      right: 0;
      margin-right: 0;
      background-color: $white;
    }

    &:after {
      top: 50%;
      transform: translate(-50%, -50%);
      left: auto;
      right: 6px;
    }
  }

  .checkbox input:checked ~ label:before {
    background-color: $orange;
  }
}

.messages {
  .controls__table-container {
    border-left: none;
    border-right: none;
  }
  &__table {
    thead{
      th{
        &::after{
          bottom: 10px;
        }
      }
    }

    th,
    td {
      font-size: 0.75rem;
      font-weight: 400;
      &:first-of-type {
        width: 99px;
        text-align: center;
        vertical-align: middle;
      }
      &:nth-of-type(2){
        width: 980px;
      }
      &:last-of-type{
        width: 149px;
        vertical-align: middle;
      }
    }

    td {
      padding: 10px;
      border: 1px solid $lightgray;
    }

    tr td:first-child {
      border-left: none;
    }

    tr td:last-child {
      border-right: none;
    }

    tbody {
      tr:nth-of-type(2n) {
        background-color: $darkgray;
      }
    }
  }

  &__text {
    p {
      margin: 0;
      float: left;
      width: calc(100% - 45px);
      font-size: 0.75rem;
    }
    button.controls__edit {
      margin: 0;
      float: left;
    }
  }
}

.messages--settings{
  .languages{
    @include breakpoint(sm){
      grid-column: span 2;
    }
  }
  .controls__table {
    th{
      &:after{
        bottom: 10px;
      }
    }
    th,
    td {
      font-size: 12px;
      font-weight: 400;
      vertical-align: middle;
      padding-left: 10px;
      &:first-of-type {
        width: 86px;
      }
      &:nth-of-type(2) {
        width: 108px;
        text-align: center;
      }
      &:nth-of-type(3) {
        width: 110px;
        text-align: center;

      }
      &:nth-of-type(4) {
        width: 492px;
      }
      &:nth-of-type(5) {
        width: 70px;
        text-align: center;
      }
      &:nth-of-type(6) {
        width: 76px;
      }
      &:nth-of-type(7) {
        width: 82px;
      }
      &:nth-of-type(8) {
        width: 137px;
      }
      &:last-of-type {
        width: 104px;
      }
    }
    .messages__text{
      p{
        font-size: 0.875rem;
        width: auto;
      }
    }
  }
}

.messages-settings {
  .controls__top {
    .controls__delete,
    .controls__cancel {
      @include breakpoint(sm) {
        margin: 0;
        max-width: none;
        width: 100%;
        justify-content: left;
      }
    }
    button {
      @include breakpoint(sm) {
        justify-content: center;
      }
    }

    .controls__delete{
      margin-right: 5px;
    }

    .controls__cancel{
      margin-left: 0px;
    }
  }

  .languages {
    @include breakpoint(sm) {
      grid-column: auto / span 2;
    }
  }

  .messages__table {
    td button {
      margin: 0;
    }

    thead th::after,
    td::after,
    td::before {
      bottom: 10px;
    }

    th,
    td,
    p {
      font-size: 0.75rem;
    }

    th {
      vertical-align: middle;
      padding: 10px 6px;
      font-weight: 400;
    }

    td {
      vertical-align: middle;
      padding: 8px;

      &:last-of-type {
        width: 123px;
      }

      .checkbox {
        label {
          &:before {
            top: -7px;
            left: 3px;
          }

          &::after {
            top: -3px;
            left: 6px;
          }
        }
      }
    }

    th,
    td {
      &:first-of-type {
        width: 40px;
      }
      &:nth-of-type(2) {
        width: 78px;
      }
      &:nth-of-type(3) {
        width: 106px;
      }
      &:nth-of-type(4) {
        width: 160px;
      }
      &:nth-of-type(5) {
        width: 112px;
        text-align: center;
      }
      &:nth-of-type(6) {
        width: 367px;
      }
      &:nth-of-type(7) {
        width: 77px;
        text-align: center;
      }
      &:nth-of-type(8) {
        width: 74px;
      }
      &:nth-of-type(9) {
        width: 86px;
      }
      &:last-of-type {
        width: 131px;
      }
    }
  }
}

.profiles {
  &__table {
    th .checkbox input[type="checkbox"]:checked ~ label:before {
      background-color: rgba(255, 255, 255, 0.49);
    }

    th,
    td {
      &:first-of-type {
        width: 40px;
        &::before,
        &::after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &:nth-of-type(2) {
        width: 40px;
        text-align: center;

        &::before,
        &::after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &:nth-of-type(3) {
        width: 106px;
        text-align: center;
      }
      &:nth-of-type(4) {
        width: 96px;
      }
      &:nth-of-type(5) {
        width: 100px;
      }
      &:nth-of-type(6) {
        width: 130px;
      }
      &:nth-of-type(7) {
        width: 76px;
        text-align: center;
      }
      &:nth-of-type(8) {
        width: 68px;
      }
      &:nth-of-type(9) {
        width: 114px;
      }
      &:nth-of-type(10) {
        width: 108px;
      }
      &:nth-of-type(11) {
        width: 176px;
        word-break: break-all;
      }
      &:nth-of-type(12) {
        min-width: 74px;
        width: 74px;
        word-break: break-all;
      }
      &:nth-of-type(13) {
        width: 106px;
      }
      &:last-of-type {
        width: 40px;
        &::before,
        &::after {
          right: 8px;
        }
      }
    }
    th {
      vertical-align: top;
      font-size: 0.75rem;
      font-weight: normal;
      padding-left: 5px;
      padding-right: 5px;
      height: 54px;

      &:first-of-type {
        padding: 0;

        .checkbox {
          left: 5px;
          top: 9px;
        }
      }

      &::after {
        bottom: 8px !important;
      }

      label {
        &::before {
          background-color: rgba(255, 255, 255, 0.49);
        }
      }

      .checkbox label:before {
        position: absolute;
        left: 7px;
        border-radius: 5px;
      }

      .checkbox label:after {
        left: 10px;
      }
    }
    tbody {
      overflow-y: scroll;

      tr:nth-of-type(2n) {
        background-color: $darkgray;
      }

      td {
        border-left: 1px solid $lightgray;
        border-top: 1px solid $lightgray;
        vertical-align: middle;
        padding: 0 8px;
        font-size: 0.75rem;
        height: 60px;

        &:last-of-type,
        &:first-of-type {
          border-left: none;
        }

        &:nth-last-of-type(2) {
          border-right: 1px solid $lightgray;
        }

        .checkbox label {
          &::before {
            left: 2px;
            top: -10px;
          }

          &::after {
            top: -6.5px;
            left: 5px;
          }
        }

        &:last-of-type label:before {
          left: 7px;
        }
      }
    }

    tfoot {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      td {
        font-size: 0.875rem;
        background-color: transparent;
        &:first-of-type {
          border-bottom-left-radius: 5px;
          border-left: none;
        }
      }
    }

    &--specialists {
      thead tr {
        display: table-row;
      }

      thead tr:nth-of-type(2) th {
        padding: 5px;
        border-top: 1px solid $washedblue;
        height: auto;
      }

      th,
      td {
        &:nth-of-type(3) {
          width: 98px;
        }

        &:nth-of-type(4) {
          width: 120px;
        }

        &:nth-of-type(5) {
          width: 80px;
        }

        &:nth-of-type(6) {
          width: 97px;
        }
        &:nth-of-type(7) {
          width: 130px;
        }
        &:nth-of-type(8) {
          width: 130px;
        }
        &:nth-of-type(9) {
          width: 63px;
          text-align: center;
        }
        &:nth-of-type(10) {
          width: 115px;
        }
        &:nth-of-type(11) {
          width: 110px;
        }
        &:nth-of-type(12) {
          width: 177px;
        }
        &:nth-of-type(13) {
          width: 58px;
          text-align: center;
        }
        &:nth-of-type(14) {
          width: 54px;
          text-align: center;
        }
        &:nth-of-type(15) {
          width: 64px;
          text-align: center;
        }
        &:nth-of-type(16) {
          width: 54px;
          text-align: center;
        }
      }

      th {
        &:nth-of-type(17) {
          width: 130px;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 6px;
          // height: 26px;
        }
        &:nth-of-type(18) {
          width: 204px;
          // height: 26px;
          padding-bottom: 6px;
        }
      }

      td {
        &:nth-of-type(7),
        &:nth-of-type(6) {
          text-align: left;
        }
        &:nth-of-type(17),
        &:nth-of-type(18) {
          width: 65px;
          text-align: center;
        }
        &:nth-of-type(19),
        &:nth-of-type(20),
        &:nth-of-type(21) {
          width: 68px;
          text-align: center;
        }
      }
    }
  }

  .controls__group {
    margin-right: 10px;

    button {
      height: 35px;
      @include breakpoint(1470px) {
        margin-bottom: 10px;
      }
      @include breakpoint(sm) {
        margin-bottom: 10px;
        width: 100%;
      }
    }

    @include breakpoint(1470px) {
      position: relative;
    }

    @include breakpoint(sm) {
      position: relative;
      width: 100%;
    }
  }

  .controls__buttons-container {
    button {
      height: 35px;

      @include breakpoint(sm) {
        height: 32px;
      }
    }
  }
  .pagination {
    padding-bottom: 22px;
    border-bottom: 1px solid $lightgray;
    border-top: none;
  }

  .controls__top {
    margin-right: 0;
    @include breakpoint(sm) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

  .controls__group,
  .controls__buttons-container {
    @include breakpoint(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;

      button {
        margin: 0;
        height: 32px;
      }
    }
  }

  .controls__buttons-container button:last-of-type {
    grid-column-end: -1;
  }

  &__table--service {
    thead tr,
    tfoot tr {
      table-layout: fixed;
    }
    th {
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(10) {
        padding-right: 15px;
      }
    }
    th,
    td {
      &:first-of-type {
        width: 40px;
      }
      &:nth-of-type(2) {
        width: 40px;
      }
      &:nth-of-type(3) {
        width: 94px;
      }
      &:nth-of-type(4) {
        width: 54px;
      }
      &:nth-of-type(5) {
        width: 120px;
      }
      &:nth-of-type(6) {
        width: 108px;
      }
      &:nth-of-type(7) {
        width: 177px;
      }
      &:nth-of-type(8) {
        width: 80px;
      }
      &:nth-of-type(9) {
        width: 79px;
      }
      &:nth-of-type(10) {
        width: 79px;
      }
      &:nth-of-type(11) {
        width: 106px;
      }
      &:nth-of-type(12) {
        width: 73px;
      }
      &:nth-of-type(13) {
        width: 82px;
      }
      &:nth-of-type(14) {
        width: 85px;
      }
      &:last-of-type {
        width: 40px;
      }
    }
    td {
      &:nth-of-type(7) {
        word-break: break-all;
        text-align: left;
      }
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(10),
      &:nth-of-type(11) {
        text-align: center;
      }
    }
    td.tick-arrow::before {
      content: url(img/icons/check-darkblue.svg);
      transform: translate(-50%, -50%);
      opacity: 1;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 15px;
    }
  }
}

.general {
  .company__header {
    width: calc(100% + 80px);
    left: -40px;
    margin-left: 0;
  }

  .company__header-content {
    margin: 0;
  }

  .controls__table {
    th,
    td {
      &:first-of-type {
        width: 230px;
        border-right: 1px solid #eee;
      }
      &:nth-of-type(2) {
        width: 268px;
        border-right: 1px solid #eee;
        p {
          width: 81%;
        }
      }
      &:last-of-type {
        width: 648px;
        padding-right: 30px;
      }
    }
    tr {
      &:not(:nth-of-type(2)) {
        td {
          padding-top: 5px;
        }
      }
      &:first-of-type {
        td {
          padding-bottom: 0;
          padding-top: 10px;
        }
      }
    }
    tbody {
      tr {
        &:last-of-type {
          height: 85px;
          td {
            padding-bottom: 85px;
          }
        }
      }
    }
    td {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 20px;
      button {
        margin: 0;
        margin-left: 10px;
      }
      .checkbox {
        margin-left: 10px;
        margin-right: 20px;
        label {
          &:before {
            top: 10px;
          }
          &:after {
            top: 13px;
          }
        }
      }
      p {
        width: 78%;
        margin-left: 45px;
        margin-right: 15px;
      }
      &:last-of-type {
        p {
          width: 100%;
          margin-left: 10px;
          margin-right: 0px;
        }
      }
    }
  }

  #kainu-nustatymai {
    .controls__table {
      td {
        padding-right: 10px;
        padding-left: 10px;

        p {
          margin-right: 10px;
          margin-left: 10px;
          width: auto;
        }
      }
      th,
      td {
        &:first-of-type {
          width: 50%;
          border-right: none;
        }
        &:last-of-type {
          width: 50%;
          border-right: none;
        }
      }
      th {
        &:first-of-type {
          border-right: 1px solid #eee;
        }
      }
    }
  }
  #vertimai {
    th,
    td {
      &:first-of-type {
        width: 252px;
        border-right: 1px solid #eee;
      }
      &:nth-of-type(2) {
        width: 262px;
        border-right: 1px solid #eee;
      }
      &:nth-of-type(3) {
        width: 316px;
        border-right: 1px solid #eee;
      }
      &:last-of-type {
        width: 310px;
        border-right: none;
      }
    }
    td {
      padding-right: 10px;
      &:last-of-type {
        width: 318px;
      }
      .controls__edit {
        float: right;
      }
      p {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
      }
    }
  }
}

.reservations {
  .controls__top {
    @include breakpoint(sm) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }
  .controls__group {
    @include breakpoint(786px) {
      width: 100%;
      margin-bottom: 10px;
    }
    @include breakpoint(sm) {
      margin-bottom: 0px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      button {
        width: 100%;
      }
    }
  }
  .controls__buttons-container {
    margin-right: 10px;
    @include breakpoint(786px) {
      width: 100%;
    }
    @include breakpoint(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      button {
        width: 100%;
        // text-align: center;
      }
    }
  }
  .controls__table {
    th {
      font-family: "Sen", sans-serif;
      padding-top: 10px;
    }

    .top-arrow {
      &:first-of-type {
        &:before,
        &:after {
          left: 90%;
        }
      }

      &:nth-of-type(2) {
        &:before,
        &:after {
          left: 90%;
        }
      }
    }

    td {
      vertical-align: middle;
    }

    th,
    td {
      &:first-of-type {
        width: 89px;
      }
      &:nth-of-type(2) {
        width: 89px;
      }
      &:nth-of-type(3) {
        width: 58px;
      }
      &:nth-of-type(4) {
        width: 58px;
      }
      &:nth-of-type(5) {
        width: 91px;
      }
      &:nth-of-type(6) {
        width: 74px;
      }
      &:nth-of-type(7) {
        width: 113px;
      }
      &:nth-of-type(8) {
        width: 114px;
      }
      &:nth-of-type(9) {
        width: 147px;
      }
      &:nth-of-type(10) {
        width: 140px;
      }
      &:nth-of-type(11) {
        width: 85px;
      }
      &:nth-of-type(12) {
        width: 247px;
      }
      &:nth-of-type(13) {
        width: 103px;
      }
      &:nth-of-type(14) {
        width: 65px;
      }
      &:last-of-type {
        min-width: 40px;
      }
    }
    td {
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(6),
      &:nth-of-type(7) {
        text-align: left;
      }

      &:first-of-type,
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(13) {
        text-align: center;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        font-size: 1rem;
      }

      &:nth-of-type(13) {
        text-align: right;
      }
    }
    .left-arrow {
      &:before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }
}

.report {
  .controls__top {
    @include breakpoint(880px) {
      justify-content: flex-end;
    }

    @include breakpoint(sm) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }
  .controls__buttons-container {
    margin-right: 10px;

    @include breakpoint(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin-right: 0;

      button {
        width: 100%;
        // text-align: center;
      }
    }

    // @include breakpoint(510px) {
    //   display: block;
    //   .controls__button--pdf {
    //     margin-bottom: 10px;
    //   }
    // }
  }
  .controls__button--pdf::before {
    background: url(img/icons/laiskas.svg) no-repeat center;
    width: 20px;
    height: 20px;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
  }

  .controls__table {
    .top-arrow {
      &:nth-of-type(2) {
        &:before,
        &:after {
          left: 96%;
        }
      }
    }

    tr {
      &:last-of-type {
        .top-arrow {
          &:first-of-type,
          &:nth-of-type(2) {
            &:before,
            &:after {
              left: 85%;
            }
          }
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:last-of-type {
            &:before,
            &:after {
              left: 77%;
            }
          }
        }
      }
    }

    tbody {
      overflow-y: auto;
    }

    th {
      padding-left: 10px;

      &:first-of-type {
        width: 27px;
      }
      &:nth-of-type(2) {
        width: 206px;
      }
      &:nth-of-type(3) {
        width: 119px;
      }
      &:nth-of-type(4) {
        width: 113px;
      }
      &:nth-of-type(5) {
        width: 178px;
      }
      &:nth-of-type(6) {
        width: 141px;
      }
      &:nth-of-type(7) {
        width: 83px;
      }
      &:nth-of-type(8) {
        width: 122px;
      }
      &:nth-of-type(9) {
        width: 120px;
      }
      &:nth-of-type(10) {
        width: 121px;
      }
      &:nth-of-type(11) {
        width: 63px;
      }
      &:nth-of-type(12) {
        width: 91px;
      }
      &:nth-of-type(13) {
        width: 120px;
      }
      &:nth-of-type(14) {
        width: 89px;
      }
      &:nth-of-type(15) {
        width: 78px;
      }
      &:nth-of-type(16) {
        width: 89px;
      }
      &:nth-of-type(17) {
        width: 85px;
      }
      &:nth-of-type(18) {
        width: 64px;
      }
      &:nth-of-type(19) {
        width: 58px;
      }
      &:nth-of-type(20) {
        width: 44px;
      }
      &:nth-of-type(21) {
        width: 62px;
      }
      &:nth-of-type(22) {
        width: 95px;
      }
      &:nth-of-type(23) {
        width: 90px !important;
        text-align: center;
      }
      &:last-of-type {
        width: 40px;
      }
    }
    td {
      height: 31px;
      vertical-align: middle;
      &:first-of-type {
        width: 27px;
      }
      &:nth-of-type(2) {
        width: 206px;
        text-align: left;
      }
      &:nth-of-type(3) {
        width: 119px;
        text-align: left;
      }
      &:nth-of-type(4) {
        width: 113px;
      }
      &:nth-of-type(5) {
        width: 178px;
      }
      &:nth-of-type(6) {
        width: 141px;
      }
      &:nth-of-type(7) {
        width: 83px;
      }
      &:nth-of-type(8) {
        width: 62px;
        text-align: center;
      }
      &:nth-of-type(9) {
        width: 59px;
        text-align: center;
      }
      &:nth-of-type(10) {
        width: 62px;
        text-align: center;
      }
      &:nth-of-type(11) {
        width: 59px;
        text-align: center;
      }
      &:nth-of-type(12) {
        width: 62px;
        text-align: center;
      }
      &:nth-of-type(13) {
        width: 59px;
        text-align: center;
      }
      &:nth-of-type(14) {
        width: 63px;
        text-align: center;
      }
      &:nth-of-type(15) {
        width: 91px;
        text-align: center;
      }
      &:nth-of-type(16) {
        width: 120px;
        text-align: center;
      }
      &:nth-of-type(17) {
        width: 89px;
        text-align: center;
      }
      &:nth-of-type(18) {
        width: 78px;
        text-align: center;
      }
      &:nth-of-type(19) {
        width: 89px;
        text-align: center;
      }
      &:nth-of-type(20) {
        width: 85px;
        text-align: center;
      }
      &:nth-of-type(21) {
        width: 64px;
        text-align: center;
      }
      &:nth-of-type(22) {
        width: 58px;
        text-align: center;
      }
      &:nth-of-type(23) {
        width: 44px;
        text-align: center;
      }
      &:nth-of-type(24) {
        width: 62px;
        text-align: center;
      }
      &:nth-of-type(25) {
        width: 95px;
        text-align: center;
      }
      &:nth-of-type(26) {
        width: 90px;
        text-align: center;
      }
      &:last-of-type {
        width: 40px;
      }
      .checkbox {
        label {
          &:before {
            left: -5px;
          }
          &:after {
            left: -1px;
          }
        }
      }
    }
    .left-arrow {
      &:before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }

    tfoot {
      td {
        &:nth-of-type(2) {
          text-align: center;
        }
      }
    }
  }
}

.company-report {
  .controls__top {
    @include breakpoint(880px) {
      justify-content: flex-end;
    }
    @include breakpoint(sm) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }
  .controls__buttons-container {
    margin-right: 10px;

    @include breakpoint(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin-right: 0;
      
      button {
        width: 100%;
        // text-align: center;
      }
    }
    @include breakpoint(510px) {
      // display: block;
      // .controls__button--pdf {
      //   margin-bottom: 10px;
      // }
    }
  }
  .controls__button--pdf::before {
    background: url(img/icons/laiskas.svg) no-repeat center;
    width: 20px;
    height: 20px;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
  }

  tbody {
    overflow-y: auto;
  }

  .controls__table {
    tr:nth-of-type(2) {
      th:first-of-type,
      th:nth-of-type(2) {
        &:before,
        &:after {
          left: 81%;
        }
      }

      th:nth-of-type(3),
      th:nth-of-type(4) {
        &:before,
        &:after {
          left: 73%;
        }
      }

      th:nth-of-type(4),
      th:last-of-type {
        &:before,
        &:after {
          left: 73%;
        }
      }
    }

    th {
      font-family: "Roboto", sans-serif;
    }

    th,
    td {
      vertical-align: middle;
      padding-left: 10px;

      &:first-of-type {
        width: 27px;
      }

      &:nth-of-type(2) {
        width: 169px;
        &:before,
        &:after {
          left: 93%;
        }
      }

      &:nth-of-type(3) {
        width: 201px;
      }

      &:nth-of-type(4) {
        width: 205px;
      }

      &:nth-of-type(5) {
        width: 102px;
      }

      &:nth-of-type(6) {
        width: 100px;
      }

      &:nth-of-type(7) {
        width: 101px;
      }

      &:nth-of-type(8) {
        width: 63px;
      }

      &:nth-of-type(9) {
        width: 81px;
      }

      &:nth-of-type(10) {
        width: 110px;
      }

      &:nth-of-type(11) {
        width: 79px;
      }

      &:nth-of-type(12) {
        width: 78px;
      }

      &:nth-of-type(13) {
        width: 89px;
      }

      &:nth-of-type(14) {
        width: 85px;
      }

      &:nth-of-type(15) {
        width: 64px;
      }

      &:nth-of-type(16) {
        width: 58px;
      }

      &:nth-of-type(17) {
        width: 44px;
      }

      &:nth-of-type(18) {
        width: 62px;
      }

      &:nth-of-type(19) {
        width: 95px;
      }

      &:nth-of-type(20) {
        width: 77px;
      }

      &:last-of-type {
        width: 40px;
      }
    }

    td {
      height: 31px;
      text-align: center;
      &:first-of-type {
        width: 27px;
      }
      &:nth-of-type(2) {
        width: 169px;
        text-align: left;
      }
      &:nth-of-type(3) {
        width: 201px;
        text-align: left;
      }
      &:nth-of-type(4) {
        width: 205px;
        text-align: left;
      }
      &:nth-of-type(5) {
        width: 50px;
      }
      &:nth-of-type(6) {
        width: 51px;
      }
      &:nth-of-type(7) {
        width: 50px;
      }
      &:nth-of-type(8) {
        width: 51px;
      }
      &:nth-of-type(9) {
        width: 50px;
      }
      &:nth-of-type(10) {
        width: 51px;
      }
      &:nth-of-type(11) {
        width: 63px;
      }
      &:nth-of-type(12) {
        width: 81px;
      }
      &:nth-of-type(13) {
        width: 110px;
      }
      &:nth-of-type(14) {
        width: 79px;
      }
      &:nth-of-type(15) {
        width: 78px;
      }
      &:nth-of-type(16) {
        width: 89px;
      }
      &:nth-of-type(17) {
        width: 85px;
      }
      &:nth-of-type(18) {
        width: 64px;
      }
      &:nth-of-type(19) {
        width: 58px;
      }
      &:nth-of-type(20) {
        width: 44px;
      }
      &:nth-of-type(21) {
        width: 62px;
      }
      &:nth-of-type(22) {
        width: 95px;
      }
    }
    .checkbox {
      label {
        &:before {
          left: -5px;
        }
        &:after {
          left: -1px;
        }
      }
    }
    .left-arrow {
      &:before {
        top: 58%;
        left: 82%;
      }
    }
  }
}

.employee-profiles {
  .controls__top {
    margin-right: 0;
    @include breakpoint(sm) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }
  .controls__group,
  .controls__buttons-container {
    .controls__button {
      &--new {
        &:before {
          background: url(img/icons/nauja-paskyra.svg) no-repeat center;
          background-size: 50%;
          top: 0px;
        }
      }
    }

    @include breakpoint(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;

      button {
        margin: 0;
        height: 32px;
        text-align: left;
      }
    }
  }

  tbody {
    overflow-y: auto;
  }

  .controls__table {
    th {
      font-family: "Roboto", sans-serif;
    }
    th,
    td {
      vertical-align: middle;
      padding-left: 10px;
      &:first-of-type {
        width: 27px;
      }
      &:nth-of-type(2) {
        width: 82px;
        &:before,
        &:after {
          left: 87%;
        }
      }
      &:nth-of-type(3) {
        width: 82px;
      }
      &:nth-of-type(4) {
        width: 345px;
      }
      &:nth-of-type(5) {
        width: 112px;
      }
      &:nth-of-type(6) {
        width: 513px;
      }
      &:nth-of-type(7) {
        width: 70px;
        text-align: center;
      }
      &:last-of-type {
        width: 40px;
      }
    }

    td {
      height: 31px;
      text-align: left;
    }

    .checkbox {
      label {
        &:before {
          left: -5px;
        }
        &:after {
          left: -1px;
        }
      }
    }

    .left-arrow {
      &:before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }
}

.expand-button {
  width: 30px;
  height: 30px;
  background-color: $darkblue;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.24);
  z-index: 10;

  &:after {
    content: "";
    width: 15px;
    z-index: 2;
    height: 15px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    background-image: url("img/icons/angle-down-white-bold.svg");
    transition: transform 0.3s ease-in-out;
  }

  &.rotate-arr::after {
    transform: translate(-50%, -50%);
  }
}

.select2-dropdown--controls-side {
  .select2-results {
    font-size: 0.875rem;
    color: $darkdarkblue;
  }
}
