.areas {
  width: 100%;

  &__top {
    display: flex;
    margin-bottom: 20px;
  }

  &__restore,
  &__save {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      margin-right: 10px;
    }
  }

  &__restore {
    margin-left: auto;
    margin-right: 10px;

    &:before {
      background-image: url("img/icons/restore-orange.svg");
    }
  }

  &__save {
    &:before {
      background-image: url("img/icons/checkmark-white.svg");
    }
  }

  &__languages {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-end;

    li {
      position: relative;
      margin: 0 20px 0 0;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -10px;
        width: 1px;
        height: 100%;
        background: $darkblue;
        display: inline-block;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    .active {
      font-weight: 600;
    }
  }

  &__table-container {
    display: flex;
    border: 1px solid #eee;
    border-top: none;
    width: 100%;
    overflow-x: auto;
  }

  &__table {
    border-spacing: 0;
    border-collapse: collapse;
    overflow-y: scroll;
    width: 60%;
    min-width: 480px;

    tr:first-child th:first-child {
      border-top-left-radius: 5px;
      border-left: none;
    }

    tr:first-child th:last-child {
      border-right: none;
    }

    th {
      border: 1px solid $white;
      background-color: $darkblue;
      color: $white;
      height: 60px;
      font-family: "Sen", sans-serif;

      &:first-child {
        width: 42%;
      }

      &:nth-child(2) {
        width: 10%;
      }

      &:nth-child(3) {
        width: 8.14%;
      }
    }

    tr {
      height: auto;
    }

    td {
      padding: 5px;
      vertical-align: top;
      height: 100%;

      &:first-of-type {
        padding-left: 20px;
      }

      &:last-of-type {
        padding-right: 20px;
      }

      button {
        width: 35px;
        height: 35px;
        margin: 10px 10px 10px 0;
      }

      .areas__item {
        background-color: transparent;
        margin: 0;
        min-height: 35px;
        height: 100%;
        padding: 7.5px 15px;
        border-radius: 5px;
        width: 100%;
        border: 1px solid $darkblue;
        display: flex;
        align-items: center;
        margin: auto 0;
        
        &--title {
          font-weight: 600;
        }

        &--image {
          padding: 7.5px 5px;
        }

        img, svg {
          height: 20px;
          margin: 0 auto;
        }
      }

      label {
        cursor: pointer;
        color: $gray;

        img {
          height: 20px;
        }
      }

      .areas__color {
        text-align: center;
      }

      input {
        width: 100%;

        &::placeholder {
          color: $gray;
        }
      }
      .white-text::placeholder {
        color: $white;
      }

      .color-input,
      .icon-label {
        text-align: center;
      }

      .icon-label {
        padding: 7.5px 0;
      }
    }

    &--menu {
      width: 40%;
      table-layout: fixed;
      min-width: 320px;

      tr:first-child th:last-child {
        border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
        border-top-right-radius: 5px;
        border-left: 1px solid $white;
      }

      tr:first-child th:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid $white;
        width: 40%;
      }

      tr:first-child th:nth-child(2) {
        width: 60%;
      }

      td .areas__item {
        background-color: $darkblue;
        color: $white;

        &--profession {
          background-color: $lightorange;
          color: $darkblue;
        }
      }
      
      td p:empty {
        background-color: transparent;
        border: none;
      }
    }
    td .changed-bg {
      background-color: $darkblue !important;
      color: $white;

      path{
      fill: $white !important;
      }
    }
    
  }

  &__add,
  &__trash,
  &__edit {
    position: relative;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      position: absolute;
    }
  }

  &__add:before {
    background-image: url("img/icons/plus-thin-white.svg");
  }

  &__trash:before {
    background-image: url("img/icons/trash-white.svg");
  }

  &__edit:before {
    background-image: url("img/icons/edit-white.svg");
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Pasirinkite paveikslėlį";
    display: inline-block;
    background: $white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
}
