html {
  overflow-y: auto;
  overflow-x: hidden;
}

.toggle-scroll {
  overflow: hidden;
}
.toggle-scroll-page {
  overflow-y: auto;
  overflow-x: hidden;
}

html,
body {
  -webkit-overflow-scrolling: auto;
  touch-action: manipulation; //prevent double-click to zoom
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100%;
  font-size: 1rem;
  scroll-behavior: smooth;
  cursor: default;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin-top: 70px;
  height: calc(100% - 70px);

  @include breakpoint(l) {
    margin-top: 63px;
    height: calc(100% - 63px);
  }
}

main.container,
footer.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background: $darkblue;
  padding: 0 30px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.49);
  transform: translateY(-100%);
  transition: transform 300ms 0ms cubic-bezier(0.4, 0, 0.6, 1), opacity 0s 300ms;
  opacity: 0;
  z-index: 1000;

  @include breakpoint(xs) {
    padding: 0 20px;
  }

  &.site-header--show {
    transform: translateY(0);
    transition: transform 300ms 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0ms 300ms, background-color 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
  }

  .site-header {
    &__hamburger {
      display: none;
      background-color: transparent;
      padding: 0;

      &:before {
        content: "";
        width: 24px;
        height: 22px;
        background-size: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        display: inline-block;
        background-image: url("img/icons/hamburger-menu-light.svg");
        background-size: contain;

        @include breakpoint(xs) {
          width: 20px;
          height: 20px;
        }
      }

      @include breakpoint(xl) {
        display: block;
        margin-right: 30px;
      }

      @include breakpoint(sm) {
        margin-right: 0;
        display: block;
      }
    }

    &__logo {
      height: 30px;
      display: block;
      margin: 20px 0;
      margin-right: auto;

      @include breakpoint(l) {
        margin: 20px auto;
        height: 23px;
        order: 1;
      }
    }

    &__menu {
      margin: 0 -15px 0 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      white-space: nowrap;
      order: 1;

      @include breakpoint(l) {
        margin: 0;
      }

      &--main {
        @include breakpoint(l) {
          order: 1;
        }
      }

      a {
        padding: 22.5px 0;
        color: $white;
      }

      &--items {
        background-color: $darkblue;
        flex: 0;

        @include breakpoint(l) {
          margin: 0;
          padding: 18px 0 12px;
          align-items: center;
          justify-content: space-between;
          order: 2;
          width: 100%;
          flex: 1 0 100%;

          li {
            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }

          li a {
            padding: 9px 0;
          }
        }
      }
    }

    &__item {
      display: inline-block;
      margin: 0 15px;

      @include breakpoint(xs) {
        font-size: 0.875rem;
      }

      &:nth-last-child(n + 5),
      &:nth-last-child(n + 5) ~ li {
        @include breakpoint(xs) {
          font-size: 0.75rem;
          margin: 0 auto;

          &:first-of-type {
            margin-left: 0;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }

        @include breakpoint(345px) {
          font-size: .6rem;
        }
      }

      &--active {
        a {
          border-bottom: 3px solid $white;
        }
      }

      &--search {
        margin-left: 60px;

        a {
          position: relative;

          &:before {
            content: "";
            width: 22px;
            height: 22px;
            background-image: url("img/icons/search.svg");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
          }

          @include breakpoint(l) {
            margin: 0;
          }
        }

        @include breakpoint(l) {
          margin: 0;
        }
      }

      &.back-button {
        display: flex;
      }
    }
  }

  &--company {
    .site-header__logo {
      @include breakpoint(l) {
        margin: 0 auto 0 0;
      }
    }
  }

  &--home {
    .site-header__menu.site-header__menu--items {
      flex: 0;
      @include breakpoint(sm) {
        order: 1;
      }
    }
  }
}

.back-button.back-button {
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    margin: 0;
  }

  &:before {
    content: "";
    width: 20px;
    height: 24px;
    margin-right: 10px;
    background-image: url("img/icons/back-white.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: sub;

    @include breakpoint(xs) {
      width: 17px;
      height: 20px;
    }
  }

  a {
    @include breakpoint(xs) {
      font-size: .75rem;
    }
  }
}

.site-main {
  height: calc(100vh - 70px);
  align-items: flex-start;
  margin: 0 auto;
  scroll-behavior: smooth;

  &--aside {
    display: flex;
    margin: 0;

    .site-aside-container {
      position: fixed;
      z-index: 0;
      left: 0;
      top: 0;
      width: 300px;
      height: 100%;
      z-index: 2;

      @include breakpoint(xl) {
        visibility: hidden;
        width: 100%;
        z-index: -1;
        background-color: rgba(16, 27, 81, 0.2);
      }

      &--toggled {
        visibility: visible;
        z-index: 1002;

        @include breakpoint(xxl) {
          z-index: 1;
        }

        .site-aside {
          background-color: $white;
        }
      }

      .site-aside {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        color: $darkwashedblue;
        width: 300px;
        background-color: $white;

        @media screen and (max-width: 400px) {
          width: 80%;
        }

        &__blocks {
          height: calc(100% - 70px);
          overflow-y: scroll;
          overflow-x: hidden;
        }

        &__block {
          position: relative;
          padding: 30px 0 20px 0;
          border-bottom: 1px solid $lightgray;

          &--logo {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom-color: $orange;
            border-right: 1px solid $lightgray;

            img {
              height: 30px;
              margin-left: 15px;
              display: block;
            }
          }

          &--padding {
            padding-left: 15px;
            padding-right: 15px;
          }

          &--city {
            position: relative;
            padding-bottom: 30px;

            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 35px;
              transform: translateY(-50%);
              width: 19px;
              height: 21px;
              background-image: url("img/icons/building.svg");
              background-size: 100%;
              background-position: center;
              background-repeat: no-repeat;
              display: block;
              z-index: 2;
            }

            .select2-selection__rendered {
              padding-left: 50px;
            }
          }

          &--hour {
            padding-bottom: 30px;
          }
        }

        .title {
          margin-bottom: 10px;

          &--padding {
            padding-left: 15px;
            padding-right: 15px;
          }
        }

        .radio,
        .checkbox {
          padding: 10px 15px;
          transition: background 0.3s ease-in-out;

          &:hover,
          &:focus {
            background: #f7f6f6;
            font-weight: 500;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &--controls {
          .site-aside__block {
            &:last-of-type {
              padding-bottom: 70px;
            }
          }
          h3 {
            font-family: "Roboto", sans-serif;
            margin: 0 20px 20px;
          }

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              padding: 5px 20px;
            }
          }

          a {
            font-size: 0.875rem;
            margin: 0;
            color: $color__controls-sidebar-text;
          }

          .site-aside__item {
            padding: 10px 20px;

            &--active {
              background-color: $color__controls-sidebar-background;
              padding: 10px 20px;

              a {
                font-weight: bold;
              }

              p {
                margin: 20px 0 7px 15px;
                font-size: 0.875rem;
              }
            }

            &--open {
              margin-top: 5px;
              padding: 10px 20px 15px;
            }

            .site-aside__datepicker-container {
              position: relative;

              &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                width: 24px;
                height: 23px;
                background-image: url("img/icons/calendar.svg");
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                display: block;
                pointer-events: none;
              }
            }

            .site-aside__datepicker {
              font-size: 0.875rem;
              padding: 10px 15px;
              border-radius: 5px;
              border: 1px solid $gray;
              width: 100%;
            }

            .select2-container {
              width: 100% !important;
            }

            .select2-selection__rendered {
              font-size: 0.875rem;
            }

            .select2-selection--single {
              border: 1px solid #afb0b9;
            }

            .select2-selection__placeholder {
              color: #afb0b9 !important;
            }

            .site-aside__filters {
              margin-left: 20px;

              p {
                margin-bottom: 5px;
                margin-top: 10px;
              }
            }
          }
          
          .select2-selection__clear {
            display: none;
          }
        }
      }
    }

    .page-content {
      display: flex;
      flex-direction: column;
      flex: 1 0;
      margin-left: 300px;
      height: 100%;

      &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 850px;
        margin: 0 30px 30px 7.1%;
        padding-top: 60px;
        height: 100%;

        @media screen and (max-width: 1240px) {
          margin-left: auto;
          margin-right: auto;
        }

        @include breakpoint(xl) {
          margin: 0 30px;
        }

        @include breakpoint(900px) {
          width: 100%;
          padding: 40px 20px 0;
          margin: 0;
        }

        @include breakpoint(xs) {
          padding-left: 20px;
          padding-right: 20px;
          width: 100%;
          margin: 0 auto 0 auto;
          padding-top: 40px;
        }
      }

      @include breakpoint(xl) {
        margin: 0;
      }

      @include breakpoint(xs) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }

      &--controls {
        width: calc(100vw - 300px);

        @include breakpoint(xl) {
          width: 100%;
        }

        .page-content__wrapper {
          width: 100%;
          padding: 40px #{"min(40px, 2.8%)"} 0 #{"min(40px, 2.8%)"};
          margin: 0;

          @include breakpoint(880px) {
            padding: 40px 20px 0;
          }

          @include breakpoint(xs) {
            padding: 30px 20px 0;
            margin: 0;
          }
        }
      }

      &--general {
        .page-content__wrapper {
          padding: 0 40px;
        }
      }

      &--company {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;

        .page-content__wrapper {
          margin: 0;
          width: 100%;
          padding: 0 40px;

          @include breakpoint(sm) {
            padding: 0 10px;
          }
        }
      }

      &--messages {
        .site-footer {
          margin-top: 0;
        }

        .pagination {
          margin-top: auto;
          border-top: none;
        }
      }

      &--sidebar {
        width: calc(100vw - 300px);
        $_padding: 40px;
        $_padding-sm: 20px;

        .page-content__wrapper {
          width: 100%;
          padding: 0 $_padding;
          margin: 0;

          @include breakpoint(sm) {
            padding: 0 $_padding-sm;
          }
        }

        .company__header--main {
          width: calc(100vw - 300px);
          left: -$_padding;
          margin-left: 0;

          @include breakpoint(xl) {
            width: 100vw;
          }

          @include breakpoint(sm) {
            left: -$_padding-sm;
          }
        }
      }
    }

    .site-footer {
      width: 100%;
      margin-top: auto;
    }
  }
}

.ui-datepicker--filters {
  width: 300px;
  padding: 20px;

  .ui-datepicker-buttonpane {
    padding: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;

    button {
      height: auto;
      padding: 5px;
      width: 88px;
      font-size: 0.875rem;
    }
    button.ui-datepicker-current {
      margin-right: 10px;
    }
    button.ui-datepicker-close {
      margin-right: 0;
    }
  }
}

.site-footer {
  display: flex;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid $lightgray;
  position: relative;
  flex: 0 0 auto;
  width: 100%;

  @include breakpoint(l) {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    flex-wrap: nowrap;
    min-height: 200px;
  }

  .site-footer {
    &__logo {
      height: 30px;
      display: block;
      margin-right: 30px;

      @include breakpoint(l) {
        margin: 0 0 20px;
        height: 35px;
      }
    }

    &__menu {
      margin: 0;

      @include breakpoint(l) {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        flex: 1 0 auto;
      }

      a {
        position: relative;
        text-decoration: underline;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: -20px;
          width: 1px;
          height: 100%;
          background: $darkblue;
          display: inline-block;

          @include breakpoint(l) {
            display: none;
          }
        }
      }
    }

    &__menu {
      padding: 0;
      list-style: none;
    }

    &__item {
      display: inline-block;
      margin: 0 20px;

      a {
        padding: 0;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }

      @include breakpoint(l) {
        display: block;
        margin: 0 5px;
        padding: 10px 0;
        text-align: center;

        &:last-of-type {
          margin-right: 0;
        }
      }

      &--active {
        a {
          border-bottom: 3px solid $white;
        }
      }
    }

    &__langs {
      padding: 0;
      list-style: none;
      margin: 0 0 0 auto;
      position: relative;

      @include breakpoint(l) {
        margin: 20px 0 10px;
      }

      button {
        background-color: transparent;
        color: $darkblue;
        font-weight: 400;
        font-size: 0.75em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-family: "Roboto", sans-serif;

        &:before {
          content: "";
          position: relative;
          width: 20px;
          height: 20px;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          background-image: url("img/icons/gaublys-2.svg");
          fill: $darkblue;
          margin-right: 10px;
        }
      }

      &-items {
        font-size: 0.75em;
        position: absolute;
        width: calc(100% - 30px);
        display: none;
        right: 0;

        a {
          display: block;
          text-align: right;
          margin-bottom: 5px;
          transition: font-weight 0.3s ease-in-out;

          @include breakpoint(l) {
            text-align: center;
          }

          &:hover {
            font-weight: 600;
          }
        }
      }

      &:hover .site-footer__langs-items {
        display: block;
      }
    }
  }

  &--controls {
    border-top: none;
  }
}

.hidden {
  display: none !important;
}

.hidden-visibility {
  opacity: 0 !important;
  transition: opacity 0.3s !important;
}

.hidden-height {
  max-height: 0;
  transition: max-height .3s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent; /* Chrome/Safari/Webkit */
  }

  &::-webkit-scrollbar-track {
    width: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 0;
    background: transparent;
  }
}

.rotate-arrow {
  transform: rotate(180deg);
}

.force-show-scrollbars ::-webkit-scrollbar-track:vertical {
  border-left: 1px solid #e7e7e7;
  box-shadow: 1px 0 1px 0 #f6f6f6 inset, -1px 0 1px 0 #f6f6f6 inset;
}

.force-show-scrollbars ::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid #e7e7e7;
  box-shadow: 0 1px 1px 0 #f6f6f6 inset, 0 -1px 1px 0 #f6f6f6 inset;
}

.force-show-scrollbars ::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #fafafa;
  width: 16px;
}

.force-show-scrollbars ::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: $darkblue;
  border-color: transparent;
  border-radius: 9px 8px 8px 9px;
  border-style: solid;
  border-width: 3px 3px 3px 4px; /* Workaround because margins aren't supported */
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* Unfortunately scrollbars can't use CSS transitions. Also, it's not possible
 to highlight the thumb when the scrollbar track is hovered without some
 JavaScript acrobatics; https://jsfiddle.net/QcqBM/6/ is a start, but you
 also have to check whether the element has a scrollbar and if so how wide
 it is. */
.force-show-scrollbars ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(16, 27, 81, 0.5);
}

.goto-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url("img/icons/arrow-up-white.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  z-index: 1000;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.24);
}
