section {
  &.login {
    // max-width: 1040px;
    margin: 60px auto 40px;

    @include breakpoint(sm) {
      // margin: 30px auto 40px;
      margin: 30px auto 30px;
    }

    .login {
      &__blocks {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include breakpoint(800px) {
          display: block;
          margin-top: 90px;
        }
      }

      &__block {
        border-radius: 5px;
        background: #f7f6f6;
        width: 43.2%;
        padding: 20px 20px 0;
        margin-top: 40px;

        @include breakpoint(800px) {
          width: 100%;
          margin-bottom: 30px;
          margin-top: 0px;
        }

        input {
          height: 35px;
          padding-left: 50px;

          @include breakpoint(sm){
            height: 32px;
            padding-left: 40px;  
          }
        }

        h2 {
          margin: 0 0 20px 20px;
        }

        .input-wrapper--half {
          @include breakpoint(800px) {
            width: 100%;
          }
        }
        .input-wrapper--lock{
          margin-bottom: 12px;
        }
        .input-wrapper--eye{
          margin-bottom: 20px;
        } 
      }

      &__form {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &__forgot {
        text-align: right;
        margin-bottom: 40px;

        a {
          font-weight: 500;
          text-decoration: underline;
        }
      }

      &__gender {
        display: flex;

        p {
          margin: 0 20px 0 0;
          font-weight: 600;
          font-size: 1rem;
        }

        .radio {
          margin-right: 20px;

          label {
            padding-left: 20px;

            &::before,
            &::after {
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }

      &__checkboxes {
        // margin: 25px 0 40px 0;
        margin: 0 0 40px 0;

        @include breakpoint(sm){
          margin-bottom: 30px;
        }

        p{
          margin-top: 40px;
          margin-left: 30px;
          font-size: 0.875rem;
          margin-bottom: 0;

          @include breakpoint(sm){
            margin-top: 30px;
          }
       }

        .checkbox {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          label{
            font-size: 0.875rem;
          }
        }

        a {
          font-weight: 600;
          text-decoration: underline;
        }
      }

      &__button-container {
        width: calc(100% + 40px);
        display: flex;
        margin: 0 -20px;
      }

      &__button {
        &--half {
          width: 50%;
        }

        &--submit {
          border-radius: 0 0 0 5px;

          @include breakpoint(sm) {
            padding-top: 8px;
          }
        }

        &--fb {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0 0 5px 0;
        }

        &-fb {
          display: inline-block;
          margin-left: 10px;

          &:before {
            content: "";
            width: 22px;
            height: 22px;
            background-image: url("img/icons/fb-white.svg");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
          }
        }

        &--register {
          width: calc(100% + 40px);
          border-radius: 0 0 5px 5px;
          margin: 0 -20px;
        }
      }

      &__button--half,
      &__button--register {
        height: 44px;

        @include breakpoint(sm) {
          height: 35px;
        }
      }
    }

    .login__passwords {
      width: 100%;
      margin: 25px 0 40px 0;
      margin-top: 0px;
      font-family: 'Sen', regular;

      @include breakpoint(sm){
        margin-bottom: 30px;
      }
    }
  }
}
