section.product {
  margin: 0 0 30px 0;
  width: 850px;

  @include breakpoint(900px) {
    width: 100%;
  }

  .product {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;

      @include breakpoint(900px) {
        flex-direction: column;
        margin-bottom: 20px;
      }

      h1 {
        margin: 0;
        line-height: 1;

        @include breakpoint(900px) {
          margin-bottom: 20px;
        }
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      width: 370px;

      @include breakpoint(900px) {
        width: 90%;
      }

      &-button {
        background: transparent;
        padding: 0;

        &:before {
          content: "";
          width: 8px;
          height: 15px;
          position: relative;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          background-image: url("img/icons/angle-left-bold.svg");
          z-index: 2;
        }

        &--next {
          transform: rotate(180deg);
        }
      }

      &-hide {
        display: none;
        white-space: pre;
      }

      &-input {
        cursor: pointer;
        font-family: "Sen", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0;
        border: none;
        text-align: left;
        max-width: 20ch;

        @include breakpoint(900px) {
          font-size: 1.125rem;
        }

        &:focus {
          color: $darkblue;
        }
      }

      &-icon {
        position: relative;
        top: 2px;
        padding: 0;
        background: transparent;

        &:before {
          content: "";
          width: 22px;
          height: 20px;
          background-size: 100%;
          background-position: center bottom;
          background-repeat: no-repeat;
          display: inline-block;
          background-image: url("img/icons/calendar.svg");
          margin-right: 12px;
          background-size: contain;
          cursor: pointer;

          @include breakpoint(900px) {
            margin-right: 10px;
            height: 28px;
          }

          @include breakpoint(900px) {
            margin-right: 4px;
            height: 18px;
          }
        }
      }

      &--person {
        width: 365px;
        margin-bottom: 10px;
        justify-content: space-between;

        @include breakpoint(900px) {
          display: none;
        }

        .product__nav-input {
          font-size: 1.125em;
          margin: 0;
        }

        .product__nav-icon {
          &:before {
            height: 18px;
            width: 18px;
            margin-right: 7px;
            top: 0;
          }
        }

        .product__nav-button:hover {
          &:after {
            content: "";
            position: absolute;
            background-color: $darkgray;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            top: 0;
            left: 0;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 5px;
            transition: background-color 0.3s ease-in-out;
          }
        }
      }
    }

    &__chosen {
      border: 2px solid $darkblue;
      border-radius: 5px;
      padding: 20px 65px 20px 20px;
      position: relative;
      display: none;

      @include breakpoint(900px) {
        padding: 20px 40px 20px 5px;
      }

      &-add {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        position: absolute;
        top: 20px;
        right: 31px;
        transform: translateX(50%);
        background-image: url("img/icons/plus.svg");
        width: 18px;
        height: 18px;
        padding: 0;

        @include breakpoint(900px) {
          right: 20px;
        }
      }

      h3 {
        font-size: 1rem;

        @include breakpoint(900px) {
          margin: 10px auto 0;
          text-align: center;
          width: calc(100% + 30px);
          margin-right: -30px;
          font-size: 0.875rem;
        }
      }

      .ui-autocomplete-wrapper {
        max-height: 500px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }

      li {
        list-style: none;
      }

      .autocomplete-product {
        position: relative;
        cursor: default;
        background-color: $darkgray;
        border-radius: 5px;
        padding: 10px 20px;
        margin-bottom: 10px;

        @include breakpoint(900px) {
          padding: 10px 10px;
        }

        &-title,
        &-desc,
        &-duration {
          display: block;
          font-weight: 600;
          color: $color__text-main;
        }

        &-title {
          font-size: 1.125rem;
          margin-bottom: 5px;

          @include breakpoint(900px) {
            font-size: 0.875rem;
          }
        }

        &-title--main {
          font-size: 1rem;
        }

        &-title--sub {
          font-weight: 500;
          font-size: 0.875rem;
        }

        &-button {
          color: $cyan !important;
          margin-left: 25px;
          font-weight: 600;
          background-color: transparent;
          padding: 0;
          font-size: 0.875rem;

          @include breakpoint(900px) {
            margin-left: 10px;
          }
        }

        &-desc {
          margin-bottom: 10px;
          font-weight: 400;
          font-size: 0.875rem;
          margin-top: 10px;
        }

        &-duration {
          font-weight: 400;

          @include breakpoint(900px) {
            font-size: 0.875rem;
          }

          &:before {
            content: "";
            width: 15px;
            height: 15px;
            background-image: url("img/icons/clock.svg");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: 2px;

            @include breakpoint(900px) {
              margin-right: 5px;
            }
          }

          &--final {
            display: inline-block;
            margin-left: 20px;
            color: $red;

            @include breakpoint(900px) {
              margin-left: 5px;
              padding-right: 0;
              font-family: "Roboto", sans-serif;

              &:before {
                width: 12px;
                height: 12px;
                top: 1px;
              }
            }
          }
        }

        &--choice {
          margin: 0;
        }
      }

      .product__chosen-trash {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        right: -24px;
        transform: translateX(100%);
        background-image: url("img/icons/trash.svg");
        width: 19px;
        height: 22px;
        padding: 0;

        @include breakpoint(900px) {
          right: -11px;
        }
      }
    }

    &__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 40px 0;
      border-top: 1px solid $lightgray;

      @include breakpoint(sm) {
        padding-top: 20px;
      }

      &-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &-person {
        display: flex;
        width: 55%;

        @include breakpoint(900px) {
          width: 100%;
        }
      }

      &-like,
      &-more {
        padding: 5px 12px;
      }

      &-company {
        display: flex;
        width: 70%;

        .product__block {
          &-info {
            h2 {
              word-spacing: normal;
            }
          }

          &-like {
            &-status {
              top: 10px;
              left: 10px;
              background: $white;
            }
          }

          &-distance {
            &:before {
              display: inline-block;
            }
          }
        }
      }

      &-photo {
        position: relative;
        width: 176px;
        height: 176px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow: 0px 12px 29px 0px rgba(0, 0, 0, 0.35);
        margin-right: 20px;

        @include breakpoint(900px) {
          width: 35%;
          height: 0;
          padding-bottom: 35%;
        }

        &--rectangle {
          width: 285px;
          height: 190px;
          border-radius: 5px;
        }
      }

      &-info {
        width: 51.28%;
        line-height: 28px;

        @include breakpoint(900px) {
          font-size: 0.875rem;
          line-height: 1.5;
        }

        @include breakpoint(x900px) {
          font-size: 0.75rem;
        }

        h2 {
          font-weight: 600;
          line-height: 30px;
          word-spacing: 999999px;
          margin: 0;

          @include breakpoint(x900px) {
            font-size: 1rem;
          }
        }

        span {
          display: block;
          margin-bottom: 10px;

          @include breakpoint(900px) {
            margin-bottom: 0;
          }
        }

        p {
          margin: 0;
        }

        a {
          text-decoration: underline;
        }

        &-actions {
          margin-top: 10px;

          @include breakpoint(900px) {
            margin: 20px auto;
          }

          @include breakpoint(900px) {
            margin: 20px auto 0;
          }
        }
      }

      &-phone,
      &-distance,
      &-address {
        display: flex;
        align-items: center;

        &:before {
          content: "";
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: inline-block;
          margin-right: 20px;
        }
      }

      &-address {
        &::before {
          content: none;
        }
      }

      &-distance {
        &:before {
          display: none;
        }
      }

      &-phone {
        &:before {
          width: 13px;
          height: 21px;
          background-image: url("img/icons/phone.svg");
        }
      }

      &-address {
        &:before {
          width: 16px;
          height: 22px;
          background-image: url("img/icons/marker.svg");
        }
      }

      &-distance {
        font-weight: 700;
        font-size: 14px;

        &:before {
          width: 11px;
          height: 14px;
          background-image: url("img/icons/distance.svg");
        }

        b {
          color: $orange;
          margin-right: 5px;
        }
      }

      &-like {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-left: 20px;
        padding-left: 40px;

        &-status {
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid $red;
          background-color: $white;

          &:before {
            content: "";
            width: 15.4px;
            height: 13.4px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("img/icons/heart.svg");
            display: block;
          }
        }

        &.product__block-like--active {
          border-color: $red;
          color: $red;

          &:before {
            background-image: url("img/icons/unheart.svg");
          }
        }

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 14px;
          transform: translateY(-50%);
          width: 15.5px;
          height: 13.37px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("img/icons/unheart-gray.svg");
          margin-right: 5px;
          display: block;
        }
      }

      &-recommend {
        font-family: "Sen", sans-serif;
        width: 100%;
        margin: 20px 0 10px 0;

        @include breakpoint(900px) {
          text-align: center;
          margin: 20px auto 10px auto;
        }
      }

      &--company {
        h2 {
          word-spacing: initial;
          height: 2.3em;
        }
        .product__block-top {
          flex-wrap: nowrap;
        }
        .product__block-photo {
          border-radius: 10px;
          width: 300px;
          overflow: hidden;
          transform: translateZ(0);

          @include breakpoint(880px) {
            width: calc(100vw - 40px);
            max-width: 100%;
            margin-right: 0;
          }
        }
        .product__block-info {
          width: auto;
          flex: 1 0;
        }
        .product__block-bottom {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
        .product__block-last-hour {
          span {
            display: inline-block;
            margin-bottom: 0;
          }
        }
        .product__block-info-actions {
          flex-direction: column;
          align-items: flex-end;
          display: flex;
        }

        .product__block-slider,
        .slick-list,
        .slick-track {
          height: 100%;
        }

        .slick-slide {
          @include breakpoint(880px) {
            height: auto;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

#test {
  position: fixed;
  top: 100px;
  left: 100px;
  background: #fff;
  padding: 10px;
  font-size: 1.5em;
  z-index: 10;
  display: none;
}

.sliding-menu-wrapper {
  position: relative;
}

.sliding-menu {
  margin-top: 70px;
  position: fixed;
  
  h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    ul {
      font-size: 0.875em;
      margin: 10px 0 -10px 0;

      li {
        padding-left: 30px;
        margin-left: -7px;
      }
    }
  }

  > ul {
    border-left: 3px solid #eeeeee;
  }

  li {
    position: relative;
    left: -3px;
    padding: 10px;

    &.active {
      border-left: 3px solid $darkblue;
    }
  }
}
