section {
    &.breadcrumbs {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        //justify-content: space-between;
        background: $darkblue;
        padding: 25px 30px;
        color: $white;
        position: relative;
        z-index: 1;

        @include breakpoint(xs) {
            //top: 9px;
            padding: 15px 20px;
            height: auto;
        }

        .breadcrumbs {
            &__selected {
                margin-right: 15px;
                height: 40px;
                width: 40px;
                background-color: $color__background-breadcrumbs;
                background-size: 50%;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 30px;
                    @include breakpoint(xs) {
                    height: 20px;
                    }
                }

                @include breakpoint(xs) {
                    height: 30px;
                    width: 30px;
                    margin-right: 20px;
                }
            }

            &__change {
                display: flex;
                align-items: center;
                color: $white;
                background: transparent;
                padding: 0;
                font-weight: normal;
                font-family: Roboto, sans-serif;

                &.rotate:after {
                    transform: rotate(180deg);
                }

                &:after {
                    content: '';
                    margin-left: 15px;
                    width: 14px;
                    height: 16px;
                    background-image: url('img/icons/angle-down-white-bold.svg');
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: block;
                    transition: transform .3s ease-in-out;

                    @include breakpoint(xs) {
                        margin-left: 20px;
                    }
                }
            }

            &__cart {
                position: relative;
                padding: 0;
                background: transparent;
                margin-left: auto;

                span {
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 14px;
                    color: $orange;
                }

                &:before {
                    content: '';
                    width: 22px;
                    height: 22px;
                    background-image: url('img/icons/cart.svg');
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: block;

                    @include breakpoint(xs) {
                        width: 18px;
                        height: 18px;
                    }
                }

            }
        }
    }

    &.page-content {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .page-content {
            &__wrapper {
                width: 75%;
            }

            &__sidebar {
                width: 20%;
                // position: absolute;
                // top: 0;
                // right: 0;
                // transform: translateX(100%);

                >ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    >li {

                        >a {
                            text-transform: uppercase;
                            margin-bottom: 20px;
                        }
                    }

                    ul {
                        margin: 0;
                        list-style: none;
                        padding: 0 0 0 10px;
                        border-left: 1px solid $lightgray;

                        >li {
                            padding: 10px 0;
                        }
                    }
                }

                a {
                    display: block;
                }
            }
        }
    }

    &.venue {
        width: 100%;
        margin-bottom: 50px;

        .venue {
            &__slider {
                padding: 10px;
                border-top: 1px solid #eeeeee;
            }

            &__info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: 'Sen', sans-serif;
                font-size: 1.375em;
                font-weight: 600;
                margin-bottom: 40px;
                padding: 0 30px;
            }

            &__description {
                position: relative;
                margin-bottom: 40px;

                &.venue__description--visible {
                    p {
                        transition: height 0.3s ease-in, max-height 0.3s ease-in;
                        height: auto;
                        max-height: 999px;
                    }

                    .venue__description-more {
                        display: none;
                    }
                }

                p {
                    transition: height 0.3s ease-out, max-height 0.3s ease-out;
                    height: 85px;
                    max-height: 85px;
                    overflow: hidden;
                }

                &-more {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translateY(102%);
                    padding: 0;
                    color: $gray;
                    background: transparent;
                    font-size: 14px;
                }
            }

            &__footer {
                padding-top: 20px;
                border-top: 1px solid #eeeeee;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: 'Sen', sans-serif;
                font-size: 1.125em;
                font-weight: 600;
            }

            &__work-hours,
            &__deals {
                display: flex;
                align-items: center;

                &:before {
                    content: '';
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: block;
                    margin-right: 10px;
                }
            }

            &__work-hours {
                color: $orange;

                &:before {
                    background-image: url('img/icons/clock-orange.svg');
                    width: 16px;
                    height: 16px;
                }
            }

            &__deals {
                color: $red;

                &:before {
                    background-image: url('img/icons/deals.svg');
                    width: 14px;
                    height: 16px;
                }
            }

        }

        .slick-arrow {
            border: 0;
            padding: 0;
            z-index: 10;
            width: 26px;
            height: 26px;

            &:before {
                font-family: initial;
                content: '';
                border-radius: 5px;
                background-color: rgba(16, 27, 81, 0.7);
                width: 26px;
                height: 26px;
                background-size: 8px 11px;
                background-position: center;
                background-repeat: no-repeat;
                display: block;
            }
        }

        .slick-next {
            right: 20px;

            &:before {
                background-image: url('img/icons/angle-right-white.svg');
            }
        }

        .slick-prev {
            left: 20px;

            &:before {
                background-image: url('img/icons/angle-left-white.svg');
            }
        }
    }

    &.venue-info {
        margin-bottom: 60px;

        &.venue-info {

            &--partners,
            &--about {
                .venue-info {
                    &__title {
                        margin-bottom: 40px;
                    }
                }
            }

            &--about {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        .venue-info {

            &__title {
                font-size: 2.250em;
                margin: 0 0 50px 0;
                font-weight: 600;
                width: 100%;
            }

            &__subtitle {
                font-size: 1.875em;
                margin: 40px 0;
                font-weight: 400;
            }

            &__partners {
                display: flex;
                flex-wrap: wrap;
            }

            &__partner {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #eee;
                border-radius: 5px;
                // background: #f6f5f3;
                width: 32.35%;
                margin: 0 0 10px 10px;

                &:nth-child(3n-2) {
                    margin-left: 0;
                }

                img {
                    display: block;
                    margin: 8px;
                    border-left: 45px solid #f6f5f3;
                    border-right: 45px solid #f6f5f3;
                    border-top: 40px solid #f6f5f3;
                    border-bottom: 40px solid #f6f5f3;
                }
            }

            &__description {
                margin-bottom: 45px;
            }

            &__map {
                width: 66.7%;

                &-wrapper {
                    margin-bottom: 10px;
                }

                &-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 600;
                }
            }

            &__work-hours {
                width: 26.47%;
            }
        }


        .venue-info__map-title,
        .work-hours__title {
            font-weight: 400;
            margin-top: 0;

            &:before {
                content: none;
            }
        }

        .product-action {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.breadcrumbs__more {
    background-color: $darkblue;
    margin-top: -100%;
    position: relative;
    color: $white;
    width: 100%;
    transition: top .3s ease-in-out;
    z-index: 0;
    opacity: 0;
    border-top: 1px solid $washedblue;
    padding: 20px 0;
    transition: margin-top .3s ease-in-out, opacity .3s ease-in-out;
    display: block;

    @include breakpoint(xs) {
        padding: 25px 20px 20px;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 -15px;
        padding-inline-start: 0;

        @include breakpoint(xs) {
            justify-content: space-between;
            margin: 0 -6px;
        }

        li {
            text-align: center;
            cursor: pointer;
            word-wrap: wrap;
            margin: 0 15px;
            position: relative;
            // flex: 1;

            @include breakpoint(xs) {
                font-size: 0.75rem;
                margin: 0 6px 60px 6px;
            }

            // &:last-of-type {
            //     margin: 0;
            // }

            p {
                width: 15ch;
                margin: 0;

                @include breakpoint(xs) {
                width: 11ch;
                position: absolute;
                top: 65px;
                transform: translateX(-50%);
                left: 50%;
                
                }
            }

            .breadcrumbs__area-img {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                margin-bottom: 10px;
                transition: background-color .3s ease-in-out;
                padding: 0;

                @include breakpoint(xs) {
                    max-width: 53px;
                    max-height: 53px;
                }

                img {
                    position: absolute;
                    height: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:hover {
                    background-color: $color__background-breadcrumbs !important;
                }
            }
        }
    }

    &--toggled {
        margin-top: 0;
        //display: block;
        opacity: 1;

        @include breakpoint(xs) {
            //padding: 20px 20px;
            //margin-top: 9px;
        }
    }
}