.specialist-profile {
  input {
    width: 100%;
    // width: calc(100% - 20px);
  }

  .input-wrapper {
    margin-right: 20px;
  }

  .input-container--profession {
    flex-basis: calc(30% - 20px);
    margin-right: 20px;
  }

  .input-wrapper--age,
  .input-wrapper--experience {
    flex-basis: calc(30% - 20px);
  }

  .input-wrapper--phone {
    flex-basis: calc(35% - 20px);
  }

  .input-wrapper--envelope {
    flex-basis: calc(65% - 20px);
  }

  .input-container--language {
    flex-basis: calc(25% - 20px);
    margin-right: 20px;
  }

  &__top {
    display: flex;
  }

  h3 {
    font-size: 1.25rem;
  }

  &__info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-right: -20px;

    h3 {
      width: 100%;
    }

    p {
      flex-basis: 100%;
    }
  }

  .company__about {
    width: 100%;

    .languages {
      align-self: center;
      margin-left: auto;
      margin-right: 0;
    }

    textarea {
      height: 260px;
      padding-left: 25px;
    }
  }

  &__photo {
    &-img {
      margin-bottom: 20px;
      width: 180px;
      height: 180px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0px 12px 29px 0px rgba(0, 0, 0, 0.15);
      margin-right: 20px;
      background-image: url(img/profile.svg);
    }
  }

  &__gender {
    display: flex;

    p {
      margin: 0 20px 0 0;
      font-weight: 600;
    }

    .radio {
      margin-right: 20px;

      label {
        padding-left: 20px;

        &::before,
        &::after {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__choices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__choice {
    width: 42.2%;
  }

  & .specialist-profile__time-options {
    display: grid;
    grid-template-columns: 1fr 88px;
  }

  .company__button-container button {
    height: 44px;
  }

  .input-wrapper--experience
    .select2-container
    .select2-selection--single
    .select2-selection__rendered {
    padding-top: 1px;
    padding-left: 135px;
  }

  .specialist-profile__choice--payment {
    padding-bottom: 35px;
    .choice-wrapper {
      height: 85px;
      padding-left: 50px;

      label:before {
        left: 105px;
        top: 50%;
    transform: translateY(-50%)
      }
      label:after {
        left: 108px;
        top: 50%;
    transform: translateY(-50%)
      }
    }
    p {
      margin-top: 0;
    }
  }

  .specialist-profile__choice--period {
    width: auto;
    .choice-wrapper {
      width: 364px;
      height: 75px;
    }
    p {
      margin-top: 0;
    }
  }

  .specialist-profile__choice--time {
    .choice-wrapper {
      height: 148px;
      padding-left: 17px;
      p {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 10px;
        text-align: right;
      }
      .select2-selection--single {
        height: 21px;
        width: 82px;
        .select2-selection__arrow {
          height: 21px;
          right: -8px;
        }
        .select2-selection__rendered {
          line-height: normal;
        }
      }
    }
    .select2-container--default {
      height: 21px;
      margin-bottom: 20px;
    }
  }

  .company__offer {
    width: auto;
    .company__offer-info {
      width: 364px;
      height: 95px;
    }
    // .percent:before {
    //   top: 4px !important;
    // }
    // .percent:after,
    // .hours::after {
    //   top: 3px !important;
    // }
    .percent,
    .hours {
      right: -5px;

      // &:after {
      //   top: 3px;
      // }
    }
  }

  &__payment {
    .checkbox {
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 18px;
        height: 16px;
        position: absolute;
        left: 5px;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--cash .checkbox::before {
      background-image: url("img/icons/cash.svg");
    }
    &--card .checkbox::before {
      background-image: url("img/icons/card.svg");
    }
  }
}

.choice-wrapper {
  display: flex;
  border: 1px solid $lightgray;
  padding: 20px;
  border-radius: 5px;
  width: 425px;
}
