.specialist-profile {
  input {
    width: 100%;
    // width: calc(100% - 20px);
  }

  .input-wrapper {
    margin-right: 20px;
  }

  .input-container--profession {
    flex-basis: calc(30% - 20px);
    margin-right: 20px;
  }

  .input-wrapper--age, .input-wrapper--experience {
    flex-basis: calc(30% - 20px);
  }

  .input-wrapper--phone {
    flex-basis: calc(35% - 20px);
  }

  .input-wrapper--envelope {
    flex-basis: calc(65% - 20px);
  }

  .input-container--language {
    flex-basis: calc(25% - 20px);
    margin-right: 20px;
  }

  &__top {
    display: flex;
  }

  h3{
    font-size: 1.25rem;
  }

  &__info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-right: -20px;

    h3 {
      width: 100%;
    }

    p {
      flex-basis: 100%;
    }
  }

  .company__about {
    width: 100%;

    .languages {
      align-self: center;
      margin-left: auto;
      margin-right: 0;
    }

    textarea {
      height: 260px;
      padding-left: 25px;
    }
  }

  &__photo {
    &-img {
      margin-bottom: 20px;
      width: 180px;
      height: 180px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0px 12px 29px 0px rgba(0, 0, 0, 0.15);
      margin-right: 20px;
      background-image: url(img/profile.svg);
    }
  }

  &__gender {
    display: flex;

    p {
      margin: 0 20px 0 0;
      font-weight: 600;
    }

    .radio {
      margin-right: 20px;

      label {
        padding-left: 20px;

        &::before,
        &::after {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__choices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__choice {
    width: 42.2%;
  }

  & .specialist-profile__time-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .company__button-container button {
    height: 44px;
  }
}

.choice-wrapper {
  display: flex;
    border: 1px solid $lightgray;
    padding: 20px;
    border-radius: 5px;
    width: 425px;
}
