.specialist-profile {
  .company__header ul.company__nav.company__nav--specialist {
    @include breakpoint(890px) {
      justify-content: space-between;
    }
  }

  .company__container {
    @include breakpoint(890px) {
      padding: 10px 10px 0;
    }
  }
  .company__header ul.company__nav li {
    @include breakpoint(sm) {
      margin-right: 30px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  input[type="text"] {
    width: 100%;
    // width: calc(100% - 20px);

    @include breakpoint(sm) {
      height: 32px;
    }
  }

  .input-container--profession {
    flex-basis: calc(30% - 20px);
    margin-right: 20px;
    // height: 35px;
  }

  .input-wrapper--age,
  .input-wrapper--experience {
    flex-basis: calc(30% - 20px);
    margin-bottom: 10px;
    // height: 35px;

    .select2-container {
      @include breakpoint(sm) {
        width: 100% !important;
      }
    }

    .select2-container .select2-selection--single {
      @include breakpoint(sm) {
        height: 32px;
      }
    }
  }

  .input-wrapper--phone {
    flex-basis: calc(30% - 20px);
    margin-bottom: 10px;
  }

  .input-wrapper--envelope {
    flex-basis: calc(70% - 20px);
    margin-bottom: 10px;
  }

  .input-container--language {
    flex-basis: calc(25% - 20px);
    margin-right: 20px;
  }

  .input-wrapper {
    margin-right: 20px;

    @include breakpoint(sm) {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .input-container {
    @include breakpoint(sm) {
      flex-basis: 100%;
      margin-right: 0;
    }

    &--language {
      @include breakpoint(sm) {
        flex-basis: calc(50% - 10px);
        margin-right: 10px;

        &:nth-of-type(2n + 1) {
          margin-right: 0;
        }
      }
    }
  }

  &__top {
    display: flex;

    @include breakpoint(l) {
      flex-direction: column;
    }
  }

  h3 {
    font-size: 1.25rem;

    @include breakpoint(890px) {
      font-size: 1.125rem;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-right: -20px;

    .input-wrapper.input-wrapper--age input.about-datepicker ~ .input-arrow {
      right: 15px !important;
      @include breakpoint(sm) {
        right: 10px !important;
      }
    }

    .select2-selection--single .select2-selection__arrow {
      width: 15px;

      @include breakpoint(sm) {
        width: 10px;
      }
      b {
        right: 15px;

        @include breakpoint(sm) {
          right: 10px;
        }
      }
    }

    h3 {
      width: 100%;
    }

    p {
      flex-basis: 100%;
      margin: 0 0 10px;
      font-size: 1.25rem;
      font-family: "Sen", sans-serif;

      @include breakpoint(890px) {
        font-size: 1rem;
        margin: 0 0 10px;
      }
    }
  }

  select.select-input ~ span.select2-container {
    margin-bottom: 10px;
  }

  .company__about {
    width: 100%;

    @include breakpoint(sm) {
      margin-top: 20px;
    }

    .languages {
      align-self: center;
      margin-left: auto;
      margin-right: 0;

      @include breakpoint(sm) {
        flex: 0 0 auto;
        margin-left: auto;
        margin-right: -20px;
      }
    }

    textarea {
      height: 260px;
      padding: 20px 20px 30px;
      margin-top: 0;
    }

    h3 {
      font-weight: normal;
      @include breakpoint(sm) {
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }

  &__photo {
    @include breakpoint(l) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    &-img {
      margin-bottom: 20px;
      width: 180px;
      height: 180px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0px 12px 29px 0px rgba(0, 0, 0, 0.15);
      margin-right: 47px;
      background-image: url(img/profile.svg);

      @include breakpoint(l) {
        margin-bottom: 0;
        width: 136px;
        height: 136px;
      }
    }

    &-button {
      margin-left: 15px;
    }
  }

  &__gender {
    display: flex;

    p {
      margin: 0 20px 0 0;
      font-weight: 600;
    }

    .radio {
      margin-right: 20px;

      label {
        padding-left: 20px;

        &::before,
        &::after {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__choices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 20px;

    @include breakpoint(sm) {
      margin-bottom: 0;
    }

    h3 {
      font-weight: normal;
      @include breakpoint(sm) {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  &__choice {
    width: 42.2%;

    @include breakpoint(l) {
      width: 100% !important;
    }

    @include breakpoint(sm) {
      padding: 0;
      margin-bottom: 30px;
    }

    @include breakpoint(l) {
      &--time {
        order: 0;
      }

      &--payment {
        order: 1;
      }

      &--period {
        order: 2;
      }

      &--last-hour {
        order: 3;
      }
    }
  }

  & .specialist-profile__time-options {
    display: grid;
    grid-template-columns: 1fr 88px;
  }

  .company__button-container button {
    height: 44px;

    @include breakpoint(sm) {
      height: 35px;
    }

    &::before {
      @include breakpoint(sm) {
        margin-right: 10px !important;
      }
    }
  }

  .input-wrapper--experience
    .select2-container
    .select2-selection--single
    .select2-selection__rendered {
    padding-top: 1px;
    padding-left: 135px;
  }

  .specialist-profile__choice--payment {
    padding-bottom: 35px;

    @include breakpoint(sm) {
      padding-bottom: 0;

      p {
        font-size: 0.875rem;
      }
    }

    .choice-wrapper {
      height: 85px;
      padding-left: 50px;

      @include breakpoint(890px) {
        padding: 10px 10px 10px 40px;
        height: auto;
      }

      label {
        @include breakpoint(xs) {
          font-size: 0.875rem;
        }
      }

      label:before {
        left: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);
      }
      label:after {
        left: calc(100% + 3px + 10px);
        top: 50%;
        transform: translateY(-50%);
      }
    }
    p {
      margin-top: 0;
    }
  }

  .specialist-profile__choice--period {
    width: auto;
    .choice-wrapper {
      width: 364px;
      height: 75px;

      @include breakpoint(890px) {
        border: none;
        padding: 0;
        height: auto;
      }
    }
    p {
      margin-top: 0;

      @include breakpoint(890px) {
        margin-bottom: 0;
      }
    }

    .checkbox {
      @include breakpoint(890px) {
        border: 1px solid $lightgray;
        border-radius: 5px;
        padding: 10px;

        p {
          font-size: 0.875rem;
        }
      }
    }

    label {
      @include breakpoint(sm) {
        padding-left: 25px;
      }
    }
  }

  .specialist-profile__choice--time {
    @include breakpoint(sm) {
      p {
        font-size: 0.875rem;
      }
    }
    .choice-wrapper {
      height: 148px;
      padding-left: 17px;

      @include breakpoint(sm) {
        padding: 10px;
        padding-right: 5px;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 10px;
        text-align: right;
      }
      .select2-selection--single {
        height: 23px;
        width: 82px;
        .select2-selection__arrow {
          height: 23px;
          right: -8px;
        }
        .select2-selection__rendered {
          line-height: normal;
          font-size: 0.875rem;
          height: 23px;
          display: inline-flex;
          align-items: center;
        }
      }
    }
    .select2-container--default {
      height: 23px;
      margin-bottom: 20px;
    }
  }

  .company__offer {
    width: auto;
    .company__offer-info {
      width: 364px;
      height: 95px;

      @include breakpoint(l) {
        width: 100%;
        height: auto;
      }
    }

    h3 {
      @include breakpoint(890px) {
        border: none;
        padding: 0;
      }
    }

    .checkbox {
      @include breakpoint(890px) {
        border: 1px solid $lightgray;
        padding: 10px;
        border-radius: 5px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    // .percent:before {
    //   top: 4px !important;
    // }
    // .percent:after,
    // .hours::after {
    //   top: 3px !important;
    // }
    .percent,
    .hours {
      right: -5px;
      height: 23px;
      input {
        height: 23px;
      }

      // &:after {
      //   top: 3px;
      // }
    }
  }

  &__payment {
    .checkbox {
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 18px;
        height: 16px;
        position: absolute;
        left: 5px;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--cash .checkbox::before {
      height: 20px;
      width: 25px;
      left: 11px;
      background-image: url("img/icons/cash.svg");
    }
    &--card .checkbox::before {
      width: 25px;
      height: 15px;
      left: 10px;
      background-image: url("img/icons/card.svg");
    }
    &--card label,
    &--cash label {
      padding-left: 45px;
    }
    &--card .checkbox {
      margin-bottom: 10px;
    }
  }

  @include breakpoint(890px) {
    .timetable__datepicker-container {
      width: 100%;
    }
  }
}

.choice-wrapper {
  display: flex;
  border: 1px solid $lightgray;
  padding: 20px;
  border-radius: 5px;
  width: 425px;

  @include breakpoint(l) {
    width: 100% !important;
  }
}
