.specialist {
  column-count: 2;

  @include breakpoint(l) {
    column-count: 1;
  }

  &.product {
    width: 100%;
    margin: 0;

    .product__block-like {
      margin-left: auto;
    }
  }

  .company__header {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    left: 0;
    margin-left: 0;
    padding: 60px 20px 0 0;
    display: inline-block;

    @include breakpoint(l) {
      box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.49);
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
      padding: 60px 40px 0;
      display: block;
    }
  }

  .company__header-top {
    flex-direction: column;
    align-items: flex-end;
  }

  &__header-left {
    display: flex;
    width: 100%;
  }

  &__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    // overflow: hidden;
    position: relative;
    background-size: 100%;
  }

  .company__nav {
    display: none;

    @include breakpoint(l) {
      display: block;
    }
  }

  .group__tab {
    width: 100%;
    border: none;
    display: block;
    break-after: always;
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid $lightgray;
    border-radius: 5px;
    padding: 10px;
  }

  .product__search {
    .ui-autocomplete {
      width: 140% !important;
      right: 0 !important;
      left: auto !important;
      // display: block !important;

      @include breakpoint(l) {
        width: 100% !important;
      }

      .ui-autocomplete-wrapper {
        max-height: 60vh;
      }

      .autocomplete-product.active {
        border: 1px solid $red;
      }
    }
  }

  .ui-widget.ui-datepicker {
    position: relative;
    z-index: 99 !important;
  }
}
