.statistics {
  $_this: &;

  max-width: 1200px;
  color: #323131;

  &__top {
    display: flex;
    color: $darkblue;

    @include breakpoint(xxs) {
      justify-content: space-between;
    }
  }

  &__header {
    padding-top: 60px;

    @include breakpoint(sm) {
      padding-top: 30px;
    }
  }

  &__photo {
    background-image: url(../img/1.jpg);
    max-width: 175px;
    max-height: 175px;
    background-size: 100%;
    border-radius: 50%;
    box-shadow: 0 12px 29px 0px rgba(0, 0, 0, 0.15);
    margin: 0 40px 0 20px;
    width: 100%;
      height: 100%;

    @include breakpoint(sm) {
      margin: 0 10px;
      max-width: 110px;
      max-height: 110px;
    }

    &::after {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
  }

  &__name {
    margin-top: 15px;

    @include breakpoint(sm) {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @include breakpoint(xxs) {
      margin-right: 10px;
    }

    h2 {
      font-size: 1.875rem;
      font-weight: 700;
      margin-top: 0px;
      margin-bottom: 0;

      @include breakpoint(sm) {
        font-size: 1.125rem;
        margin-bottom: 0;
      }
    }

    h3 {
      font-size: 0.875rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 20px;

      @include breakpoint(sm) {
        font-size: 0.75rem;
        // font-weight: 700;
        margin-bottom: 0px;
      }
    }

    p {
      font-family: "Sen", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 0px;
      margin-top: 5px;

      @include breakpoint(sm) {
        font-size: 0.75rem;
        margin-bottom: 8px;
        margin-top: 8px;
      }
    }
  }

  &__date {
    display: flex;
    margin-left: 235px;
    margin-bottom: 0px;
    top: -35px;
    position: relative;
    color: $darkblue;

    @include breakpoint(890px) {
      margin-left: 7px;
      margin-bottom: 15px;
      position: unset;
      top: 0;
      margin-top: 10px;
    }

    p {
      font-family: "Sen", sans-serif;
      font-weight: 400;
      font-size: 1.125rem;
      margin-top: 10px;
      @include breakpoint(sm) {
        font-size: 0.9375rem;
        // margin-top: 30px;
      }
    }
    .statistics__day--from {
      // margin-right: 7px;
      margin-bottom: 0;
    }

    .statistics__day--to {
      margin-bottom: 0;
    }

    input {
      font-weight: 700;
      font-size: 1.125rem;
      background: url(./img/icons/calendar.svg) no-repeat scroll 150px 0;
      background-size: 10%;
      border: none;
      margin-left: 15px;

      @include breakpoint(sm) {
        font-size: 0.9375rem;
        margin-left: 0px;
        background: url(./img/icons/calendar.svg) no-repeat scroll 120px 0;
        background-size: 12%;
        width: 144px;
      }
    }
  }

  .stat-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 200px 200px 200px 1fr;
    grid-template-rows: repeat(3, 190px) auto;
    grid-gap: 20px;

    @include breakpoint(l) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr) auto;
    }

    @include breakpoint(sm) {
      grid-gap: 6px;
      grid-template-rows: 150px 150px repeat(4, 145px) auto;
    }

    hr {
      margin: 0;
      background-color: #eeeeee;
    }

    h2 {
      margin: 0;
      display: flex;
      justify-content: space-between;

      &.centered {
        justify-content: center;
      }
    }

    h3 {
      margin: 0;

      &.centered {
        text-align: center;
      }
    }

    &__item {
      background-color: $darkgray;
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      color: $black;

      span {
        color: #323131;
      }

      .up,
      .down {
        display: flex;
        font-weight: 400;

        &::after {
          display: block;
          width: 7px;
          margin-left: 10px;

          @include breakpoint(sm) {
            width: 6px;
          }
        }
      }

      .up {
        &::after {
          content: url("img/icons/arrow-up-cyan.svg");
        }
      }

      .down {
        &::after {
          content: url("img/icons/arrow-up-red.svg");
          transform: rotate(180deg);
        }
      }

      &.center-align {
        .stat-grid__top {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &__top {
      height: 50%;
      padding: 15px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint(sm) {
        padding: 5px 10px;
        height: 45%;
      }

      .right-align {
        float: right;
        align-self: flex-end;
      }

      h2 {
        font-size: 1.875rem;
        align-items: center;
        font-weight: 600;

        @include breakpoint(sm) {
          font-size: 1.5rem;
        }

        span {
          font-size: 1.125rem;
          margin-left: 10px;
          font-weight: 400;

          @include breakpoint(sm) {
            font-size: 0.9375rem;
            margin-left: 5px;
          }
        }
      }
    }

    &__bottom {
      padding: 20px;
      color: #323131;

      @include breakpoint(sm) {
        padding: 10px 0 10px 10px;
      }

      h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1rem;

        @include breakpoint(sm) {
          font-size: 0.875rem;
        }

        & + h3 {
          margin-top: 10px;

          @include breakpoint(sm) {
            margin-top: 0;
          }
        }

        b {
          font-size: 1.125rem;

          @include breakpoint(sm) {
            font-size: 1rem;
          }
        }

        span {
          margin-left: 10px;
        }
      }
    }

    &__bottom-right {
      h2 {
        font-size: 1.875rem;
        align-items: center;
        font-weight: 600;
        justify-content: flex-end;
        color: $black;

        @include breakpoint(sm) {
          font-size: 1.5rem;
        }

        span {
          font-size: 1.125rem;
          font-weight: 400;
          margin-left: 10px;

          @include breakpoint(sm) {
            font-size: .875rem;
          }
        }
      }
    }

    &__clients {
      .stat-grid__top {
        @include breakpoint(sm) {
          height: 55%;
        }
      }

      &--all {
        grid-column: span 2;
        background-color: #ffb35b;

        hr {
          background-color: #e3af66;
        }

        .stat-grid__top {
          position: relative;
          padding: 30px 20px 0;
        }

        .stat-grid__bottom {
          display: flex;
          justify-content: space-between;
          padding: 15px 20px;

          @include breakpoint(sm) {
            padding: 5px 10px;
          }
        }
      }

      &--unique {
        grid-column: span 4;
        $_padding: 20px;

        @include breakpoint(l) {
          grid-column: span 2;
        }

        h3 {
          font-size: 1.25rem;
          margin: 20px 0;

          span {
            font-size: 1.5rem;
          }
        }

        .stat-grid__bottom {
          height: 100%;
          display: flex;
          justify-content: space-between;
          padding: $_padding;
        }
      }

      &--comeback {
        background-color: #c0c2e8;

        hr {
          background-color: #8c98e0;
        }
      }

      &--new {
        background-color: #5055be;
        color: $white;

        .stat-grid__bottom {
          color: $white;
        }

        span {
          color: $white;
        }

        hr {
          background-color: #293684;
        }
      }
    }

    .modebar-container {
      display: none !important;
    }

    .main-svg {
      background-color: transparent !important;
    }

    .js-plotly-plot,
    .plot-container {
      height: 100%;
    }

    &__client-donut {
      width: 100%;

      &.js-plotly-plot {
        height: 200px;

        @include breakpoint(l) {
          height: 400px;
        }

        @include breakpoint(sm) {
          height: 600px;
        }
      }
    }

    .pielayer {
      g.trace {
        &:first-of-type {
          transform: translateX(-70px);

          @include breakpoint(sm) {
            transform: none;
          }
        }

        &:last-of-type {
          transform: translateX(70px);

          @include breakpoint(l) {
            transform: none;
          }
        }

        &:nth-of-type(2) {
          @include breakpoint(l) {
            transform: translateX(70px);
          }

          @include breakpoint(sm) {
            transform: none;
          }
        }
      }
    }

    .infolayer {
      .annotation {
        &[data-index="0"] {
          transform: translateX(-70px);

          @include breakpoint(sm) {
            transform: none;
          }
        }

        &:last-of-type {
          transform: translateX(70px);

          @include breakpoint(sm) {
            transform: none;
          }
        }
      }
    }
  }

  &__client-heading {
    font-size: 1.5rem;
    color: $darkblue;

    @include breakpoint(sm) {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  &__client {
    display: grid;
    grid-template-columns: 28% 21% 24% 27%;
    background-color: $darkgray;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;

    @include breakpoint(l) {
      grid-template-columns: 35% 65%;
    }

    @include breakpoint(xs) {
      grid-template-columns: 30% 70%;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-left: 1px solid #e7e7e7;
      padding: 20px;

      @include breakpoint(l) {
        padding: 0 10px;

        br {
          display: none;
        }
      }

      &:first-of-type {
        border: none;

        @include breakpoint(l) {
          grid-area: 1 / 1 / 4 / 2;
        }
      }
    }

    h2 {
      margin: 0;
      font-family: "Sen", sans-serif;
      font-weight: 600;
      font-size: 1.5rem;

      @include breakpoint(sm) {
        font-size: 0.75rem;
      }
    }

    h3 {
      margin: 0;

      @include breakpoint(sm) {
        font-size: 0.75rem;
      }

      span {
        font-weight: 400;

        @include breakpoint(l) {
          margin-left: 5px;
        }

        @include breakpoint(sm) {
          font-size: 0.625rem;
        }
      }
    }
  }

  &__button-container {
    margin-bottom: 40px;
    width: calc(100% + 10px);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    button {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  &--company {
    $_photo: 83px;
    $_margin: 20px;

    @include breakpoint(l) {
      $_photo: 85.5px;
      $_margin: 10px;
    }

    #{$_this}__header {
      margin-bottom: 30px;
    }

    #{$_this}__date {
      top: 0;
      margin-left: 0;
      margin-top: 20px;
    }

    // #{$_this}__list-item {
    //   display: flex;
    // }

    #{$_this}__list-item {
      display: flex;
      margin-top: 20px;
    }

    #{$_this}__client-photo {
      width: $_photo;
      height: $_photo;
      border-radius: 50%;
      background-size: 100%;
      margin-right: $_margin;
      box-shadow: 0 12px 29px 0px rgba(0, 0, 0, 0.15);
    }

    #{$_this}__client {
      grid-template-columns: repeat(3, 1fr);
      width: calc(100% - #{$_photo} - #{$_margin});

      @include breakpoint(l) {
        grid-template-columns: 100%;
        margin-bottom: 0;
      }
    }

    #{$_this}__button-container {
      @include breakpoint(l) {
        margin-top: 20px;
      }
    }
  }

  &__button-container {
    margin-bottom: 40px;
    width: calc(100% + 10px);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    button {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  &--company {
    $_photo: 83px;
    $_margin: 20px;

    #{$_this}__header {
      margin-bottom: 30px;
    }

    #{$_this}__date {
      top: 0;
      margin-left: 0;
      margin-top: 20px;
    }

    // #{$_this}__list-item {
    //   display: flex;
    // }

    #{$_this}__list-item {
      display: flex;
      margin-top: 20px;
    }

    #{$_this}__client-photo {
      width: 83px;
      height: 83px;
      border-radius: 50%;
      background-size: 100%;
      margin-right: 20px;
      box-shadow: 0 12px 29px 0px rgba(0, 0, 0, 0.15);
    }

    #{$_this}__client {
      grid-template-columns: repeat(3, 1fr);
      width: calc(100% - #{$_photo} - #{$_margin});
    }
  }
}
