.statistics {
  max-width: 1200px;

  &__top {
    display: flex;
  }

  &__header {
    padding-top: 60px;
  }

  &__photo {
    background-image: url(../img/1.jpg);
    width: 175px;
    height: 175px;
    background-size: 100%;
    border-radius: 50%;
    box-shadow: 0 12px 29px 0px rgba(0, 0, 0, 0.15);
    margin: 0 20px;
  }

  &__date {
    display: flex;
  }

  .stat-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px 200px 300px;
    grid-gap: 20px;

    hr {
      margin: 0;
    }

    h3 {
      margin: 0;
      display: flex;
      justify-content: space-between;
    }

    &__item {
      background-color: $darkgray;
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);

      .up,
      .down {
        display: flex;
        &::after {
          display: block;
          width: 7px;
          margin-left: 10px;
        }
      }
      
      .up {
        &::after {
          content: url("img/icons/arrow-up-cyan.svg");
        }
      }

      .down {
        &::after {
          content: url("img/icons/arrow-up-red.svg");
          transform: rotate(180deg);
        }
      }

      &.center-align {
        .stat-grid__top {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &__top {
      height: 50%;
      padding: 20px;

      .right-align {
        float: right;
      }

      h3 {
        font-size: 1.875rem;
        align-items: center;

        span {
          font-size: 1.125rem;
          margin-left: 10px;
        }
      }
    }

    &__bottom {
      padding: 20px;

      h3 {
        font-family: 'Roboto', sans-serif;

        span {
          margin-left: 10px;
        }
      }
    }

    &__bottom-right {
      h3 {
        font-size: 1.875rem;
        align-items: center;

        span {
          font-size: 1.125rem;
        }
      }
    }

    &__clients {
      &--all {
        grid-column: span 2;
        background-color: #ffb35b;

        hr {
          background-color: #e3af66;
        }

        .stat-grid__top {
          // height: 100px;
          position: relative;
          padding: 40px 20px 0;
        }

        .stat-grid__bottom {
          display: flex;
          justify-content: space-between;
          padding: 15px 20px;
        }
      }

      &--unique {
        grid-column: span 4;

        .stat-grid__bottom {
          height: 100%;
          display: flex;
          justify-content: space-between;
        }
      }

      &--comeback {
        background-color: #c0c2e8;

        hr {
          background-color: #8c98e0;
        }
      }

      &--new {
        background-color: #5055be;
        color: $white;

        hr {
          background-color: #293684;
        }
      }
    }

    .modebar-container {
      display: none !important;
    }

    .main-svg {
      background-color: transparent !important;
    }

    .js-plotly-plot,
    .plot-container {
      height: 60px;
    }

    &__client-donut {
      width: 30%;
      
      &.js-plotly-plot,
      .plot-container {
        height: 200px;
      }

      // &.js-plotly-plot {
      //   width: 100%;
      // }

      // &--comeback {
        
      // }
    }
  }
}
