.user-profile {
  .company__container--info {
    h4 {
      margin-bottom: 25px;
      font-weight:400;
      font-size: 1.25rem;

      @include breakpoint(sm) {
        margin-bottom: 15px;
      }
    }
    .checkbox {
      margin-bottom: 20px;
      font-size: 0.875rem;
    }
  }

  .company__container--login {
    .user-profile__inputs-container {
      p {
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 1rem;

        @include breakpoint(sm) {
          font-size: 0.875rem;
        }
      }
    }

    .login-details--name {
      flex-basis: 29.4%;

      @include breakpoint(sm) {
        flex-basis: 100%;
        margin-bottom: 15px;
      }
    }
    .login-details--pass {
      flex-basis: 21%;

      @include breakpoint(sm) {
        flex-basis: 100%;
        margin-bottom: 15px;
      }
    }
  }
  .group__tab {
    margin-top: 40px;

    p {
      margin-top: 45px;
      margin-bottom: 40px;
    }

    @include breakpoint(sm) {
      margin-top: 30px;
    }

    .recommendations-p {
      @include breakpoint(sm) {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 55px;
        padding-right: 55px;
        color: $red;
      }
    }
  }

  .company__header ul.company__nav {
    overflow-x: visible;

    &::-webkit-scrollbar {
      height: 8px;
    }

    @include breakpoint(xl) {
      overflow-x: auto;
    }
  }

  &__price {
    text-align: center;
    font-weight: 600;
    margin-bottom: 33px;

    @include breakpoint(sm) {
      margin-top: -10px;
      margin-bottom: 20px;
    }

    span {
      color: $cyan;
    }
  }

  &__reserve {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;

    &::before{
      margin-right: 20px;
      content: url(img/icons/checkmark-white.svg);
      width: 30px;
      height: 30px;
      display: inline-block;
    }

    @include breakpoint(sm) {
      height: 36px;
    }
  }

  &__inputs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;

    .input-wrapper--user,
    .input-wrapper--envelope {
      flex-basis: 50.3%;

      @include breakpoint(sm) {
        flex-basis: 100%;
      }
    }

    .input-wrapper--age,
    .input-wrapper--phone {
      flex-basis: 17%;

      .input-arrow {
        right: 15px;
      }
    }

    .input-wrapper--phone {
      // flex-basis: 50%;
      margin-right: 10px;
    }

    .input-wrapper--age {
      top: -2px;

      @include breakpoint(sm) {
        flex-basis: 100%;
      }
    }

    .input-container--city {
      flex-basis: calc(25% - 10px);

      .select2-selection--single .select2-selection__arrow b {
        right: 10px;
      }
    }

    .specialist-profile__gender {
      // margin-bottom: 10px;
      height: 40px;
      @include breakpoint(sm) {
        margin-top: 10px;
      }

      p {
        margin-top: 0;

        @include breakpoint(sm) {
          padding-left: 0;
          padding-right: 25px;
          margin-right: 0;
          font-size: 0.875rem;
        }
      }
    }

    .about-datepicker {
      padding-left: 50px;
      height: 36px;

      @include breakpoint(sm) {
        padding-left: 40px;
        height: 32px;
      }

      & ~ .input.arrow {
        right: 10px;
      }
    }
  }

  .checkbox {
    label a {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .login-details {
    margin-right: 20px;
    @include breakpoint(sm) {
      margin-right: 0;

      input {
        height: 32px;
      }
    }
  }

  .change-login {
    margin-left: auto;
    align-self: flex-end;

    @include breakpoint(sm) {
      flex-basis: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      height: 32px;
    }
  }
}

.cart {
  padding: 10px 20px 0;
  border: 1px solid $lightgray;
  border-bottom: 0;
  border-radius: 5px;
  margin: 0 0 40px;

  @include breakpoint(sm) {
    padding: 10px 10px 0;
  }

  &__header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid $lightgray;
    margin-bottom: 20px;

    @include breakpoint(sm) {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  &__about {
    display: flex;
    align-items: center;

    h3 {
      font-weight: 900;
      margin: 0 20px 0 0;
    }

    h4 {
      font-weight: 400;
      margin: 0;
    }

    &--time {
      flex-basis: 35.5%;
      flex-basis: auto;
      width: 380px;

      @include breakpoint(sm) {
        flex-basis: 100%;
        margin-bottom: 5px;
      }
    }

    &--company {
      @include breakpoint(sm) {
        flex-basis: 100%;
        display: block;
        h3 {
          padding-bottom: 5px;
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;

    h3,
    h4 {
      margin: 0;
    }

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  &__specialist {
    display: flex;
    align-items: center;
    width: 390px;
    flex-basis: 37%;
    // flex-basis: 33%;
    // flex-basis: 33%;

    @include breakpoint(sm) {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
  }

  &__photo {
    background-image: url(img/profile.svg);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 12px 29px 0px rgba(0, 0, 0, 0.08);
  }

  &__name {
    top: -10px;
    position: relative;
  }

  &__products {
    flex-basis: 67%;

    @include breakpoint(sm) {
      flex-basis: 100%;
      display: block;
      width: 100%;
    }

    .product-action {
      margin-bottom: 10px;
      padding-bottom: 10px;
      padding-top: 8px;
      height: 60px;

      @include breakpoint(sm) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .product-action__duration,
  .product-action__price,
  .product-action__periodicity {
    margin-top: 8px;
  }

  &__buttons.company__button-container {
    margin-top: 10px;
    .cart__trash,
    .cart__reserve {
      flex-basis: 35.5%;
      height: 36px;

      @include breakpoint(sm) {
        height: 26px;
        flex-basis: 26%;
      }
    }

    .cart__trash {
      &::before {
        height: 20px;
        width: 20px;
        margin-right: 20px;
        content: url("img/icons/trash-cyan.svg");
        @include breakpoint(sm) {
          height: 15px;
          width: 15px;
          margin-right: 10px;
        }
      }
    }

    .cart__change-time {
      flex-basis: 27%;
      height: 36px;

      @include breakpoint(sm) {
        height: 26px;
      }

      &::before {
        height: 20px;
        width: 20px;
        margin-right: 20px;
        content: url("img/icons/clock-white.svg");
        @include breakpoint(sm) {
          height: 15px;
          width: 15px;
          margin-right: 10px;
        }
      }
    }

    .cart__change-time-register {
      flex-basis: 64%;
      height: 36px;
      &::before {
        margin-right: 20px;
        @include breakpoint(sm) {
          margin-right: 10px;
          height: 15px;
          width: 15px;
        }
      }
      @include breakpoint(sm) {
        height: 26px;
        flex-basis: 26%;
      }
    }

    .history__button {
      flex-basis: 35.5%;
      height: 36px;
      &::before {
        content: none;
      }
      @include breakpoint(sm) {
        height: 26px;
      }

      &--register {
        &::before {
          content: none;
        }
        @include breakpoint(sm) {
          flex-basis: 35.5%;
        }
      }
    }

    .recommendations {
      &::before {
        content: none;
      }
      height: 36px;
      @include breakpoint(sm) {
        height: 26px;
      }
    }

    button {
      margin: 0;
      flex: auto;

      @include breakpoint(sm) {
        height: 35px;

        &::before{
          margin-right: 10px;
        }
      }

      &:nth-of-type(2) {
        border-radius: 0;
      }

      &:first-of-type {
        border-bottom-left-radius: 5px;
      }

      &:last-of-type {
        border-bottom-right-radius: 5px;
      }

      &.cyan-text {
        color: $cyan;
      }

      &.orange-text {
        color: $orange;
      }

      &.red-text {
        color: $red;
      }
    }
  }
}
