.user-profile {
  .company__container--info {
    h4 {
      margin-bottom: 25px;
      font-weight:400;
      font-size: 1.25rem;

      @include breakpoint(sm) {
        margin-bottom: 15px;
      }
    }
    .checkbox {
      margin-bottom: 20px;
      font-size: 0.875rem;
    }
  }

  .company__container--login {
    .user-profile__inputs-container {
      p {
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 1rem;

        @include breakpoint(sm) {
          font-size: 0.875rem;
        }
      }
    }

    .login-details--name {
      flex-basis: 24.5%;

      @include breakpoint(1190px){
        flex-basis: 40%;
      }

      @include breakpoint(sm) {
        flex-basis: 100%;
        margin-bottom: 15px;
      }

      .input-icon{
        background: url(img/icons/lock.svg) no-repeat scroll;
        top: 5px;
        left: 16px;
      }
    }
    .login-details--pass {
      flex-basis: 24.5%;

        @include breakpoint(1190px){
        flex-basis: 40%;
      }

      @include breakpoint(sm) {
        flex-basis: 100%;
        margin-bottom: 15px;
      }
    }
    #pass-info{
      font-size: 0.875rem;
      font-family: 'Sen', sans-serif;
      flex-basis: 35%;
      margin-top: 25px;
      margin-bottom: 0;
      @include breakpoint(1040px){
        flex-basis: 100%;
      }
      @include breakpoint(sm){
        margin-top: 0;
      }
    }
  }
  .group__tab {
    margin-top: 40px;
    // border: none;

    p {
      margin-top: 45px;
      margin-bottom: 40px;
    }

    @include breakpoint(sm) {
      margin-top: 30px;
    }

    .recommendations-p {
      @include breakpoint(sm) {
        margin-top: 20px;
        margin-bottom: 20px;
        // padding-left: 55px;
        // padding-right: 55px;
        // color: $red;
      }
    }
  }

  .company__header ul.company__nav {
    // overflow-x: hidden;

    &::-webkit-scrollbar {
      height: 8px;
    }

    @include breakpoint(xl) {
      // overflow-x: hidden;
    }
  }

  &__price {
    text-align: center;
    font-weight: 600;
    margin-bottom: 33px;

    @include breakpoint(sm) {
      margin-top: -10px;
      margin-bottom: 20px;
    }

    span {
      color: $cyan;
    }
  }

  &__reserve {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;

    &::before{
      margin-right: 20px;
      content: url(img/icons/checkmark-white.svg);
      width: 30px;
      height: 30px;
      display: inline-block;

      @include breakpoint(sm){
        height: 22px;
        width: 22px;
        margin-right: 10px;
      }
    }

    @include breakpoint(sm) {
      height: 36px;
      font-size: 1rem;
    }
  }

  &__inputs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;

    .input-wrapper--user,
    .input-wrapper--envelope {
      flex-basis: 50.3%;

      @include breakpoint(sm) {
        flex-basis: 100%;
      }
    }

    .input-wrapper--age,
    .input-wrapper--phone {
      flex-basis: 17%;

      .input-arrow {
        right: 15px;
      }
    }

    .input-wrapper--phone {
      // flex-basis: 50%;
      margin-right: 10px;
    }

    .input-wrapper--age {
      top: -2px;

      @include breakpoint(sm) {
        flex-basis: 100%;
      }
    }

    .input-container--city {
      flex-basis: calc(25% - 10px);

      .select2-selection--single .select2-selection__arrow b {
        right: 10px;
      }
    }

    .specialist-profile__gender {
      // margin-bottom: 10px;
      height: 40px;
      @include breakpoint(sm) {
        margin-top: 10px;
      }

      p {
        margin-top: 0;

        @include breakpoint(sm) {
          padding-left: 0;
          padding-right: 25px;
          margin-right: 0;
          font-size: 0.875rem;
        }
      }
    }

    .about-datepicker {
      // padding-left: 50px;
      height: 36px;

      @include breakpoint(sm) {
        // padding-left: 40px;
        height: 32px;
      }

      & ~ .input.arrow {
        right: 10px;
      }
    }
  }

  .checkbox {
    label a {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .login-details {
    margin-right: 20px;
    @include breakpoint(sm) {
      margin-right: 0;

      input {
        height: 32px;
      }
    }
  }

  .change-login {
    margin-left: auto;
    align-self: flex-end;

    @include breakpoint(sm) {
      flex-basis: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      height: 32px;
    }
  }
}
