.user-profile {
  .group__tab{
    margin-top: 40px;

    p{
      margin-top: 45px;
      margin-bottom: 40px;
    }
  }

  .company__header ul.company__nav {
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 8px;
    }

    li {
      margin-right: 15px;
    }
  }

  &__price {
    text-align: center;
    font-weight: 600;
    margin-bottom: 33px;

    span {
      color: $cyan;
    }
  }

  &__reserve {
    width: 100%;
    height: 45px;
  }

  &__inputs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .input-wrapper--user, .input-wrapper--envelope {
      flex-basis: 40%;
    }

    .input-wrapper--age, .input-wrapper--phone {
      flex-basis: 25%;

      .input-arrow{
        right: 15px;
      }
    }

    .specialist-profile__gender {
      margin-bottom: 10px;
    }

    .about-datepicker {
      padding-left: 50px;

      @include breakpoint(sm) {
        padding-left: 40px;
      }
    }
  }

  .checkbox {
    label a {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .login-details {
    margin-right: 20px;
  }

  .change-login {
    margin-left: auto;
    align-self: flex-end;
  }
}

.cart {
  padding: 10px 20px 0;
  border: 1px solid $lightgray;
  border-bottom: 0;
  border-radius: 5px;
  margin: 0 0 40px;

  &__header {
    display: flex;
padding-bottom: 10px;
    border-bottom: 1px solid $lightgray;
    margin-bottom: 20px;
  }

  &__about {
    display: flex;
    align-items: center;

    h3 {
      font-weight: 900;
      margin: 0 20px 0 0;
    }

    h4 {
      font-weight: 400;
      margin: 0;
    }

    &--time {
      flex-basis: 33%;
      flex-basis: auto;
      width: 380px;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;

    h3, h4 {
      margin: 0;
    }
  }

  &__specialist {
    display: flex;
    align-items: center;
    width: 390px;
    // flex-basis: 33%;
    // flex-basis: 33%;
  }

  &__photo {
    background-image: url(img/profile.svg);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  &__name{
    top: -10px;
  position: relative;
  }

  &__products {
    flex-basis: 67%;

    .product-action {
      margin-bottom: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  &__buttons.company__button-container {
    margin-top: 10px;
    .cart__trash, .orange{
      width: 400px;
      height: 45px;
    }
    .cart__change-time{
      width: 320px;
      height: 45px;
    }

    .cart__change-time-register {
      width: 720px;
    }

    button {
      margin: 0;
      flex: auto;

      &:nth-of-type(2) {
        border-radius: 0;
      }

      &.cyan-text {
        color: $cyan;
      }

      &.orange-text {
        color: $orange;
      }

      &.red-text {
        color: $red;
      }
    }
  }
}
