$breakpoint-xs: 480px;
$breakpoint-sm: 665px;
$breakpoint-xl: 1180px;

@mixin breakpoint($size) {
    @if ($size == xs) {
        @media (max-width: $breakpoint-xs) {@content;}  
    } @else if ($size == sm) {
        @media (max-width: $breakpoint-sm) {@content;}
    } @else if ($size == xl) {
        @media (max-width: $breakpoint-xl) {@content;}
    }
}