$darkdarkblue: #282e4b;
$darkblue: #101b51;
$darkwashedblue: #3b415b;
$blue: #4a68ad;
$cyan: #5999b4;
$lightblue: #94bbcd;
$orange: #ff9954;
$red: #e54651;
$white: #fff;
$lightgray: #e8e8e8;
$gray: #8d92a3;
$darkgray: #f4f4f6;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $orange;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-breadcrumbs: #ecedef;

$color__text-screen: $darkblue;
$color__text-input: $darkblue;
$color__text-input-focus: #111;
$color__link: $darkblue; //royalblue
$color__link-hover: $darkblue; //midnightblue
$color__text-main: $darkblue;
$color__sidebar-main: $darkwashedblue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $darkblue;
$color__border-abbr: #666;